/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.discussionsList .discussionsFilter .fields:last-of-type {
  margin-bottom: 0 !important; }

.discussionsList .discussionsFilter .createDiscussionBtn {
  float: right;
  height: 100%;
  margin-right: 0 !important;
  width: 100%; }
  .discussionsList .discussionsFilter .createDiscussionBtn a .icon {
    margin-right: 0 !important; }

.discussionsList .discussionsFilter .advancedOptions {
  margin: 12px 0; }

.discussionsList .advancedOptions button {
  height: 100%; }

.discussionsList .emptyDiscussionContainer {
  text-align: center; }
  .discussionsList .emptyDiscussionContainer .header {
    font-size: 20px; }
