@import '../../../css/colors.scss';

.archivesList {
    width: 100%;

    .archiveWrapper {
        margin-top: 14px;
        width: 100%;
    }

    .emptyArchiveContainer {
        .message {
            text-align: center;
        }
    }
}
