/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
.archivesList .archiveWrapper {
  margin-top: 14px; }

.archivesList .emptyArchiveContainer .message {
  background: #FFFFFF;
  text-align: center; }
