@import '../../../css/colors.scss';

.archivesList {
    .archiveWrapper {
        margin-top: 14px;
    }

    .emptyArchiveContainer {
        .message {
            background: $white
            text-align: center;
        }
    }
}
