/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
.archivesList {
  width: 100%; }
  .archivesList .archiveWrapper {
    margin-top: 14px;
    width: 100%; }
  .archivesList .emptyArchiveContainer .message {
    text-align: center; }
