/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.archivesList {
  width: 100%; }
  .archivesList .archiveWrapper {
    margin-top: 14px;
    width: 100%; }
