.fallacyWrapper {
	.fallacyBlock {
		width: 100%;

		h2 {
			background: $white;
			border-bottom: solid 1px $border-gray;
			color: $textColor;
			font-size: 24px;
			line-height: 1;
			margin-bottom: 0;
			padding: 10px 12px;
			text-align: center;

			@media screen and (max-width: $break-xsmall) {
				font-size: 18px;
				padding: 5px 6px;
			}
		}

		p {
			color: $textColor;
			font-size: 16px;
			margin: 0;
			padding: 6px 16px;

			@media screen and (max-width: $break-xsmall) {
				font-size: 12px;
				padding: 3px 8px;
			}
		}

		.exampleInfo {
			background: $white;
			font-style: italic;
			padding: 0 16px;
			width: 100%;

			h3 {
				color: $textColor;
				margin: 0;
				padding: 8px 5px;
				text-align: center;

				@media screen and (max-width: $break-xsmall) {
					font-size: 13px;
					padding: 4px 2px;
				}
			}
		}

		.timeline {
			margin-top: 10px;

			li {
				.timeline-badge {
					&.warning {
						color: $warningRed;
					}
				}

				&.left {
		            .timeline-panel {
		                float: left;

		                &:before {
		                    border-left-width: 15px;
		                    border-right-width: 0;
		                    left: auto;
		                    right: -15px;
		                }

		                &:after {
		                    border-left-width: 14px;
		                    border-right-width: 0;
		                    left: auto;
		                    right: -14px;
		                }
		            }
		        }

		        &.right {
		            .timeline-panel {
		                float: right;

		                &:before {
		                    border-left-width: 0;
		                    border-right-width: 15px;
		                    left: -15px;
		                    right: auto;
		                }

		                &:after {
		                    border-left-width: 0;
		                    border-right-width: 14px;
		                    left: -14px;
		                    right: auto;
		                }
		            }
		        }

				.timeline-heading {
					h4 {
						font-size: 18px !important;

						@media screen and (max-width: $break-xsmall) {
							font-size: 12px !important;
						}
					}

					.svg {
						border: solid 1px $border-gray;
						height: 50px;
						vertical-align: middle;
						width: 50px;

						@media screen and (max-width: $break-xsmall) {
							height: 25px;
							width: 30px;
						}
					}
				}

				.timeline-body {
					p {
						padding: 0;
						line-height: 1.4;
						font-size: 16px;

						@media screen and (max-width: $break-xsmall) {
							font-size: 13px;
						}
					}
				}
			}
		}

		.fallacyExplanation {
            margin: 0 10px;
			padding: 5px 10px 8px;
			width: auto;

			@media screen and (max-width: $break-xsmall) {
				padding: 3px 2px 4px;
			}

			p {
				background: $instBackground;
				border-bottom: solid 1px $instBorderColor;
            	border-top: solid 1px $instBorderColor;
				color: $textColor;
				font-size: 14px;
				line-height: 1.5;
				margin: 0;
				padding: 3px 12px 5px 12px;

				@media screen and (max-width: $break-xsmall) {
					font-size: 12px;
					padding: 3px 6px 5px 6px;
				}
			}
		}
	}
}

section#fallacy {
	left: 33.3%;
	padding-top: 46px;
    position: relative;
    width: 100%;

    @media screen and (max-width: $break-xsmall) {
		left: 0;
		padding-top: 0;
	}

    .col-md-8 {
    	margin-top: 10px;
    	padding: 0 10px;

    	@media screen and (max-width: $break-xsmall) {
			margin-top: 0;
		}

    	#contradictionFallacy {
    		margin-top: 20px;
    	}

	    h1,
	    h2,
	    h3 {
	    	border-bottom: solid 1px $border-gray;
	    	color: $textColor;
	    	font-size: 22px;
			line-height: 1;
			margin: 0;
			margin-bottom: 5px;
			padding: 0 6px 6px 6px;

			.badge {
				background: $white;
				color: $textColor;
				float: right;
				font-size: 18px;
				font-weight: normal;
				line-height: 1;
				padding: 0;
			}

			@media screen and (max-width: $break-xsmall) {
				font-size: 16px;
				padding: 0 0 6px 0;
			}
	    }

	    #fallacyInfo {
	    	margin-bottom: 5px;
	    }

		.fbPost {
			p {
		        font-size: 16px;
		        margin-bottom: 4px;
		        margin-top: 0;
		        overflow: hidden;

		        a {
		            cursor: pointer;
		        }

		        img {
		        	border-radius: 6px;
		            height: 40px;
		            margin-right: 5px;
		            vertical-align: middle;
		            width: 40px;
		        }

		        span.verticalBreak {
		            display: inline-block; 
		            margin-top: -3px;
		            vertical-align: top;

		            .text-muted {
		                color: $boldSubTextColor;
		                font-size: 14px;
		            }

		            a {
		                display: inline-block;
		            }
		        }

		        @media screen and (max-width: $break-xsmall) {
					font-size: 14px;

					span.verticalBreak {
						.text-muted {
		                	font-size: 12px;
		            	}
		            }
				}
		    }

			p.status {
				color: $textColor;
				font-size: 16px;
				margin-left: 45px;
				margin-bottom: 12px;
				position: relative;
				text-align: left;

				@media screen and (max-width: $break-xsmall) {
					font-size: 14px;
				}
			}

			.attachmentInfo {
				background: $almostWhite;
				border: solid 1px $border-gray;
				margin-bottom: 7px;
		        margin-top: 0;
		        overflow: hidden;
		        padding: 6px;
		        text-align: center;

		        img {
		            border-radius: 6px;
		            height: 100%;
		            object-fit: contain;
		            overflow: hidden;
		            width: 200px;
		            height: auto;
		        }

		        video {
		        	object-fit: initial;
		            height: 300px;
		            width: 100%;
		        }

		        .attachmentMeta {
		            background: $white;
		            border: solid 1px $border-gray;
		            cursor: pointer;
		            margin-top: 5px;
		            min-height: 81px;
		            padding: 10px 14px;
		            text-align: left;
		            transition: 0.3s;

		            p {
		                &.metaTitle {
		                    color: $textColor;
		                    font-weight: 700;
		                }

		                &.metaDescription {
		                	color: $subTextColor;
		                    display: -webkit-box;
		                    font-size: 14px;
		                    margin-bottom: 0;
		                    overflow: hidden;
		                    -webkit-line-clamp: 3;
		                    -webkit-box-orient: vertical;
		                    word-wrap: break-word;
		                }

		                &.metaUrl {
		                    color: #8899a6;
		                    margin-bottom: 0;
		                }
		            }
		        }
		    }
		}

		.twitterTweet {
			text-align: left;

			p.tweetTitle {
	            font-size: 16px;
	            margin-bottom: 4px;
	            margin-top: 0;
	            overflow: hidden;

	            img {
	            	border-radius: 6px;
	                height: 40px;
	                vertical-align: middle;
	                width: 40px;
	            }

	            span.verticalBreak {
	            	color: $boldSubTextColor;
	                display: inline-block; 
	                margin-top: -3px;
	                vertical-align: top;

	                .text-muted {
	                    font-size: 16px;
	                }

	                a {
	                    display: inline-block;
	                }
	            }

	            @media screen and (max-width: $break-xsmall) {
	            	font-size: 14px;
	            	margin-bottom: 14px;

	            	img {
	            		height: 30px;
	            		width: 30px;
	            	}

	            	span.verticalBreak {
	            		margin-left: 1px;

		                .text-muted {
		                    font-size: 14px;
		                }
		            }
	            }
	        }

			p.tweetText {
				color: $textColor;
				font-size: 16px;
				margin-left: 45px;
				margin-bottom: 0;
				position: relative;
				text-align: left;
				top: -25px;

				@media screen and (max-width: $break-xsmall) {
					font-size: 14px;
					margin-left: 34px;
				}
			}

			.attachmentInfo {
		        background: $almostWhite;
				border: solid 1px $border-gray;
		        margin-top: 0;
		        overflow: hidden;
		        padding: 6px;
		        text-align: center;

		        img {
		        	margin-bottom: 15px;
		            border-radius: 6px;
		            height: 200px; 
		            object-fit: contain;
	                overflow: hidden;
		            width: 100%;
		        }

		        video {
		            object-fit: initial;
		            height: 300px;
		            width: 100%;
		        }

		        .attachmentMeta {
		            background: $white;
		            border: solid 1px $border-gray;
		            cursor: pointer;
		            min-height: 81px;
		            padding: 10px 14px;
		            text-align: left;
		            transition: 0.3s;

		            p {
		                &.metaTitle {
		                    color: $textColor;
		                    font-weight: 700;
		                }

		                &.metaDescription {
		                	color: $subTextColor;
		                    display: -webkit-box;
		                    margin-bottom: 0;
		                    overflow: hidden;
		                    -webkit-line-clamp: 3;
		                    -webkit-box-orient: vertical;
		                    word-wrap: break-word;
		                }

		                &.metaUrl {
		                    color: #8899a6;
		                    margin-bottom: 0;
		                }
		            }
		        }
		    }

		    .postStats {
		        background: $almostWhite;
		        border-bottom: solid 1px $border-gray;
		        border-top: solid 1px $border-gray;
		        font-weight: 700;
		        margin-top: 15px;
		        padding: 6px;

		        .retweetCount, 
		        .favoriteCount {
		            float: left;
		            font-size: 16px;
		            line-height: 16px;
		            padding: 0 10px;
		        }

		        .retweetCount, 
		        .likeCount {
		            color: $textColor;
		            line-height: 16px;
		            padding-left: 0;

		            .fa {
		                color: $electricBlue;
		            }
		        }

		        .favoriteCount, 
		        .commentCount {
		            color: $textColor;
		            line-height: 16px;

		            .fa {
		                color: $blockGreen;
		            }
		        }
		    }

		    .quotedStatus {
		    	border: solid 1px $border-gray;
		    	border-radius: 6px;
		    	cursor: pointer;
		    	margin-top: 10px;
		    	padding: 12px;

		    	p.status {
		    		color: $textColor;
		    	}

		    	&:hover {
		    		border: solid 1px $electricBlue;
		    	} 
		    }
		}

		.youtubeComment {
			.commenterInfo {
				font-size: 16px;
				margin-bottom: 0;
				padding: 0 0 8px 0;
				z-index: 9;

				img {
					background: $white;
					border-radius: 5px;
					height: 48px;
					padding: 3px;
					width: 48px;
					vertical-align: text-top;
				}

				span.timeAgo {
					color: $subTextColor;
				}
			}

			.statusBlock {
				background: $white;
				margin-top: -32px;
				padding: 0 0 0 48px;

				p {
					color: $textColor;
					font-size: 16px;
					line-height: 1.2;
					margin-bottom: 0;
					padding: 0px 5px 3px 5px;

					&.status {
						background: $white;
					}

					@media screen and (max-width: $break-xsmall) {
						font-size: 14px;
					}
				}

				p.likeCount {
					font-size: 14px;
					padding: 7px;

					.fa-thumbs-up {
						color: $electricBlue;
					}

					span.fallacyCount {
						color: $linkColor;
						cursor: pointer;
						display: none;
						margin-left: 5px;
					}
				}

				.clearfix {
					width: 0;
				}
			}
		}
		
		.youtubeVideo {
			.col-md-6 {
				padding: 0;
			} 

			#player,
			#contPlayer {
				height: 236px;
				width: 100%;
			}
		}

		p.videoTitle {
			color: $textColor;
			font-size: 18px;
			margin: 0;

			@media screen and (max-width: $break-xsmall) {
				font-size: 14px;
			}
		}

		.statsBlock {
			padding: 7px 0;

			form.updateVideoTimes {
				padding: 10px 0;

				.input-group {
					margin-top: 4px;
					width: 2%;

					.input-group-addon {
						background: $white;
						border: none; 
						padding: 6px 8px;

						.fa {
							color: $quebec;
						}
					}

					.form-control {
						border: none;
						cursor: default;
						font-size: 16px;
						width: 75px;
					}
				}

				.btn {
					background: $quebec;

					&.done {
						background: $koivu;

						&:hover {
							background: $koivu;
						}
					}

					&:hover {
						background: darken($quebec, 6%);
					}
				}
			}
		}

		#explanationWrapper {
			padding: 0;

			.userInfo {
				font-size: 16px;
				margin-bottom: 0;
				padding: 0 0 8px 0;
				z-index: 9;

				img {
					background: $white;
					border-radius: 5px;
					height: 48px;
					width: 48px;
					vertical-align: text-top;
				}

				span.timeAgo {
					color: $subTextColor;
				}

				@media screen and (max-width: $break-xsmall) {
					font-size: 14px;

					img {

					}
				}
			}

			p#explanation {
				color: $textColor;
				font-size: 16px;
				margin-top: -32px;
				overflow: hidden;
				padding: 0 0 0 52px;

				@media screen and (max-width: $break-xsmall) {
					font-size: 14px;
				}
			}

			a#editExplanationInit {
				float: right;
				margin: 5px 0;

				&.link {
					background: #337ab7;
					color: $white;
					padding: 6px 12px;
				}
			}

			textarea {
				border: solid 1px $border-gray;
				border-radius: 0;
				display: none;
				height: 140px;
				margin: 5px 0;

				&.visible {
					display: block;
				}
			}
		}

		#commentWrapper {
			padding: 3px 0;

			#postComment {
				textarea {
					border: solid 1px $border-gray;
					border-radius: 0;
					height: 80px;

					&.error {
						border: solid 1px $youtubeRed;
					}
				}

				button {
					border-radius: 0;
					margin-top: 7px;

					&.done {
						background: $koivu;
					}
				}
			}

			#comments {
				text-align: center;

				.fallacyComment {
					text-align: left;

					.userInfo {
						font-size: 16px;
						margin-bottom: 0;
						padding: 0 0 8px 0;
						z-index: 9;

						img {
							background: $white;
							border-radius: 5px;
							height: 48px;
							width: 48px;
							vertical-align: text-top;
						}

						span.timeAgo {
							color: $subTextColor;
						}
					}

					p.message {
						color: $textColor;
						font-size: 16px;
						margin-top: -32px;
						padding: 0 0 0 52px;
					}
				}
			}


			.ajaxLoader {
				padding: 50px 0;
				text-align: center;

				.fa {
					color: $textColor;
					font-size: 32px;
				}
			}

			.showMore {
				width: 100%;
			}
		}
	}

	.assignCommentFallacy,
	.postStats {
		padding-right: 7px;

		.fa {
			font-size: 16px;
		}

		.fa-thumb-tack {
	    	color: $linkColor;
	    	margin-right: 16px; 
	    }

	    .fa-facebook {
	    	color: $facebookBlue;
	    }

	    .fa-twitter {
	    	color: $twitterBlue;
	    }

	    .fa-youtube {
	    	color: $youtubeRed;
	    }
	}

	.col-md-4 {
		margin-top: 10px;
		padding: 0 10px;

		h3 {
			border-bottom: solid 1px $border-gray;
			color: $textColor;
			font-size: 22px;
			line-height: 1;
			margin: 0;
			padding: 0 6px 6px 6px;
			vertical-align: middle;
			text-align: left;

			@media screen and (max-width: $break-xsmall) {
				font-size: 16px;
			}
		}

		#viewCount {
			color: $textColor;
			font-size: 42px;
			text-align: center;
		}

		#exampleLink {
			margin-top: 8px;
			min-height: 89px;

			.fa {
				color: $textColor;
				font-size: 16px;
				margin-right: 5px;
			}

			iframe {
				margin-top: 8px;
			}
		}

		#similarWrapper {
			margin-top: 20px;

			#loadSimilar {
				.feedBlock {
					cursor: pointer;

					&:first-of-type {
						border-top: 0;
					}

					h2 {
						a {
							display: inherit;
							font-size: 16px;
						}

						.verticalBreak span {
							color: $black;
							font-size: 13px;
						}
					}
				}

				.ajaxLoader {
					padding: 40px 0;
					text-align: center;

					.fa {
						color: $black;
						font-size: 32px;
					}
				}
			}
		}
	}
}