@import 'variables';

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

@import 'autocomplete';
@import 'fallacies';
@import 'feed';
@import 'header';
@import 'modal'; 
@import 'page';
@import 'settings';
@import 'sidebar';
@import 'status';
@import 'timeline';
@import 'tweet';
@import 'video';

// Font-awesome
@import url('font-awesome.min.css');

// Google fonts
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic');

#screenSizeError {
	display: none;
}

html {
	height: 100%;

	body {
		height: 100%;	
	}
}

body, 
input, 
select, 
textarea {
	color: _palette(fg);
	font-family: _font(family);
	font-weight: _font(weight);
}

a {
	text-decoration: none;
	color: $linkColor;

	&:hover,
	&:active,
	&:focus {
		color: $linkColorHover;
		border-bottom-color: transparent; 
		text-decoration: none;
	}
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
	border: none;
	outline: none;
	box-shadow: none;
}


input[type="text"], 
input[type="password"], 
input[type="email"], 
select, 
textarea {
	border-radius: 0;
	box-shadow: none;
	display: block;
	height: auto;
	outline: none;
	padding: 3px;
	text-decoration: none;
	width: 100%;

	&:invalid {
		box-shadow: none;
	}
}

.form-control {
	box-shadow: none;
	-webkit-box-shadow: none;

	&:focus {
		box-shadow: none;
		outline: none !important;
		-webkit-box-shadow: none;
	}

	&:disabled {
		background-color: $white;
	}
}

.btn {
	border: none;
	border-radius: 0;
}

#main {
	padding: 0;
	position: relative;
	top: 59px;
	width: 75%;

	@media screen and (max-width: $break-xsmall) {
		top: 49px;
		width: 100%;
	}

	&.fallacyBlock {
		top: 5px;
		width: 100%;
	}

	#about {
		left: 33.3%;
		padding: 15px 15px;
		position: relative;
		width: 100%;

		@media screen and (max-width: $break-xsmall) {
			left: 0;
		}

		.jumbotron {
			background: $almostWhite;
			border: solid 1px $border-gray; 
			margin-bottom: 10px;
			padding: 8px 18px;

			.container {
				padding: 0;
				
				h1 {
					color: $textColor;
					font-size: 42px;
					margin-top: 0;
				}

				p {
					&:nth-of-type(1) {
						color: $saintlaurel;
						font-style: italic;
					}

					&:nth-of-type(2) {
						color: $textColor;
						font-weight: 700;
					}

					&:nth-of-type(3) {
						color: $textColor;
						font-style: italic;
					}
				}
			}
		}

		p {
			color: $textColor;
			font-size: 16px;
		}

		#blatherNote {
			h2 {
				color: $textColor;
			}

			p {
				font-size: 14px;
				padding: 0 3px;
			}
		}
	}

	#contact {
		left: 33.3%;
		padding: 0 15px;
		position: relative;
		width: 100%;

		@media screen and (max-width: $break-xsmall) {
			left: 0;
			padding: 0 7px;
		}

		h1 {
			border-bottom: solid 1px $border-gray;
        	color: $textColor;
        	font-size: 30px;
        	margin: 0;
        	padding: 8px;

        	@media screen and (max-width: $break-xsmall) {
        		font-size: 20px;
        		padding: 4px;
        	}
		}

		textarea {
			border: solid 1px $border-gray;
			border-radius: 0;
			font-size: 16px;
			height: 150px;
			margin-top: 10px;

			&.error {
				border: solid 1px $youtubeRed;
			}

			@media screen and (max-width: $break-xsmall) {
				font-size: 13px;
			}
		}

		.btn {
			background: $quebec;
			border: none;
			float: right;
			font-size: 14px;
			margin-top: 10px;

			&.done {
				background: #9ab920;
			}

			&:hover {
				background: lighten($quebec, 10%);
				border: none;
			}

			@media screen and (max-width: $break-xsmall) {
				font-size: 12px;
			}
		}
	}
}

#loadPageContent {
	padding: 0 8px;
	text-align: left;
	width: 100%;

	.ajaxLoader {
		padding: 50px 0;
		text-align: center;
		width: 100%;

		.fa-spin {
			color: $textColor;
			font-size: 36px;
		}
	}

	.loadMore {
		.ajaxLoader {
			display: none;
		}
	}

	#noResults {
		padding: 7% 0;
		text-align: center;
		width: 100%;	

		p {
			color: $black;
			font-size: 20px;
			margin-bottom: 0;

			@media screen and (max-width: $break-xsmall) {
				font-size: 14px;
			}
		}
	}
}

.showMore, 
.showMoreComments, 
.showMorePageFallacies,
.showMoreVideoComments {
	background: $almostWhite;
	border: solid 1px $border-gray;
	color: $textColor;
	cursor: pointer;
	display: block;
	font-size: 14px;
	margin: 0 0 8px 0;
	padding: 6px;
	text-align: center;
	width: 100%;

	@media screen and (max-width: $break-xsmall) {
		font-size: 12px;
	}

	&:hover,
	&:active,
	&:focus,
	&:active:hover {
		background: darken($almostWhite, 5%);
		border: solid 1px $border-gray;
		color: $textColor;
	}
}

.tooltip-inner {
	border-radius: 0;
	font-size: 14px;
	line-height: 1.4;
	min-width: 200px;
	padding: 11px 15px;
	text-align: left;
}

.none {
    color: $textColor;
    font-size: 20px;
    padding: 25px 0;
    text-align: center;

    p {
    	margin: 0;
    }

    @media screen and (max-width: $break-xsmall) {
    	font-size: 14px;
    }
}

#loadFeed {
	padding: 5px 7px;

	.showMore {
		margin-bottom: 0;
	}
}

.feedBlock,
.assignedFallacyBlock {
	border-top: solid 1px $border-gray;
	padding: 5px 0;
	text-align: left;

	.userTitle {
        font-size: 16px;
        margin: 0;

        img {
        	border: solid 1px $border-gray;
        	float: left;
            height: 60px;
            vertical-align: middle;
            width: 60px;
        }

        span.verticalBreak {
        	color: $textColor;
        	left: 6px;
        	position: relative;

            .text-muted {
                font-size: 14px;
            }

            a {
                display: inline-block;
            }
        }

        .pull-right {
            position: relative;
           	top: -14px;
        }

        .fa {
        	&.fa-facebook {
        		color: $facebookBlue;
        	}

        	&.fa-twitter {
        		color: $twitterBlue;
        	}

        	&.fa-youtube {
        		color: $youtubeRed;
        	}

        	@media screen and (max-width: $break-xsmall) {
        		display: none;
        	}
        }

        @media screen and (max-width: $break-xsmall) {
        	font-size: 14px;

        	img {
        		height: 45px;
        		width: 45px;
        	}

        	span.verticalBreak {
	            .text-muted {
	                font-size: 11px;
	            }
        	}
        }
    }

    p.explanation {
		color: $textColor;
		display: -webkit-box;
		font-size: 16px;
		left: 5px;
		margin-bottom: 0;
		overflow: hidden;
		padding: 5px 0;
		position: relative;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        word-wrap: break-word;

		@media screen and (max-width: $break-xsmall) {
			font-size: 14px;
		}
	}

    .calledOut {
    	background: $almostWhite;
    	border: solid 1px $border-gray;
    	cursor: pointer;
    	margin-top: 0;
    	padding: 5px;

        h3 {
            font-size: 16px;
            margin: 0;
            overflow: hidden;

            a {
                cursor: pointer;
            }

            img {
            	background: $white;
            	border: solid 1px $border-gray;
                height: 54px;
                margin-right: 5px;
                padding: 4px;
                vertical-align: middle;
                width: 54px;
            }

            span.verticalBreak {
                display: inline-block; 
                vertical-align: top;

                .text-muted {
                    color: $boldSubTextColor;
                    font-size: 14px;
                }

                a {
                    display: inline-block;
                }
            }

            @media screen and (max-width: $break-xsmall) {
	        	font-size: 14px;

	        	img {
	        		height: 45px;
	        		width: 45px;
	        	}

	        	span.verticalBreak {
		        	left: 0;

		            .text-muted {
		                font-size: 11px;
		            }
	        	}
	        }
        }

        h3.tweetTitle,
        h4.tweetTitle,
        h3.commentTitle {
            font-size: 16px;
            margin-bottom: 4px;
            margin-top: 0;
            overflow: hidden;

            span.verticalBreak {
            	color: $boldSubTextColor;
                display: inline-block; 
                vertical-align: top;

                .text-muted {
                    font-size: 16px;
                }

                a {
                    display: inline-block;
                }
            }

            @media screen and (max-width: $break-xsmall) {
				font-size: 14px;

				span.verticalBreak {
					.username {
						display: none;
					}

					.text-muted {
						font-size: 12px;
					}
				}
			}
        }

		p.tweetText,
		p.commentText,
		p.tweetFallacyText {
			color: $textColor;
			font-size: 16px;
			margin-left: 60px;
			margin-bottom: 0;
			margin-top: -25px;
			text-align: left;

			@media screen and (max-width: $break-xsmall) {
				font-size: 14px;
			}
		}

		p.tweetText {
			@media screen and (max-width: $break-xsmall) {
				margin-left: 55px;
			}
		}

		p.commentText {
			display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            word-wrap: break-word;
		}

		p.tweetFallacyText {
			margin-left: 63px;
			top: 0;

			@media screen and (max-width: $break-xsmall) {
				margin-left: 50px;
			}
		}

		p.status {
			color: $textColor;
			display: -webkit-box;
			font-size: 16px;
			margin-left: 60px;
			margin-bottom: 12px;
			overflow: hidden;
			position: relative;
			text-align: left;
			-webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            word-wrap: break-word;

            @media screen and (max-width: $break-xsmall) {
				font-size: 14px;
			}
		}

		.col-md-4 {
			margin: 0;
			padding: 0;
			width: 25%;
		}

		.col-md-8 {
			float: right;
			margin-left: 6px;
			overflow: hidden;
			padding: 0;
			width: 72%;

			h3 {
				font-size: 18px;

				@media screen and (max-width: $break-xsmall) {
					font-size: 14px;
				}
			}

			span {
				color: $boldSubTextColor;
				position: relative;
				top: 2px;

				@media screen and (max-width: $break-xsmall) {
					font-size: 12px;
				}
			}

			p {
				color: $textColor;
				display: -webkit-box;
				margin-top: 10px;
				overflow: hidden;
				-webkit-box-orient: vertical;
	            -webkit-line-clamp: 6;
	            word-wrap: break-word; 
	        }
		}

		@media (max-width: 992px) {
			.col-md-4 {
				border: solid 1px $border-gray;
				padding-top: 5px;
				text-align: center;
				width: 100%;
			}

			.col-md-8 {
				padding: 5px;
				width: 100%;
			}

			.attachmentInfo {
				.col-md-2 {
					img {
						width: 200px;
					}
				}

				.attachmentMeta {
					margin-top: 5px;
					padding: 0 !important;
				}
			}
		}

		.attachmentInfo {
			background: $almostWhite;
			border: solid 1px $border-gray;
	        margin-top: 7px;
	        overflow: hidden;
	        padding: 6px;

	        .col-md-2 {
	        	padding: 0;

		        img {
		            height: 100%;
		            object-fit: contain;
	                overflow: hidden;
	                height: auto;
	                width: 100%;
		        }

		        video {
		        	object-fit: initial;
		            height: 300px;
		            width: 100%;
		        }
		    }

	        .attachmentMeta {
	            float: left;
	            margin-right: 0;
	            min-height: 81px;
	            padding: 0 0 0 6px;
	            text-align: left;

	            p {
	            	cursor: pointer;
	            	padding: 0 10px;

	                &.metaTitle {
	                    color: $textColor;
	                    font-weight: 700;
	                }

	                &.metaDescription {
	                	color: $subTextColor;
	                    display: -webkit-box;
	                    margin-bottom: 0;
	                    overflow: hidden;
	                    -webkit-line-clamp: 3;
	                    -webkit-box-orient: vertical;
	                    word-wrap: break-word;
	                }

	                &.metaUrl {
	                    color: #8899a6;
	                    margin-bottom: 0;
	                }
	            }
	        }
	    }

	    &.youTube {
			.attachmentInfo {
				border: none;
				margin-top: 0;
	        	padding: 0;

				.col-md-4 {
					padding: 0;

					img {
						width: 108%;

						@media screen and (max-width: $break-medium) {
							height: 100%;
						}
					}
				}
			}
		}
	}
}

#fallacyContent {
	.feedBlock {
		padding: 5px 0;
	}
}

#seeFallaciesModal {
	.modal-header {
		h4 {
			padding: 0;
			text-align: left;
		}
	}

	.modal-body {
		padding: 2px 8px;

		.ajaxLoader {
			padding: 20px 0;
			text-align: center;

			&.loaded {
				height: 300px;
				overflow: scroll;
				padding: 0;
				text-align: left;

				p.explanation {
					display: -webkit-box;
					font-size: 14px;
                    margin-bottom: 0;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;
				}
			}

			.fa {
				color: $textColor;
				font-size: 32px;
			}
		}
	}

	.modal-footer {
		padding: 8px;

		.btn {
			font-size: 14px;
			margin-right: 0;
		}
	}
}