#header {
	background: $backgroundGray; 
	background-attachment: scroll, fixed;
	background-repeat: repeat, no-repeat;
	background-size: auto, auto 100%;
	color: $black;
	height: 100%;
	min-height: 500px;
	overflow-y: scroll;
	padding-bottom: 58px;
	position: fixed;
	top: 59px;
	width: 25%;
	z-index: 5;

	@media screen and (max-width: $break-xsmall) {
		top: 49px;
		width: 0;
	}

	.list-group {
		margin: 0;
		position: relative;
	}

	#sideProfile {
		padding: 5px 15px;

		form {
			line-height: 0;
		}

		strong {
			color: $textColor;
		}

		#profilePicUpload {
			display: none;
		}

		h1 {
			color: $textColor;
			font-size: 16px;
			line-height: 1;
			margin: 0;
			padding: 5px 0;

			.svg {
				border: none;
				background: $white;
				cursor: pointer;
				height: 80px;
				width: 80px;
				z-index: 1;
			}

			img {
				background: $white;
				border: none;
				height: 60px;
				padding: 5px;
				width: 60px;
			}

			span.verticalBreak {
                display: inline-block; 
                vertical-align: top;

                span#changePic {
                	color: $linkColor;
                	cursor: pointer;
                	display: block;
					font-size: 13px;
					line-height: 1;
					margin-top: 3px;

					&:hover {
						text-decoration: underline;
					}
				}
            }

            span#uploadPicMsg {
            	display: none;
            	font-size: 13px;
            	margin-top: 7px;

            	&.open {
            		display: block;
            	}
            }
		}

		textarea {
			border: none;
			border-radius: 0;
			color: $textColor;
			height: 90px;
			margin-top: 4px;
			position: relative;

			+ .btn {
				background: $quebec;
				border: none;
				color: $white;
				display: none;
				margin-top: 9px;
				width: 100%;

				.fa-check {
					margin-right: 3px;
				}

				&:hover {
					background: darken($quebec, 5%);
				}

				&.done {
					background: $koivu;

					&:hover {
						background: darken($koivu, 5%);
					}
				}
			}
		}

		#influenceWrapper {
			border: none;
			margin-top: 10px;

			#influences {
				background: $white;
				padding: 0;

				&.empty {
					border-bottom: none;
				}

				.form-group {
					margin: 0; 

					.form-control {
						border: none;
						height: 30px;
						line-height: 1;
						padding: 4px 6px;
						width: 100%;
					}
 
					.input-group-addon {
						background: $facebookBlue;
						border: none;
						border-radius: 0;
						cursor: pointer;
						display: none;
						line-height: 20px;
						padding: 5px;

						.fa {
							color: $white;
						}

						&.active {
							display: table-cell;
						}

						&:nth-of-type(2) {
							background: $twitterBlue;
						}

						&:nth-of-type(3) {
							background: $youtubeRed;
						}
					}
				}

				#influenceList {
					margin: 0 -3px;
					padding: 5px;

					&.empty {
						display:  none;
					}

					span.label {
						border-radius: 0;
						cursor: pointer;
						display: inline-block;
						font-size: 13px;
						line-height: 1.5;
						margin: 3px;
						padding-right: 8px;

						&.twitter {
							background: $twitterBlue;

							&:hover {
								background: lighten($twitterBlue, 5%);
							}
						}

						&.fb {
							background: $facebookBlue;

							&:hover {
								background: lighten($facebookBlue, 5%);
							}
						}

						&.youtube {
							background: $youtubeRed;

							&:hover {
								background: lighten($youtubeRed, 5%);
							}
						}

						.fa-close {
							margin-left: 5px;
						}
					}
				}
			}
		}
	}

	ul#fallacySidebar {
		li {
			background: $backgroundGray;
			border: none;
			border-radius: 0;
			cursor: pointer;

			&:hover, 
			&.active {
				background: $blube;

				a {
					color: $white;
				}
			}

			a {
				color: $textColor;
				cursor: pointer;
				font-size: 16px;

				@media screen and (max-width: $break-xsmall) {
					font-size: 12px;
				}
			}
		}
	}
}