#tweetWrapper {
	padding: 59px 12px 0 0;
	text-align: center;

	.col-md-8 {
		padding: 0 12px;
		text-align: left;

		h4.tweetTitle {
            font-size: 16px;
            margin-bottom: 4px;
            margin-top: 0;
            overflow: hidden;

            img {
            	border-radius: 6px;
                height: 40px;
                vertical-align: middle;
                width: 40px;
            }

            span.verticalBreak {
            	color: $boldSubTextColor;
                display: inline-block; 
                vertical-align: top;

                .text-muted {
                    font-size: 16px;
                }

                a {
                    display: inline-block;
                    margin-left: 2px;
                }
            }
        }

		p.tweetText {
			color: $textColor;
			font-size: 16px;
			margin-left: 45px;
			margin-bottom: 0;
			position: relative;
			text-align: left;
			top: -25px;
		}

		p.retweeted {
			color: $textColor;
			font-size: 14px;
			margin-left: 18px;
			vertical-align: text-top;

			.fa {
				color: $limey;
				font-size: 20px;
				padding-right: 4px;
				vertical-align: middle;
			}
		}

		.attachmentInfo {
	        background: $almostWhite;
			border: solid 1px $border-gray;
	        margin-top: 0;
	        overflow: hidden;
	        padding: 6px;
	        text-align: center;

	        img {
	        	margin-bottom: 15px;
	            border-radius: 6px;
	            height: 200px; 
	            object-fit: contain;
                overflow: hidden;
	            width: 100%;
	        }

	        video {
	            object-fit: initial;
	            height: 300px;
	            width: 100%;
	        }

	        .attachmentMeta {
	            background: $white;
	            border: solid 1px $border-gray;
	            cursor: pointer;
	            min-height: 81px;
	            padding: 10px 14px;
	            text-align: left;
	            transition: 0.3s;

	            p {
	                &.metaTitle {
	                    color: $textColor;
	                    font-weight: 700;
	                }

	                &.metaDescription {
	                	color: $subTextColor;
	                    display: -webkit-box;
	                    margin-bottom: 0;
	                    overflow: hidden;
	                    -webkit-line-clamp: 3;
	                    -webkit-box-orient: vertical;
	                    word-wrap: break-word;
	                }

	                &.metaUrl {
	                    color: #8899a6;
	                    margin-bottom: 0;
	                }
	            }
	        }
	    }

	    .postStats {
	        background: $almostWhite;
	        border-bottom: solid 1px $border-gray;
	        border-top: solid 1px $border-gray;
	        font-weight: 700;
	        margin-top: 15px;
	        padding: 6px;

	        .retweetCount, 
	        .favoriteCount {
	            float: left;
	            font-size: 16px;
	            line-height: 1;
	            padding: 0 10px;
	        }

	        .retweetCount, 
	        .likeCount {
	            color: $textColor;
	            line-height: 1;
	            padding-left: 0;

	            .fa {
	                color: $electricBlue;
	            }
	        }

	        .favoriteCount, 
	        .commentCount {
	            color: $textColor;

	            .fa {
	                color: $blockGreen;
	            }
	        }

	        .fa-twitter {
	        	color: $twitterBlue;
	        	font-size: 16px;
	        }

	        .fa-thumb-tack {
	        	color: $koivu;
	        	font-size: 16px;
	        	margin-right: 20px;
	        }
	    }

	    .quotedStatus {
	    	border: solid 1px $border-gray;
	    	border-radius: 6px;
	    	cursor: pointer;
	    	margin-top: 10px;
	    	padding: 12px;

	    	p.status {
	    		color: $textColor;
	    	}

	    	&:hover {
	    		border: solid 1px $electricBlue;
	    	} 
	    }
	}

	.col-md-4 {
		background: $white;
		height: 390px;
		padding: 0;

		h3 {
			border-bottom: solid 1px $border-gray;
			color: $textColor;
			font-size: 22px;
			line-height: 1;
			margin: 0;
			padding: 0 6px 6px 6px;
			vertical-align: middle;
			text-align: left;
		}

		#createVideoFallacy {
			background: $white;
			margin-top: 5px;
			padding: 0;
			width: 100%;

			#contradictionWrapper {
				.input-group {
					width: 100%;

					.input-group-addon {
						background: $white;
						border: none;
						border-bottom: solid 1px $border-gray;
						border-radius: 0;
						cursor: pointer;
						width: 48px;

						.fa {
							color: $textColor;
						}
					}

					.form-control {
						border: none;
						border-bottom: solid 1px $border-gray;
						font-size: 16px;
						padding: 7px 7px 7px 0;
					}
				}

				#contradictionLinkError, #contradictionLinkValidation {
					border-bottom: solid 1px $border-gray;
					color: $textColor;
					display: none;
					font-size: 13px;
					padding: 7px;
					text-align: left;
				}

				#contradictionLinkValidation {
					h4 {
						margin-top: 0;
					}

					p {
						display: -webkit-box;
			            font-size: 14px;
			            margin-bottom: 0;
			            overflow: hidden;
			            -webkit-box-orient: vertical;
			            -webkit-line-clamp: 3;
			            word-wrap: break-word;
					}
				}

				#contradictionPlayer {
					display: inline-block;
					height: 200px;
					width: 100%;
				}
			}

			#searchFallacyBlock {
				padding: 0;

				.input-group {
					width: 100%;

					.input-group-addon {
						background: $white;
						border: none;
						border-bottom: solid 1px $border-gray;
						border-radius: 0;
						cursor: pointer;
						display: table-cell;
						width: 48px;

						.fa {
							color: $twitterBlue;
						}
					}
				}

                .form-control {
                	border: none;
                	border-bottom: solid 1px $border-gray;
                    color: $textColor;
                    font-size: 16px;
                    padding: 7px 7px 7px 0;
                    width: 100%;
                }

                #searchFallacies {
                	border-radius: 0;
                	padding-left: 14px;
                	-webkit-appearance: none;
                }

	            ul#fallacyUserAutocomplete {
	                border-radius: 0;
	                display: none;
	                margin-bottom: 0;
	                margin-top: 5px;

	                li {
	                    border: none;
	                    border-radius: 0;
	                    color: $textColor;
	                    cursor: pointer;
	                    padding: 7px;
	                    text-align: left;

	                    img {
	                    	width: 25px;
	                    }

	                    &:nth-of-type(odd) {
	                        background: rgba(240, 245, 251, 0.8);
	                    }

	                    &:hover {
	                        background: $linkColor;
	                        color: $white;
	                    }
	                }

	                li#noFallacyResults {
	                    background: $white;
	                    border: none;
	                    color: $textColor;
	                    cursor: default;
	                    font-size: 16px;
	                    text-align: center;

	                    &:hover {
	                        background: $white;

	                    }
	                }
	            }
	        }

			textarea {
				border: solid 1px $border-gray;
				border-radius: 0;
				color: $textColor;
				height: 120px;
				margin-top: 10px;

				&.error {
					border: solid 1px $youtubeRed;
				}
			}

			.btn {
				background: $almostWhite;
				border: solid 1px $border-gray;
				color: $textColor;
				margin-top: 10px;
				font-size: 14px;
				padding: 4px;
	            width: 100%;

	            &:hover {
	            	background: darken($almostWhite, 5%);
	            }

	            &.done {
	            	background: $koivu;
	            	border: none;
	            	color: $white;
	            }
	        }
		}
	}
}

#infoWrapper {
	.assignedFallacyBlock {
	    h4.userTitle {
            .text-muted {
                color: $subTextColor; 
                position: relative;
            }
	    }
	}
		
	.postFallacies {
		float: left;

		h2#postFallaciesHeader {
			background: $white;
			border-bottom: solid 1px $border-gray;
			color: $textColor;
			font-size: 22px;
			line-height: 1;
			margin: 5px 0;
			padding: 6px 6px;
			vertical-align: middle;

			.badge {
				background: $white;
				color: $textColor;
				float: right;
				font-size: 18px;
				font-weight: normal;
				line-height: 1;
			}
		}

		.ajaxLoader {
			.fa {
				color: $textColor;
			}
		}
	}
}
