/* COLORS */
// Basic colors
$white: #fff;
$almostWhite: #fafafa;
$anotherGray: #4d4d4d;
$black: #000;
$limey: #d1e751;
$electricBlue: #4dbce9;
$blube: #26ade4;
$warningRed: #fa023c;

// Theme colors
$quebec: #1c5ba2;
$saintlaurel: #498bd5;
$helsinki: #f0f5fb;
$koivu: #9ab920;

// Social media colors
$youtubeRed: #e52d27;
$twitterBlue: #4099ff;
$facebookBlue: #3b5998;

// Border colors
$border-gray: #e4e6e8;
$border-color: #ddd;

$headerColor: rgba(12, 13, 14, 0.862745);
$instBackground: #fff8DC;
$instBorderColor: #e0dcbf;
$linkColor: #07c;
$linkColorHover: #005999;
$subTextColor: #9199a1;
$boldSubTextColor: #848d95;
$blockGreen: #5fba7d;
$textColor: #242729;
$backgroundGray: #eff0f1;
$buttercup: #ffe545;




/* BREAKPOINTS */
// iPhone 5
$iphone_five_width: 320px;
$iphone_five_height: 568px;

// iPhone 6
$iphone_six_width: 400px;
$iphone_six_height: 667px;

// iPhone 6 plus
$iphone_six_plus_width: 414px;
$iphone_six_plus_height: 736px;

// iPhone 4 and below
$break-xsmall: 502px;

// iPhone 5 & tablet
$break-small: 768px;

// iPad 3/4 
$break-medium: 1024px;

// Desktop
$break-large: 1200px;


/* FONTS */ 
$primary-font: 'Fira Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;

@font-face {
	font-family: Logo;
	src: url("fonts/angrybirds-regular.ttf");
}
