#videoWrapper {
	padding: 59px 12px 0 0;
	text-align: center;

	.col-md-8 {
		#player {
			display: inline-block;
			height: 390px;
			width: 100%;
		}

		#videoInfo {
			margin-top: 5px;
			padding: 0 6px;
			position: relative;

			#statsWrapper {
				p#statsChannelTitle {
					background: $white;
					text-align: left;
					margin-top: 12px;
					margin-bottom: 0;

					img {
						vertical-align: middle;
						width: 60px;
					}

					span.verticalBreak {
		                display: inline-block; 
		                line-height: 1;
		                margin-left: 5px;
		                vertical-align: top;

		                a {
		                	display: inline-block;
							font-size: 18px;
						}

		                span {
		                	color: $textColor;
		                	display: inline-block;
		                    font-size: 13px;
		                    line-height: 1;
		                    padding: 2px 0;
		                }
		            }
				}

				#statsBox {
					padding: 0;
				}

				#statsTitle {
					color: $textColor;
					font-size: 18px;
					margin-bottom: 0;
					text-align: left;
				}

				#statsData {
					color: $subTextColor;
					font-size: 14px;
					margin-bottom: 0;
					text-align: left;
				}

				#statsViews {
					color: $textColor;
					font-size: 20px;
					margin-bottom: 0;
					margin-top: 5px;
					text-align: left;
				}

				.likeBarContainer {
					background: darken($helsinki, 5%); 
					width: 100%;

					.likeBar {
						background: $blockGreen;
						height: 2px;
					}
				}

				#likesAndDislikes {
					text-align: left;

					p {
						color: $textColor;
						font-size: 14px;
						margin-top: 3px;
						margin-bottom: 0;

						.fa {
							color: $boldSubTextColor;
							font-size: bold;
						}

						.fa-thumbs-down {
							margin-left: 5px;
						}
					}
				}
			}
		}
	}

	.col-md-4 {
		padding: 0;

		h3 {
			border-bottom: solid 1px $border-gray;
			color: $textColor;
			font-size: 22px;
			line-height: 1;
			margin: 0;
			padding: 0 6px 6px 6px;
			vertical-align: middle;
			text-align: left;
		}

		p {
			text-align: left;
		}

		#createVideoFallacy {
			background: $white;
			margin-top: 5px;
			padding: 0;
			width: 100%;

			#contradictionWrapper {
				.input-group {
					width: 100%;

					.input-group-addon {
						background: $white;
						border: none;
						border-bottom: solid 1px $border-gray;
						border-radius: 0;
						cursor: pointer;
						width: 48px;

						.fa {
							color: $textColor;
						}
					}

					.form-control {
						border: none;
						border-bottom: solid 1px $border-gray;
						font-size: 16px;
						padding: 7px 7px 7px 0;
					}
				}

				#contradictionLinkError, 
				#contradictionLinkValidation {
					border-bottom: solid 1px $border-gray;
					color: $textColor;
					display: none;
					font-size: 13px;
					padding: 7px;
					text-align: left;
				}

				#contradictionLinkValidation {
					h4 {
						margin-top: 0;
					}

					p {
						display: -webkit-box;
			            font-size: 14px;
			            margin-bottom: 0;
			            overflow: hidden;
			            -webkit-box-orient: vertical;
			            -webkit-line-clamp: 3;
			            word-wrap: break-word;
					}
				}

				#contradictionPlayer {
					display: inline-block;
					height: 200px;
					width: 100%;
				}
			}

			#searchFallacyBlock {
				padding: 0;

				.input-group {
					width: 100%;

					.input-group-addon {
						background: $white;
						border: none;
						border-bottom: solid 1px $border-gray;
						border-radius: 0;
						cursor: pointer;
						display: none;
						width: 48px;

						.fa {
							&.fa-youtube {
								color: $youtubeRed;
							}

							&.fa-facebook {
								color: $facebookBlue;
							}

							&.fa-twitter {
								color: $twitterBlue;
							}
						}

						&.active {
							display: table-cell;
						}
					}
				}

                .form-control {
                	border: none;
                	border-bottom: solid 1px $border-gray;
                    color: $textColor;
                    font-size: 16px;
                    padding: 7px 7px 7px 0;
                    width: 100%;
                }

                #searchFallacies {
                	border-radius: 0;
                	padding-left: 14px;
                	-webkit-appearance: none;
                }

	            ul#fallacyUserAutocomplete {
	                border-radius: 0;
	                display: none;
	                margin-bottom: 0;
	                margin-top: 5px;

	                li {
	                    border: none;
	                    border-radius: 0;
	                    color: $textColor;
	                    cursor: pointer;
	                    padding: 7px;
	                    text-align: left;

	                    img {
	                    	width: 25px;
	                    }

	                    &:nth-of-type(odd) {
	                        background: rgba(240, 245, 251, 0.8);
	                    }

	                    &:hover {
	                        background: $linkColor;
	                        color: $white;
	                    }
	                }

	                li#noFallacyResults {
	                    background: $white;
	                    border: none;
	                    color: $textColor;
	                    cursor: default;
	                    font-size: 16px;
	                    text-align: center;

	                    &:hover {
	                        background: $white;

	                    }
	                }
	            }
	        }

			.col-md-6 {
				padding: 5px 0 0 0;
				width: 49%;

				&:nth-of-type(2) {
					margin-left: 5px;
				}

				.input-group {
					border-bottom: solid 1px $border-gray;

					.input-group-addon {
						background: $white;
						border: none;
						border-radius: 0;

						.fa {
							color: $quebec;
							cursor: pointer;
					    }
					}

					.form-control {
						border: none;
						font-size: 16px;

						&:disabled {
							background: $white;
							cursor: default;
						}
					}
				}
			}

			textarea {
				border: solid 1px $border-gray;
				border-radius: 0;
				color: $textColor;
				height: 120px;
				margin-top: 10px;

				&.error {
					border: solid 1px $youtubeRed;
				}
			}

			.btn {
				background: $almostWhite;
				border: solid 1px $border-gray;
				color: $textColor;
				margin-top: 10px;
				font-size: 14px;
				padding: 4px;
	            width: 100%;

	            &:hover {
	            	background: darken($almostWhite, 5%);
	            }

	            &.done {
	            	background: $koivu;
	            	border: none;
	            	color: $white;
	            }
	        }
		}
	}

	#likesRatioBox {
		height: 100px;
	}
}


.youtubeComments, 
.youtubeFallacies,  
.youtubeSuggestions {
	text-align: left;

	h2#youtubeCommentHeader,
	h2#youtubeFallaciesHeader,
	h2#youtubeSuggestionHeader {
		background: $white;
		border-bottom: solid 1px $border-gray;
		color: $textColor;
		font-size: 22px;
		line-height: 1;
		margin: 5px 0;
		padding: 6px 6px;
		vertical-align: middle;

		.badge {
			background: $white;
			color: $textColor;
			float: right;
			font-size: 18px;
			font-weight: normal;
			line-height: 1;
		}
	}

	.ajaxLoader {
		.fa {
			color: $textColor;
		}
	}

	#commentsAjax {
		display: none;
	}
}

#youtubeComments {
	.userPostBlock {
		&:first-of-type {
			margin-top: 0;
		}

		.replyBlock {
			padding: 6px 0;
		}

		.highlightComment, 
		.replyBlock {
			padding: 6px;
			position: relative;
			width: 100%;

			span.fallacyCount {
				margin-left: 5px;
			}

			&:hover {
				.statusBlock {
					span.fallacyCount {
						display: inline-block;
					}

					.assignCommentFallacy {
						display: block;
					}
				}
			}
			
			.assignNewFallacy {
				display: none;
				margin: 5px 0 5px 48px;

				.contradictionLinkError, 
				.contradictionLinkValidation {
					border-bottom: solid 1px $border-gray;
					color: $textColor;
					display: none;
					font-size: 13px;
					padding: 7px;
					text-align: left;
				}

				.contradictionLinkValidation {
					h4 {
						margin-top: 0;
					}

					p {
						display: -webkit-box;
			            font-size: 14px;
			            margin-bottom: 0;
			            overflow: hidden;
			            -webkit-box-orient: vertical;
			            -webkit-line-clamp: 3;
			            word-wrap: break-word;
					}
				}

				.contradictionPlayer {
					display: inline-block;
					height: 200px;
					width: 100%;
				}

				.input-group {
					border-bottom: solid 1px $border-gray;
					width: 100%;

					.input-group-addon {
						background: $white;
						border: none;
						border-radius: 0;
						cursor: pointer;
						display: table-cell;
						width: 48px;

						.fa-flag {
							color: $textColor;
						}

						.fa-youtube {
							color: $youtubeRed;
						}
					}
				}

                .form-control {
                	background: $white;
                	border: none;
                	border-radius: 0;
                    color: $textColor;
                    font-size: 16px;
                    padding: 7px 7px 7px 0;
                    width: 100%;
                }

                textarea.form-control {
                	border: solid 1px $border-gray;
                	height: 100px;
                	line-height: 1;
                	margin-top: 5px;
                	padding: 7px !important;

                	&.error {
						border: solid 1px $youtubeRed;
					}
                }

	            ul.commentFallacyAutocomplete {
	                border-radius: 0;
	                display: none;
	                margin: 0;

	                li {
	                    border: none;
	                    border-radius: 0;
	                    color: $textColor;
	                    cursor: pointer;
	                    padding: 7px;
	                    text-align: left;

	                    &:nth-of-type(odd) {
	                        background: rgba(240, 245, 251, 0.8);
	                    }

	                    &:hover {
	                        background: $linkColor;
	                        color: $white;
	                    }
	                }

	                li#noFallacyResults {
	                    background: $white;
	                    border: none;
	                    color: $textColor;
	                    cursor: default;
	                    font-size: 16px;
	                    text-align: center;

	                    &:hover {
	                        background: $white;

	                    }
	                }
	            }

	            .btn {
	            	background: $almostWhite;
					border: solid 1px $border-gray;
					color: $textColor;
	            	font-size: 14px;
	            	margin: 5px 0 0 0;
	            	padding: 4px 0;
	            	text-align: center;
	            	width: 100%;

	            	&:hover {
	            		background: darken($almostWhite, 5%);
	            	}

	            	&.done {
	            		background: $koivu;
	            		border: none;
	            		color: $white;
	            	}
	            }
			}
		}

		h2 {
			font-size: 16px;
			margin-bottom: 0;
			padding: 0 0 8px 0;
			z-index: 9;

			img {
				background: $white;
				border-radius: 5px;
				height: 48px;
				padding: 3px;
				width: 48px;
				vertical-align: text-top;
			}

			span.timeAgo {
				color: $subTextColor;
			}
		}

		.statusBlock {
			background: $white;
			margin-top: -32px;
			padding: 0 0 0 48px;
			word-wrap: break-word;

			p.likeCount {
				color: $textColor;
				display: inline-block;
				font-size: 14px;
				padding: 7px;

				.fa-thumbs-up {
					color: $electricBlue;
				}

				span.fallacyCount {
					color: $linkColor;
					cursor: pointer;
					display: none;
					margin-left: 5px;
				}
			}

			.clearfix {
				width: 0;
			}

			.assignCommentFallacy {
				font-size: 14px;
				padding: 7px 0;
				position: relative;
				word-wrap: normal;

				a {
					cursor: pointer;

					span {
						display: none;
					}

					&.active {
						.fa-tags {
							display: none;
						}

						span {
							display: inline;
						}
					}
				}

				form {
					display: inline;
					margin: 0;
					width: 50px;
				}

				.fa-thumb-tack {
					color: $koivu;
					cursor: pointer;
				}
			}

			p {
				color: $textColor;
				font-size: 16px;
				line-height: 1.2;
				margin-bottom: 0;
				padding: 0px 5px 3px 5px;

				@media screen and (max-width: $break-xsmall) {
					font-size: 14px;
				}

				&.status {
					background: $white;

				}
			}

			.commentsBlock {
				float: right;
				display: none;
				padding: 0;
				width: 100%;

				.commenter {
					.commenterHeader {
						background: $almostWhite;
						padding: 4px 7px;
						width: 100%;

						a {
							color: $electricBlue;
							cursor: pointer;
							font-size: 16px;
							line-height: 1;
						}
					}

					p {
						color: $textColor;
						padding: 7px;
					}

					.commentMsgFull {
						display: none;
					}
				}

				.none {
					color: $textColor;
					font-size: 20px;
					padding: 8px;
					text-align: center;
				}

				button {
					margin-top: 12px;
					width: 100%;
				}
			}
		}

		.youtubeReplies {
			padding-left: 48px;

			span.seeAll {
				color: $linkColor;
				cursor: pointer;
				display: inline-block;
				font-size: 14px;
				margin-left: 14px;
				margin-top: 5px;

				&:hover {
					text-decoration: underline;
				}
			}

			.ajaxLoader {
				display: none;
			}
		}
	}
}

.videoPostBlock {
	background: $white;
	padding: 9px;

	&:nth-of-type(odd) {
		background: $almostWhite;

		.col-md-11 {
			background: $almostWhite;
		}
	}

	&:hover {
		background: $blube;
		color: $white;
		cursor: pointer;

		a {
			color: $white;
		}

		.col-md-11 {
			background: $almostWhite;
		}
	}

	+ .loadMore {
		border-bottom: solid 1px #ddd;
	}

	.col-md-1 {
		padding: 0;

		img {
			border-radius: 0;
			width: 100%;
		}
	}

	.col-md-11 {
		background: $white;

		p {
			margin: 0;

			a {
				color: $electricBlue;
				font-size: 18px;
				line-height: 1;
			}

			&:nth-of-type(2) {
				color: $textColor;
				font-size: 14px;

				a {
					font-size: 14px;
				}
			}
		}
	}

	.suggestionBlock {
		img {
			border-radius: 0;
			float: left;
			vertical-align: text-top;
			width: 100px;
		}

		a {
			color: $textColor;
			float: left;
			font-size: 14px;
			height: 100%;
			line-height: 1;
			margin-left: 5px;
			width: 60%;
		}

		&:hover {
			a {
				color: $white;
			}
		}
	}
}

.assignedFallacyBlock {
    .timeFrame {
    	color: $linkColor;
    	cursor: pointer;

    	&:hover {
    		text-decoration: underline;
    	}

    	.img-circle {
    		width: 29px;
    	}

        span.label {
            background: $blube;
            border-radius: 0;
            cursor: pointer;
            display: inline-block;
            font-size: 13px;
            line-height: 1.4;
            margin: 3px 0 3px 3px;
            padding-right: 8px;
        }
    }
}