@import "../../../../css/colors.scss";

.pageHeader {
	.loadingBar {
    	background: $blue;
    	height: 5px;
    	margin-top: 72px;
    	position: fixed;
    	z-index: 9999;

    	@media only screen and (max-width: 1025px) {
      		margin-top: 135px;
    	}
  	}

  	.topHeader {
    	align-items: center;
    	background: darken($invertedBackgroundColor, 1%);
    	display: flex;
    	justify-content: center;
    	max-width: none !important;
    	opacity: 0.95;
    	padding: 14px 13px 14px 13px;
    	position: fixed;
    	top: 0;
    	width: 100% !important;
    	z-index: 9999;

    	.container.mobile {
      		margin: 0 !important;
      		width: 100% !important;

      		.allyButton {
        		margin-right: 18px;
      		}

      		.icon.ellipsis {
        		margin-right: 0;
      		}
    	}

    	img {
      		cursor: pointer;
      		height: 48px;
      		width: 48px;
    	}

    	.container.basic {
      		display: flex;
      		justify-content: center;
      		padding: 8px 0;
    	}

    	.grid .column {
      		&.logoColumn {
        		align-items: center;
        		display: flex;
        		padding-left: 32px;
      		}

      		input {
        		line-height: 25px;
      		}
    	}

    	.headerContainer {
      		.headerLogo {
        		cursor: pointer;
        		display: inline;
        		fill: $blue;
        		height: 36px;
        		line-height: 4;
        		margin-right: 12px;
        		vertical-align: middle;
        		width: 36px;
      		}

      		.sidebarItem {
        		.button {
          			margin-right: 18px;
        		}

        		.icon {
          			cursor: pointer;

          			&:hover {
            			color: $blue;
          			}
        		}
      		}
    	}

    	@media only screen and (max-width: 1025px) {
      		opacity: 0.95;

      		.container.desktop {
        		display: none;
      		}
    	}

    	@media only screen and (min-width: 1025px) {
      		.container.mobile {
        		display: none;
      		}
    	}
  	}

  	.sidebar.menu {
    	padding-top: 135px;

    	.fallacySidebarItem {
      		text-align: left;
    	}

    	.sidebarSearchBtn {
      		margin-top: 8px;
    	}
  	}
}
