/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Twitter ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.pageHeader .loadingBar {
  background: #2185d0;
  height: 5px;
  margin-top: 72px;
  position: fixed;
  z-index: 9999; }
  @media only screen and (max-width: 1025px) {
    .pageHeader .loadingBar {
      margin-top: 135px; } }

.pageHeader .topHeader {
  align-items: center;
  background: #131d28;
  display: flex;
  justify-content: center;
  max-width: none !important;
  padding: 10px 13px 10px 13px;
  position: fixed;
  top: 0;
  width: 100% !important;
  z-index: 9999; }
  .pageHeader .topHeader .container.mobile {
    margin: 0 !important;
    width: 100% !important; }
    .pageHeader .topHeader .container.mobile .allyButton {
      margin-right: 18px; }
    .pageHeader .topHeader .container.mobile .icon.ellipsis {
      margin-right: 0; }
  .pageHeader .topHeader .menu.inverted {
    background: #131d28 !important; }
  .pageHeader .topHeader img {
    cursor: pointer;
    height: 54px;
    width: 54px; }
  .pageHeader .topHeader .grid .column input {
    line-height: 25px; }
  @media only screen and (max-width: 1025px) {
    .pageHeader .topHeader .container.desktop {
      display: none; }
    .pageHeader .topHeader .container.mobile .left.item {
      padding-left: 8px !important; } }
  @media only screen and (min-width: 1025px) {
    .pageHeader .topHeader .container.mobile {
      display: none; } }

.pageHeader .sidebar.ui.labeled.icon.menu .item {
  background: #182532 !important;
  color: #ffffff !important;
  font-weight: bold !important;
  line-height: 24px !important;
  text-align: left !important; }
  .pageHeader .sidebar.ui.labeled.icon.menu .item .icon {
    color: #2185d0;
    display: inline;
    font-size: 24px !important;
    padding-right: 16px;
    vertical-align: middle; }
