@import "../../../../css/colors.scss";

.pageHeader {
	.loadingBar {
    	background: $blue;
    	height: 5px;
    	margin-top: 72px;
    	position: fixed;
    	z-index: 9999;

    	@media only screen and (max-width: 1025px) {
      		margin-top: 135px;
    	}
  	}

  	.topHeader {
    	align-items: center;
    	background: darken($invertedBackgroundColor, 1%);
    	display: flex;
    	justify-content: center;
    	max-width: none !important;
    	padding: 10px 13px 10px 13px;
    	position: fixed;
    	top: 0;
    	width: 100% !important;
    	z-index: 9999;

    	.container.mobile {
      		margin: 0 !important;
      		width: 100% !important;

      		.allyButton {
        		margin-right: 18px;
      		}

      		.icon.ellipsis {
        		margin-right: 0;
      		}
		}
		
		.menu.inverted {
			background: darken($invertedBackgroundColor, 1%) !important;
		}

    	img {
			cursor: pointer;
			flex: 1;
      		height: 45px;
      		width: 45px;
    	}

    	.grid .column {
      		input {
        		line-height: 25px;
			  }
			  
			  &.logoColumn {
				  flex-direction: column;
			  }
    	}

    	@media only screen and (max-width: 1025px) {
      		.container.desktop {
        		display: none;
			  }
			  
			  .container.mobile {
				  .left.item {
					  padding-left: 8px !important;
				  }
			  }
    	}

    	@media only screen and (min-width: 1025px) {
      		.container.mobile {
        		display: none;
      		}
    	}
  	}
	  
	.sidebar.ui.labeled.icon.menu .item {
		background: lighten($invertedBackgroundColor, 2%) !important;
		color: $white !important;
        font-weight: bold !important;
        line-height: 24px !important;
        text-align: left !important;

        .icon {
            color: $blue;
            display: inline;
            font-size: 24px !important;
            padding-right: 16px;
            vertical-align: middle;
        }
    }
}
