@import '../../../css/colors.scss';

.pageHeader {
    .loadingBar {
        background: $blue;
        height: 5px;
        margin-top: 72px;
        position: fixed;
        z-index: 9999;

        @media only screen and (max-width: 1025px) {
            margin-top: 135px;
        }
    }

    .menu.subHeader {
        border: none;
        border-bottom: solid 1px $lightGrey;
        border-radius: 0;
        box-shadow: none !important;
        margin-top: 71px;
        width: 100%;
        z-index: 999 !important;

        .subHeaderContainer {
            .searchItem {
                @media only screen and (min-width: 450px) {
                    padding-left: 0;
                    padding-right: 0;
                }

                width: 100%;
            }
        }
    }

    .menu.globalHeader {
        box-shadow: none;
        height: 72px;
        z-index: 1001 !important;

        .headerContainer {
            .responsive {
                display: flex;
                width: 100%;
            }

            .headerMenuItem {
                margin-right: 0 !important;
                
                .headerLogo {
                    cursor: pointer;
                    display: inline;
                    fill: $blue;
                    height: 36px;
                    line-height: 4;
                    margin-right: 12px;
                    vertical-align: middle;
                    width: 36px;
                }
            }

            .sidebarItem {
                .button {
                    margin-right: 18px;
                }

                .icon {
                    cursor: pointer;

                    &:hover {
                        color: $blue;
                    }
                }
            }

            .fallaciesLink a {
                color: $lightBlack;
                font-size: 15px !important;
                font-weight: bold !important;
            }

            .signInLink {
                text-align: right;

                .ui.grid.relaxed {
                    margin-right: -1.4rem;

                    .column:first-of-type {
                        padding-right: 1.4rem;
                    }
                }

                a {
                    color: $lightBlack;
                    font-size: 15px !important;
                    font-weight: bold !important;
                    line-height: 35.5px;
                }
            }

            .dropDownMenu {
                .menu.visible {
                    z-index: 1001;
                }
            }
        }
    }

    .sidebar.menu {
        padding-top: 135px;

        .fallacySidebarItem {
            text-align: left;
        }

        .sidebarSearchBtn {
            margin-top: 8px;
        }
    }
}