/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Twitter ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.feed .label img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer; }

.feed .content .summary {
  color: #ffffff !important; }
  .feed .content .summary a {
    color: #54c8ff; }

.feed .content .date {
  color: #dcddde !important; }

.feed .content .extra.text {
  max-width: 750px !important; }

@media only screen and (max-width: 1200px) {
  .feed .content .extra.text {
    max-width: 600px !important; } }

.feed .content .extra p {
  color: #ffffff !important;
  cursor: pointer;
  white-space: pre-line;
  word-break: break-word; }

.feed .content .extra .videoImg {
  cursor: pointer;
  width: 200px !important; }

.feed .content .extra .image {
  cursor: pointer;
  margin: 12px 0 !important;
  width: 65% !important; }

.feed .content .meta .like {
  color: #dcddde !important;
  font-weight: bold; }
  .feed .content .meta .like:hover .icon {
    color: #dcddde !important; }

.feed .archiveExtra {
  margin: 16px 0 10px 0 !important; }
