.feed {
    .label {
        img {
            border: 1px solid rgba(0,0,0,.1);
            cursor: pointer;
        }
    }

    .content .extra {
        &.text {
            max-width: 750px !important;
        }

        @media only screen and (max-width: 1200px) {
            &.text {
                max-width: 600px !important;
            }
        }

        p {
            cursor: pointer;
            white-space: pre-line;
            word-break: break-word;
        }

        .videoImg {
            cursor: pointer;
            width: 200px !important;
        }

        .image {
            cursor: pointer;
            margin: 12px 0 !important;
            width: 65% !important;
        }
    }

    .archiveExtra {
        margin: 16px 0 10px 0 !important;
    }
}
