/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Twitter ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.fallacyForm .content:first-of-type {
  border-bottom: solid 1px rgba(245, 248, 250, 0.1) !important; }

.fallacyForm .field.startTime,
.fallacyForm .field.contradictionStartTime {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.fallacyForm .selectAssignee {
  margin-bottom: 15px; }

.fallacyForm .contradictionWrapper {
  margin-top: 0.9em; }
  .fallacyForm .contradictionWrapper.active {
    padding: 0; }

.fallacyForm .fallacyRef {
  margin-top: 12px; }

.fallacyForm .buttons button {
  width: 50%; }

.fallacyForm .commonMarkLink {
  margin: 0.2em 0.3em 0 !important; }
  .fallacyForm .commonMarkLink a {
    color: #767676;
    font-size: 12px; }
    .fallacyForm .commonMarkLink a:hover {
      text-decoration: underline; }
  .fallacyForm .commonMarkLink .clearfix {
    display: block; }

@media only screen and (max-width: 1025px) {
  .fallacyForm .equal.width.fields {
    margin-bottom: 15px; }
    .fallacyForm .equal.width.fields .field {
      width: 49% !important; }
      .fallacyForm .equal.width.fields .field input {
        width: 100% !important; } }
