@import "../../../../css/colors.scss";

.fallacyForm {
	.content {
		&:first-of-type {
			border-bottom: solid 1px $twitterExtraExtraLightGrey1 !important;
		}
	}

	.formHeader {
    	// font-size: 18px !important;
  	}

  	.field.startTime,
  	.field.contradictionStartTime {
    	padding-left: 0 !important;
    	padding-right: 0 !important;
  	}

  	.selectAssignee {
    	margin-bottom: 15px;
  	}

  	.contradictionWrapper {
    	margin-top: 0.9em;

    	&.active {
      		padding: 0;
    	}
  	}

  	.fallacyRef {
    	margin-top: 12px;
  	}

  	.buttons {
    	button {
      		width: 50%;
    	}
  	}

  	.commonMarkLink {
    	margin: 0.2em 0.3em 0 !important;

    	a {
      		color: $grey;
      		font-size: 12px;

      		&:hover {
        		text-decoration: underline;
      		}
    	}

    	.clearfix {
      		display: block;
    	}
  	}

  	@media only screen and (max-width: 1025px) {
    	.equal.width.fields {
      		margin-bottom: 15px;

      		.field {
        		width: 49% !important;

        		input {
          			width: 100% !important;
        		}
      		}
    	}
	}
	  
	.equal.width.fields .field {
		.input {
			.icon {
				color: $white !important;
			}
		}
	}
}
