@import '../../../css/colors.scss';

.tagsCard {
    .header {
        font-weight: 600;

        .editTagsIcon {
            color: $blue;
            cursor: pointer;
            display: none !important;
            float: right;
            font-size: 18px;
            margin-right: 0 !important;

            &.editing {
                color: $harley-davidson-orange;
            }
        }

        &:hover {
            .editTagsIcon {
                display: inline !important;
            }
        }
    }

    .tagsList {
        .item {
            .label {
                background: $seabrook;
                color: $white;
                cursor: pointer;

                &:hover {
                    background: darken($seabrook, 5%);
                }
            }

            .icon {
                color: $harley-davidson-orange !important;
                display: none;
            }

            &:hover {
                .icon {
                    cursor: pointer;
                    display: inline;
                }
            }
        }
    }
}

.ui.small.modal.tagsModal {
    margin-top: 100px !important;

    .header {
        padding: 10px 13px 0 13px;
    }

    .content {
        padding: 0.8em;
    }

    .tagModalBtn {
        float: right;
        margin: 15px 0 0;
    }
}