.tagsCard .header {
  font-weight: 600; }
  .tagsCard .header .editTagsIcon {
    color: #2196f3;
    cursor: pointer;
    display: none !important;
    float: right;
    font-size: 18px;
    margin-right: 0 !important; }
    .tagsCard .header .editTagsIcon.editing {
      color: #e84118; }
  .tagsCard .header:hover .editTagsIcon {
    display: inline !important; }

.tagsCard .tagsList .item .label {
  background: #487eb0;
  color: #ffffff;
  cursor: pointer; }
  .tagsCard .tagsList .item .label:hover {
    background: #41719e; }

.tagsCard .tagsList .item .icon {
  color: #e84118 !important;
  display: none; }

.tagsCard .tagsList .item:hover .icon {
  cursor: pointer;
  display: inline; }

.ui.small.modal.tagsModal {
  margin-top: 100px !important; }
  .ui.small.modal.tagsModal .header {
    padding: 10px 13px 0 13px; }
  .ui.small.modal.tagsModal .content {
    padding: 0.8em; }
  .ui.small.modal.tagsModal .tagModalBtn {
    float: right;
    margin: 15px 0 0; }
