@import "../../../../css/colors.scss";

.authComponent {
	.loginHeader {
		font-size: 32px !important;
	}

	.ui.form .field.field {
		input:-webkit-autofill, input::selection, input:active:-webkit-autofill, input:focus:-webkit-autofill {
			background: $invertedBackgroundColor !important;
			background-color: $invertedBackgroundColor !important;
			border: solid 1px $twitterExtraExtraLightGrey2 !important;
			box-shadow: none !important;
			outline: none !important;
			-webkit-box-shadow: 0 0 0 50px $invertedBackgroundColor inset !important;
			-webkit-text-fill-color: $white !important;
		}
	}

  	.registerText {
		background: $invertedBackgroundColor;
		border-top: solid 1px $twitterExtraExtraLightGrey2;
		color: $white;
		font-size: 16px !important;
		text-align: center;

		.registerLink {
	  		color: $lightBlue;
	  		cursor: pointer;

	  		&:hover {
				text-decoration: underline;
	  		}
		}

		&.verify {
			cursor: pointer;
			font-size: 14px;
		}
  	}

  	.googleBtn {
		font-weight: bold;
		margin-top: 12px;
		width: 100%;
  	}
}
