@import './pages/about.scss';
@import './pages/createDiscussion.scss';
@import './pages/discussion.scss';
@import './pages/discussions.scss';
@import './pages/fallacies.scss';
@import './pages/fallacy.scss';
@import './pages/pages.scss';
@import './pages/post.scss';
@import './pages/search.scss';
@import './pages/settings.scss';
@import './pages/signIn.scss';
@import './pages/tags.scss';
@import './pages/users.scss';
@import '../../css/colors.scss';

.rightSide {
    margin-left: 0;
    padding-left: 0 !important;
}

.search.selection.dropdown {
    &:hover {
        border-color: $dropdown-border-color !important;
    }

    .ui.label {
        background: $skirret-green;
        border: none !important;
        box-shadow: none !important;
        color: $white;
        padding: 6px 12px;
    }
}

.ui.vertical.menu .item {
    font-weight: normal !important;

    &.active {
        background: $protoss-pylos !important;
        color: $white;
        font-weight: bold !important;

        &:hover {
            color: $white;
        }
    }
}

.ui.secondary.pointing.menu .item {
    height: 50px;

    .label {
        background: $linx-white;
        color: $electromagnetic;
    }
}

.search.selection.active.dropdown {
    border-color: #96c8da !important;
}

.externalUrl {
    color: $vanadyl-blue;
    cursor: pointer;

    &:hover {
        color: lighten($vanadyl-blue, 5%);
    }
}

.Linkify {
    color: $electromagnetic !important;
    
    a {
        color: $vanadyl-blue !important;
    }
}

.clearfix {
    clear: both;
}

.facebookIcon {
    color: $facebook;
}

.twitterIcon {
    color: $twitter;
}

.youtubeIcon {
    color: $youtube;
}

.modals.dimmer .ui.scrolling.modal {
    margin: 60px 0 70px 0 !important;
}