.aboutPage .logoContainer {
  background: #f5f6fa;
  padding: 12px 0; }
  .aboutPage .logoContainer .header.aboutHeader {
    line-height: 1; }
    .aboutPage .logoContainer .header.aboutHeader .sub.header {
      margin-top: 6px; }
    .aboutPage .logoContainer .header.aboutHeader .blatherLogo {
      margin-bottom: 8px; }
      .aboutPage .logoContainer .header.aboutHeader .blatherLogo .blatherLogoSvg {
        fill: #0097e6;
        height: 84px;
        line-height: 96px;
        vertical-align: middle;
        width: 84px; }
    .aboutPage .logoContainer .header.aboutHeader span {
      line-height: 96px; }

.aboutPage .contactForm button {
  background: #0097e6 !important;
  float: right;
  margin-right: 0; }
  .aboutPage .contactForm button:hover {
    background: #0086cd !important; }

.aboutPage .contactForm .message {
  box-shadow: 0 0 0 1px rgba(163, 194, 147, 0.4) inset, 0 0 0 0 transparent !important; }

.createDiscussionPage .contentContainer {
  background: #ffffff;
  border: none !important;
  padding: 0 !important; }
  .createDiscussionPage .contentContainer .segment {
    background: #ffffff !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0;
    padding: 0; }
    .createDiscussionPage .contentContainer .segment .ui.form .field label {
      font-size: 15px; }
    .createDiscussionPage .contentContainer .segment .ui.form .provenWrongTextArea {
      margin-top: 1em; }
    .createDiscussionPage .contentContainer .segment .ui.form .submitDiscussionButton {
      background: #0097e6;
      margin-top: 1em; }
      .createDiscussionPage .contentContainer .segment .ui.form .submitDiscussionButton:hover {
        background: #0086cd !important; }
    .createDiscussionPage .contentContainer .segment .ui.form .previewDiscussionButton {
      background: #44bd32;
      color: #ffffff;
      margin-top: 1em; }
      .createDiscussionPage .contentContainer .segment .ui.form .previewDiscussionButton:hover {
        background: #3da92d !important; }
    .createDiscussionPage .contentContainer .segment .ui.form .titleInput input, .createDiscussionPage .contentContainer .segment .ui.form textarea {
      padding: 8px; }
  .createDiscussionPage .contentContainer .previewSegment {
    box-shadow: none !important; }
    .createDiscussionPage .contentContainer .previewSegment .descriptionTitle, .createDiscussionPage .contentContainer .previewSegment .extraTitle {
      background: #ffffff;
      margin-bottom: 5px; }
    .createDiscussionPage .contentContainer .previewSegment .descriptionPreview, .createDiscussionPage .contentContainer .previewSegment .extraPreview {
      min-height: 80px;
      padding: 0; }
  .createDiscussionPage .contentContainer .exitPreviewButton {
    background: #e84118;
    margin-top: 1em; }
    .createDiscussionPage .contentContainer .exitPreviewButton:hover {
      background: #d23a15 !important; }

.createDiscussionPage .rightSide .discussionTagsHeader {
  font-size: 24px !important; }

.discussionPage .header {
  color: #353b48; }
  .discussionPage .header .editButton {
    color: #0097e6;
    cursor: pointer;
    display: none !important;
    float: right;
    font-size: 18px;
    margin-right: 0 !important; }
    .discussionPage .header .editButton.editing {
      color: #e84118; }
  .discussionPage .header:hover .editButton {
    display: inline !important; }

.discussionPage .updateDiscussionBtn {
  background: #0097e6 !important; }
  .discussionPage .updateDiscussionBtn:hover {
    background: #0086cd !important; }

.discussionPage .evidenceSection .evidenceSegment,
.discussionPage .evidenceSection .extraSegment {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px !important; }

.discussionPage .ui.grid {
  margin-top: 0 !important; }

.discussionPage .steps .headerLogo {
  height: 35px;
  margin-right: 12px;
  width: 35px; }
  .discussionPage .steps .headerLogo .svgHeaderLogo {
    fill: #0097e6;
    height: 35px;
    width: 35px; }

.discussionsPage .discussionsContainer {
  border: none !important;
  padding: 0; }

.fallaciesPage .fallaciesMenu {
  border: none !important;
  box-shadow: none !important; }
  .fallaciesPage .fallaciesMenu .item:first-child {
    border-radius: 0 !important; }

.fallaciesPage .ui.vertical.menu .active.item {
  background: #00a8ff !important;
  color: #ffffff; }
  .fallaciesPage .ui.vertical.menu .active.item:hover {
    color: #ffffff; }

.fallaciesPage .mainFallacy {
  display: none;
  font-size: 18px; }
  .fallaciesPage .mainFallacy .header {
    padding: 0 !important; }
  .fallaciesPage .mainFallacy p {
    border: none !important;
    font-size: 15px;
    padding-top: 0 !important; }
  .fallaciesPage .mainFallacy .segment {
    background: #ffffff !important;
    border: none !important;
    padding: 0; }
    .fallaciesPage .mainFallacy .segment .comments {
      margin-top: 5px !important; }
      .fallaciesPage .mainFallacy .segment .comments .comment .avatar img {
        border-radius: 0 !important; }
  .fallaciesPage .mainFallacy.active {
    display: block; }

.fallacyPage .menuContainer .statistic .label, .fallacyPage .menuContainer .statistic .value {
  color: #353b48; }

.fallacyPage .ui.grid {
  margin-top: 0 !important; }

.fallacyPage .fallacyMainMenu {
  margin-top: 10px; }
  .fallacyPage .fallacyMainMenu .item {
    height: 50px; }
    .fallacyPage .fallacyMainMenu .item .label {
      background: #f5f6fa;
      color: #2f3640; }

.socialMediaPage .menu.socialMediaPageMenu {
  margin-top: 40px !important; }
  .socialMediaPage .menu.socialMediaPageMenu .item {
    height: 50px; }
    .socialMediaPage .menu.socialMediaPageMenu .item .label {
      background: #f5f6fa;
      color: #2f3640; }

.socialMediaPage .profilePic img {
  border: none !important; }

.socialMediaPage .profileContentContainer {
  border: none;
  min-height: 450px;
  padding: 0 !important; }
  .socialMediaPage .profileContentContainer .segment.dimmed.dimmable {
    border: solid 1px rgba(220, 221, 225, 0.6);
    box-shadow: none !important; }
    .socialMediaPage .profileContentContainer .segment.dimmed.dimmable .ui.active.transition.visible.dimmer {
      background: rgba(255, 255, 255, 0.8) !important; }

.postPage .mainContainer {
  padding: 0 !important; }

.postPage .sticky div {
  z-index: 1000; }

.postPage .sticky .breadcrumbContainer {
  background: #f5f6fa;
  border-bottom: solid 1px rgba(220, 221, 225, 0.6);
  margin-top: 60px;
  padding: 8px 30px;
  width: 100%; }
  .postPage .sticky .breadcrumbContainer .breadcrumb {
    line-height: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 30px; }

.searchPage .searchMenu {
  border: solid 1px rgba(220, 221, 225, 0.6) !important;
  box-shadow: none !important; }
  .searchPage .searchMenu .item:first-child {
    padding: 0; }
  .searchPage .searchMenu .item .input input {
    border: none !important;
    border-radius: 0 !important; }
  .searchPage .searchMenu .item .icon {
    font-size: 18px;
    line-height: 14px;
    vertical-align: middle; }
    .searchPage .searchMenu .item .icon.chatIcon {
      color: #e1b12c; }

.searchPage .ui.vertical.menu .active.item {
  background: #00a8ff !important;
  color: #ffffff; }
  .searchPage .ui.vertical.menu .active.item:hover {
    color: #ffffff; }

.searchPage .ui.vertical.menu > .active.item {
  border-radius: 0px !important; }

.searchPage .searchContentContainer {
  border: none !important;
  background: #ffffff;
  min-height: 300px;
  padding: 0 !important; }

.settingsPage .settingsMenu {
  border: none !important;
  box-shadow: none !important; }

.settingsPage .ui.vertical.menu .active.item {
  background: #00a8ff !important;
  color: #ffffff; }
  .settingsPage .ui.vertical.menu .active.item:hover {
    color: #ffffff; }

.settingsPage .settingsContent .segment {
  background: #ffffff !important;
  border: none !important;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.1) inset, 0 0 0 0 transparent !important;
  min-height: 400px; }
  .settingsPage .settingsContent .segment .ui.info.message {
    box-shadow: 0 0 0 1px rgba(169, 213, 222, 0.4) inset, 0 0 0 0 transparent !important; }

.settingsPage .settingsContent .firstParagraph {
  text-align: center; }

.settingsPage .settingsContent .changePasswordBox .passwordSubmit {
  background: #487eb0; }

.loginContainer {
  background: #f5f6fa;
  height: 100vh;
  padding-top: 60px; }
  .loginContainer .loginForm {
    height: 100%; }
    .loginContainer .loginForm .header {
      margin-top: 0; }

.tagsPage .segment.basic {
  padding: 0; }

.tagsPage .segment img {
  margin-bottom: 1.2em; }

.tagsPage .list .item {
  cursor: pointer; }
  .tagsPage .list .item.selected {
    background: #f5f6fa; }

.tagsPage .menu.tagMenu {
  margin-top: 40px !important; }
  .tagsPage .menu.tagMenu .item {
    height: 50px; }
    .tagsPage .menu.tagMenu .item .label {
      background: #f5f6fa;
      color: #2f3640; }
    .tagsPage .menu.tagMenu .item .editButton {
      color: #0097e6;
      cursor: pointer;
      float: right;
      font-size: 18px;
      margin-right: 0 !important; }
      .tagsPage .menu.tagMenu .item .editButton.editing {
        color: #e84118; }

.tagsPage .changePicBtn {
  background: #0097e6 !important; }
  .tagsPage .changePicBtn:hover {
    background: #00a8ff !important; }
  .tagsPage .changePicBtn .icon {
    color: #ffffff !important; }

.tagsPage .updateBtn {
  background: #0097e6 !important; }
  .tagsPage .updateBtn:hover {
    background: #0086cd !important; }

.usersPage .changePicBtn {
  background: #0097e6 !important; }
  .usersPage .changePicBtn:hover {
    background: #00a8ff !important; }
  .usersPage .changePicBtn .icon {
    color: #ffffff !important; }

.usersPage .profilePic img {
  border: none !important; }

.usersPage .menu.profileMenu {
  margin-top: 40px !important; }
  .usersPage .menu.profileMenu .item {
    height: 50px; }
    .usersPage .menu.profileMenu .item .label {
      background: #f5f6fa;
      color: #2f3640; }

.usersPage .profileContentContainer {
  border: none !important;
  padding: 0 !important; }

*:not(img) {
  border-radius: 0 !important; }

.rightSide {
  margin-left: 0;
  padding-left: 0 !important; }

button {
  color: #ffffff !important; }
  button:hover {
    color: #ffffff !important; }

textarea {
  border: solid 1px rgba(220, 221, 225, 0.6);
  color: #2f3640;
  outline: none !important;
  padding: 8px;
  width: 100%; }

.dropdown {
  border-radius: 0 !important; }
  .dropdown:focus {
    border-radius: 0 !important; }

.lazyLoadSegment {
  border-radius: 0 !important;
  box-shadow: none !important; }

.input input {
  border-radius: 0 !important; }

.ui.upward.selection.dropdown.visible {
  border-radius: 0 !important; }

.search.selection.dropdown:hover {
  border-color: rgba(34, 36, 38, 0.15) !important; }

.search.selection.dropdown .ui.label {
  background: #44bd32;
  border: none !important;
  box-shadow: none !important;
  color: #ffffff;
  padding: 6px 12px; }

.search.selection.active.dropdown {
  border-color: #96c8da !important; }

.segment:not(.basic, .lazyLoadSegment) {
  background: rgba(245, 246, 250, 0.3) !important;
  border: solid 1px rgba(220, 221, 225, 0.6) !important;
  box-shadow: none !important;
  padding: 8px; }
  .segment.dimmer {
    border: solid 1px rgba(245, 246, 250, 0.5); }

.externalUrl {
  color: #0097e6;
  cursor: pointer; }
  .externalUrl:hover {
    color: #01a8ff; }

.ui.secondary.pointing.menu .active.item {
  border-color: #0097e6 !important; }

.clearfix {
  clear: both; }

.facebookIcon {
  color: #3b5998; }

.twitterIcon {
  color: #0084b4; }

.youtubeIcon {
  color: #ff0000; }

.Linkify {
  color: #2f3640 !important; }
  .Linkify a {
    color: #0097e6 !important; }

.modals.dimmer .ui.scrolling.modal {
  margin: 60px 0 70px 0 !important; }
