@import '../../../css/colors.scss';

.searchResults {
    .resultsCount {
        .ui.statistic {
            display: inline-block;
            float: right;
            margin-right: 3px;
        }
    }

    .emptyMsg {
        box-shadow: 0 0 0 1px $warning-yellow-border inset, 0 0 0 0 transparent !important;
        margin-top: 8px !important;
    }

    .linkAccountMsg {
        box-shadow: 0 0 0 1px $regular-msg-border inset, 0 0 0 0 transparent !important;
    }

    .ui.active.transition.visible.dimmer {
        background: $dimmer-background !important;

        button {
            background: $skirret-green;

            &:hover {
                background: $download-progress;
            }
        }
    }

    .ui.items {
        margin-top: 15px !important;
    }
}
