.searchResults .resultsCount .ui.statistic {
  display: inline-block;
  float: right;
  margin-right: 3px; }

.searchResults .emptyMsg {
  border-radius: 0 !important;
  box-shadow: 0 0 0 1px rgba(201, 186, 155, 0.4) inset, 0 0 0 0 transparent !important; }

.searchResults .ui.active.transition.visible.dimmer {
  background: rgba(255, 255, 255, 0.8) !important; }
  .searchResults .ui.active.transition.visible.dimmer button {
    background: #44bd32; }
    .searchResults .ui.active.transition.visible.dimmer button:hover {
      background: #4cd137; }

.searchResults .ui.items {
  margin-top: 0 !important; }
