/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.fallaciesList {
  width: 100%; }
  .fallaciesList .emptyFallaciesContainer {
    text-align: center; }
    .fallaciesList .emptyFallaciesContainer .header {
      font-size: 20px; }
  .fallaciesList .targetMsg .icon.crosshairs {
    color: #DB2828; }
  .fallaciesList .targetMsg .viewAllTargets {
    cursor: pointer; }
    .fallaciesList .targetMsg .viewAllTargets:hover {
      text-decoration: underline; }
