.fallaciesList .fallaciesWrapper {
  margin-top: 14px; }

.fallaciesList .emptyFallaciesContainer {
  text-align: center; }
  .fallaciesList .emptyFallaciesContainer .header {
    font-size: 20px; }
  .fallaciesList .emptyFallaciesContainer .message {
    background: #fff; }

.fallaciesList .targetMsg {
  background: #fff; }
  .fallaciesList .targetMsg .icon.crosshairs {
    color: #f44336; }
  .fallaciesList .targetMsg .viewAllTargets {
    color: #2196f3;
    cursor: pointer; }
    .fallaciesList .targetMsg .viewAllTargets:hover {
      text-decoration: underline; }
