/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.fallaciesList {
  width: 100%; }
  .fallaciesList .emptyFallaciesContainer {
    text-align: center; }
    .fallaciesList .emptyFallaciesContainer .header {
      font-size: 20px; }
  .fallaciesList .targetMsg .icon.crosshairs {
    color: #DB2828; }
  .fallaciesList .targetMsg .viewAllTargets {
    color: #2185D0;
    cursor: pointer; }
    .fallaciesList .targetMsg .viewAllTargets:hover {
      text-decoration: underline; }
  @media only screen and (max-width: 1025px) {
    .fallaciesList .cards {
      margin-top: 10px; } }
  .fallaciesList .cards .card .content {
    word-break: break-word; }
  .fallaciesList .cards .card .image {
    background: #FFFFFF !important;
    height: 300px !important;
    overflow-y: hidden; }
    @media only screen and (max-width: 1025px) {
      .fallaciesList .cards .card .image {
        height: auto !important; } }
  .fallaciesList .cards .card .parent {
    background: #2185D0 !important;
    position: relative;
    width: 100%; }
  .fallaciesList .cards .card .one, .fallaciesList .cards .card .two {
    height: 300px;
    position: absolute;
    width: 65%; }
  .fallaciesList .cards .card .one {
    clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
    left: 0;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%); }
  .fallaciesList .cards .card .two {
    clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
    right: 0;
    top: 0;
    -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%); }
