@import '../../../css/colors.scss';

.fallaciesList {
    width: 100%;

    .emptyFallaciesContainer {
        text-align: center;

        .header {
            font-size: 20px;
        }
    }

    .targetMsg {
        .icon.crosshairs {
            color: $red;
        }

        .viewAllTargets {
            color: $blue;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
