@import '../../../css/colors.scss';

.youTubeVideo {
    .youTubeTitle {
        background: transparent;
        font-size: 20px !important;
        margin-top: 7px;

        a {
            color: $black;
        }
    }

    .progress {
        margin-bottom: 12px !important;
    }

    .channelSegment {
        margin: 1px !important;
        padding: 0;

        &.hasComment {
            margin-bottom: 0 !important;
        }

        .header {
            color: $blue;
            cursor: pointer;
            font-size: 14px !important;

            &:hover {
                text-decoration: underline;
            }

            &.subheader {
                font-size: 11px;
            }

            img {
                margin-right: 2px;
            }

            .sub.header {
                font-size: 12px !important;
            }
        }

        .videoDescription {
            color: $grey;
        }
    }

    .videoPlayer {
        width: 100% !important;
    }

    .stats {
        .likeCount {
            float: left;
        }

        .statistic {
            margin-bottom: 0;
        }
    }

    .archiveForm {
        .form {
            margin-top: 0;
            padding: 0;
        }
    }

    .archivesList {
        margin-top: 2px !important;

        .archiveItem {
            cursor: pointer;
            padding: 9px 4px 6px 4px !important;

            &.selected {
                background: $offWhite;
            }

            .extra {
                .list {
                    margin: 0 !important;

                    a {
                        color: $blue;

                        &:hover {
                            color: $blue !important;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .ui.divided.items > .item:first-child {
        padding: 9px 4px 6px 4px !important;
    }

    .editVideoTimes {
        margin: 20px 0 0 0 !important;
    }
}

.youtubeCommentsSection {
    .toggleComments {
        float: right;
        margin-right: 0;
        vertical-align: middle;
    }

    .emptyCommentMsg {
        text-align: center;
    }

    .commentsSection {
        margin: 20px 0;

        .dimmed.dimmable {
            padding: 10px;

            .dimmer {
                background: $dimmer-background !important;
            }

            .content {
                .header {
                    color: $black;
                }
            }
        }

        .basic.segment {
            margin-top: 0;
            padding: 0;
        }
    }

    .comments {
        max-width: none !important;

        .comment {
            cursor: pointer;
            margin: 0;
            white-space: pre-line;

            &.selectedComment {
                cursor: text;

                .content {
                    .text {
                        color: $black;

                        b {
                            background: $higlighterYellow !important;
                        }
                    }
                }
            }

            .actions {
                a {
                    color: $black;

                    .icon {
                        color: $blue;
                    }

                    &.youtubeLink {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .likeComment {
                    cursor: default !important;
                }
            }
        }
    }

    .selectedCommentWrapper {
        
    }
}

.modals.dimmer {
    .ui.scrolling.modal.youtubeCommentModal {
        margin-top: 0 !important;
    }
}

.youtubeCommentModal {
    margin-top: 0 !important;

    .comments {
        max-width: none !important;

        .comment {
            cursor: text;
            margin: 0;
            white-space: pre-line;

            .content {
                .text {
                    color: $black;

                    b {
                        background: $higlighterYellow !important;
                    }
                }
            }

            .actions {
                a {
                    color: $black;

                    .icon {
                        color: $blue;
                    }

                    &.youtubeLink {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .likeComment {
                    cursor: default !important;
                }

                .archiveComment {
                    float: right;

                    .icon {
                        color: $yellow;
                    }
                }
            }
        }
    }
}
