/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
.youTubeVideo .youTubeTitle {
  background: transparent;
  font-size: 20px !important;
  margin-top: 7px; }
  .youTubeVideo .youTubeTitle a {
    color: #1B1C1D; }

.youTubeVideo .channelCard {
  margin-bottom: 14px !important; }
  .youTubeVideo .channelCard.hasComment {
    margin-bottom: 0 !important; }
  .youTubeVideo .channelCard .content .header {
    color: #2185D0;
    cursor: pointer;
    font-size: 16px !important;
    font-weight: 400 !important; }
    .youTubeVideo .channelCard .content .header:hover {
      text-decoration: underline; }
  .youTubeVideo .channelCard .content .meta {
    font-size: 12px !important; }
  .youTubeVideo .channelCard .content .description {
    white-space: pre-line; }
  .youTubeVideo .channelCard .content.extra {
    line-height: 1.5em;
    margin-top: 5px;
    padding-top: 10px !important; }
    .youTubeVideo .channelCard .content.extra .icon.archive {
      color: #54C8FF;
      cursor: pointer;
      float: right;
      vertical-align: middle; }
    .youTubeVideo .channelCard .content.extra .archiveMsg {
      margin-bottom: 0 !important; }
      .youTubeVideo .channelCard .content.extra .archiveMsg a {
        color: #2185D0; }
        .youTubeVideo .channelCard .content.extra .archiveMsg a:hover {
          color: #1e77ba; }

.youTubeVideo .videoPlayer {
  width: 100% !important; }

.youTubeVideo .stats .viewCount {
  float: left; }

.youTubeVideo .stats .likeCount {
  float: right; }

.youTubeVideo .toggleComments {
  float: right;
  font-size: 18px;
  margin-right: 0; }

.youTubeVideo .emptyCommentMsg {
  text-align: center; }

.youTubeVideo .commentsSection {
  margin-top: 10px; }
  .youTubeVideo .commentsSection .dimmed.dimmable {
    padding: 10px; }
    .youTubeVideo .commentsSection .dimmed.dimmable .dimmer {
      background: rgba(255, 255, 255, 0.8) !important; }
    .youTubeVideo .commentsSection .dimmed.dimmable .content .header {
      color: #1B1C1D; }

.youTubeVideo .comments {
  max-width: none !important; }
  .youTubeVideo .comments .comment {
    cursor: pointer;
    margin: 0;
    white-space: pre-line; }
    .youTubeVideo .comments .comment .actions a {
      color: #1B1C1D; }
      .youTubeVideo .comments .comment .actions a .icon {
        color: #2185D0; }
      .youTubeVideo .comments .comment .actions a.youtubeLink:hover {
        text-decoration: underline; }
    .youTubeVideo .comments .comment .actions .likeComment {
      cursor: default !important; }

.youtubeCommentModal .comments .comment {
  cursor: pointer;
  margin: 0;
  white-space: pre-line; }
  .youtubeCommentModal .comments .comment .actions a {
    color: #1B1C1D; }
    .youtubeCommentModal .comments .comment .actions a .icon {
      color: #2185D0; }
    .youtubeCommentModal .comments .comment .actions a.youtubeLink:hover {
      text-decoration: underline; }
  .youtubeCommentModal .comments .comment .actions .likeComment {
    cursor: default !important; }
