/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.youTubeVideo .youTubeTitle {
  background: transparent;
  font-size: 20px !important;
  margin-top: 7px; }
  .youTubeVideo .youTubeTitle a {
    color: #1B1C1D; }

.youTubeVideo .progress {
  margin-bottom: 12px !important; }

.youTubeVideo .channelSegment {
  margin: 1px !important;
  padding: 0; }
  .youTubeVideo .channelSegment.hasComment {
    margin-bottom: 0 !important; }
  .youTubeVideo .channelSegment .header {
    color: #2185D0;
    cursor: pointer;
    font-size: 14px !important; }
    .youTubeVideo .channelSegment .header:hover {
      text-decoration: underline; }
    .youTubeVideo .channelSegment .header.subheader {
      font-size: 11px; }
    .youTubeVideo .channelSegment .header img {
      margin-right: 2px; }
    .youTubeVideo .channelSegment .header .sub.header {
      font-size: 12px !important; }
  .youTubeVideo .channelSegment .videoDescription {
    color: #767676; }

.youTubeVideo .videoPlayer {
  width: 100% !important; }

.youTubeVideo .stats .likeCount {
  float: left; }

.youTubeVideo .stats .statistic {
  margin-bottom: 0; }

.youTubeVideo .archiveForm .form {
  margin-top: 0;
  padding: 0; }

.youTubeVideo .archivesList .item span {
  color: #2185D0;
  cursor: pointer; }
  .youTubeVideo .archivesList .item span:hover {
    text-decoration: underline; }

.youTubeVideo .editVideoTimes {
  margin-top: 5px; }

.youtubeCommentsSection .toggleComments {
  float: right;
  margin-right: 0;
  vertical-align: middle; }

.youtubeCommentsSection .emptyCommentMsg {
  text-align: center; }

.youtubeCommentsSection .commentsSection {
  margin: 20px 0; }
  .youtubeCommentsSection .commentsSection .dimmed.dimmable {
    padding: 10px; }
    .youtubeCommentsSection .commentsSection .dimmed.dimmable .dimmer {
      background: rgba(255, 255, 255, 0.8) !important; }
    .youtubeCommentsSection .commentsSection .dimmed.dimmable .content .header {
      color: #1B1C1D; }
  .youtubeCommentsSection .commentsSection .basic.segment {
    margin-top: 0;
    padding: 0; }

.youtubeCommentsSection .comments {
  max-width: none !important; }
  .youtubeCommentsSection .comments .comment {
    cursor: pointer;
    margin: 0;
    white-space: pre-line; }
    .youtubeCommentsSection .comments .comment.selectedComment {
      cursor: text; }
      .youtubeCommentsSection .comments .comment.selectedComment .content .text {
        color: #1B1C1D; }
        .youtubeCommentsSection .comments .comment.selectedComment .content .text b {
          background: #ffff00 !important; }
    .youtubeCommentsSection .comments .comment .actions a {
      color: #1B1C1D; }
      .youtubeCommentsSection .comments .comment .actions a .icon {
        color: #2185D0; }
      .youtubeCommentsSection .comments .comment .actions a.youtubeLink:hover {
        text-decoration: underline; }
    .youtubeCommentsSection .comments .comment .actions .likeComment {
      cursor: default !important; }

.modals.dimmer .ui.scrolling.modal.youtubeCommentModal {
  margin-top: 0 !important; }

.youtubeCommentModal {
  margin-top: 0 !important; }
  .youtubeCommentModal .comments {
    max-width: none !important; }
    .youtubeCommentModal .comments .comment {
      cursor: text;
      margin: 0;
      white-space: pre-line; }
      .youtubeCommentModal .comments .comment .content .text {
        color: #1B1C1D; }
        .youtubeCommentModal .comments .comment .content .text b {
          background: #ffff00 !important; }
      .youtubeCommentModal .comments .comment .actions a {
        color: #1B1C1D; }
        .youtubeCommentModal .comments .comment .actions a .icon {
          color: #2185D0; }
        .youtubeCommentModal .comments .comment .actions a.youtubeLink:hover {
          text-decoration: underline; }
      .youtubeCommentModal .comments .comment .actions .likeComment {
        cursor: default !important; }
      .youtubeCommentModal .comments .comment .actions .archiveComment {
        float: right; }
        .youtubeCommentModal .comments .comment .actions .archiveComment .icon {
          color: #FBBD08; }
