@import '../../../css/colors.scss';

.fallaciesList {
    .fallaciesWrapper {
        margin-top: 14px;
    }

    .emptyFallaciesContainer {
        text-align: center;

        .header {
            font-size: 20px;
        }
    }
}
