/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
.signInLogo {
  display: inline;
  fill: #2185D0;
  height: 48px;
  width: 48px; }

.authSegment .error.message {
  margin-bottom: 14px; }

.registerLink {
  color: #2185D0;
  cursor: pointer; }
  .registerLink:hover {
    text-decoration: underline; }
