/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.authComponent .signInLogo {
  display: inline;
  fill: #2185D0;
  height: 48px;
  width: 48px; }

.authComponent .authSegment .error.message {
  margin-bottom: 14px; }

.authComponent .registerLink {
  color: #2185D0;
  cursor: pointer; }
  .authComponent .registerLink:hover {
    text-decoration: underline; }
