@import '../../../css/colors.scss';

.authComponent {
    .signInLogo {
        display: inline;
        fill: $blue;
        height: 48px;
        width: 48px;
    }

    .authSegment {
        .error.message {
            margin-bottom: 14px;
        }
    }

    .registerText {
        background: $white;
        border-top: solid 1px $darkWhite;
        text-align: left;

        .registerLink {
            color: $blue;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .googleBtn {
        font-weight: bold;
        margin-top: 12px;
        width: 100%;
    }

    .twitterBtn {
        border-radius: 2px;
        height: 43px;
        text-align: left;

        .icon {
            line-height: 18px
        }
    }
}