.commentsSection .comment .avatar img {
  border-radius: 0 !important;
  height: 36px !important;
  width: 36px !important; }

.commentsSection form button {
  background: #0097e6 !important; }
  .commentsSection form button:hover {
    background: #0086cd !important; }
