@import '../../../css/colors.scss';

.navSearch {
    .input {
        width: 100%;
    }

    .results {
        width: 100% !important;
    }

    .result {
        padding: 6px !important;
        
        .searchItem {
            .header {
                margin-bottom: 3px !important;
                margin-top: 0 !important;
            }

            .dropDownItemPic {
                float: left !important;
                height: 50px !important;
                margin-right: 8px;
                width: 50px !important;
            }

            .tagIcon {
                color: $blue;
            }
        }
    }
}