.feed {
    .label {
        img {
            border: 1px solid rgba(0,0,0,.1);
            cursor: pointer;
        }
    }

    .content .extra {
        &.text {
            max-width: 750px !important;
        }

        p {
            cursor: pointer;
        }

        .videoImg {
            cursor: pointer;
            width: 200px !important;
        }
    }

    .archiveExtra {
        margin: 16px 0 10px 0 !important;
    }
}
