.feed .label img {
  cursor: pointer; }

.feed .content .extra.text {
  max-width: none !important; }

.feed .content .extra p {
  cursor: pointer; }

.feed .content .extra .videoImg {
  cursor: pointer;
  width: 200px !important; }
