.feed {
    .label {
        img {
            cursor: pointer;
        }
    }

    .content .extra {
        &.text {
            max-width: none !important;
        }

        p {
            cursor: pointer;
        }
    }
}
