@import "../../../../css/colors.scss";

.navSearch {
	.ui.icon.input {
    	width: 100%;

    	input {
      		background: $invertedBackgroundColor !important;
      		border: solid 1px $twitterExtraExtraLightGrey2;
    	}

    	.icon {
      		color: $white;
    	}
 	 }

  	.results {
		background: $invertedBackgroundColor !important;
		border: solid 1px $twitterExtraExtraLightGrey1 !important;
		width: 100% !important;
		
		.category {
			.name {
				background: lighten($invertedBackgroundColor, 4%) !important;
				color: $white !important;
			}
		}
  	}

  	.result {
		padding: 6px !important;
		
		&:hover {
			background: lighten($invertedBackgroundColor, 4%) !important;
		}

    	.searchItem {
      		.header {
        		margin-bottom: 3px !important;
        		margin-top: 0 !important;

        		@media only screen and (max-width: 1025px) {
          			font-size: 13px !important;
        		}
      		}

      		.dropDownItemPic {
        		float: left !important;
        		height: 50px !important;
        		margin-right: 8px;
        		width: 50px !important;
      		}

      		.tagIcon {
        		color: $blue;
      		}
    	}
  	}
}
