@import "../../../../css/colors.scss";

.commentsSection {
	width: 100%;

  	.ui.comments {
		margin-top: 20px !important;
		max-width: none;
		
		.comment {
			.metadata {
				color: $lightGrey !important;
			}
		}
  	}
}
