@import "../../../../css/colors.scss";

.commentsSection {
	width: 100%;

  	.ui.big.comments {
		max-width: none !important;
		width: 100% !important;

		&.commentsGroup {
			margin-top: 20px !important;
		}
		
		.comment {
			width: 100% !important;

			.actions span {
				color: $lightGrey !important;
				font-weight: bold;
			}

			.avatar {
                cursor: pointer;
			}

			.metadata {
				color: $lightGrey !important;
			}

			.likeCount {
				color: $white;
				font-weight: bold;
				margin-left: 8px;
			}

			.content {
                background: lighten($invertedBackgroundColor, 5%) !important;
				border-radius: 4px;
				padding: 7px 12px 10px 12px !important;

				.text {
					color: $white !important;

					span {
						white-space: pre-wrap !important;
					}
				}
			}

			.comments {
				margin: 0 !important;
				padding-bottom: 0 !important;
			}
		}
	}
	  
	.replyBtn {
		margin-top: 18px;
	}
}
