/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Twitter ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.commentsSection {
  width: 100%; }
  .commentsSection .ui.comments {
    margin-top: 20px !important;
    max-width: none; }
    .commentsSection .ui.comments .comment .metadata {
      color: #dcddde !important; }
