.fallacyExample .fallacyMaterial {
  margin-top: 15px; }

.fallacyExample .header .editButton {
  color: #2196f3;
  cursor: pointer;
  display: none !important;
  float: right;
  font-size: 18px;
  margin-right: 0 !important; }
  .fallacyExample .header .editButton.editing {
    color: #e84118; }

.fallacyExample .header:hover .editButton {
  display: inline !important; }
