.fallacyExample .header .editButton {
  color: #2196f3;
  cursor: pointer;
  display: none !important;
  float: right;
  font-size: 18px;
  margin-right: 0 !important; }
  .fallacyExample .header .editButton.editing {
    color: #e84118; }

.fallacyExample .header:hover .editButton {
  display: inline !important; }

.fallacyExample .fallacyMaterial {
  margin-top: 15px; }

.fallacyExample .fallacyExplanation {
  width: 100%; }

.fallacyExample .explanationField {
  margin-bottom: 4px !important; }

.fallacyExample .commonMarkLink {
  font-size: 12px;
  margin: 0.5em 0.3em !important; }

@media only screen and (max-width: 1025px) {
  .fallacyExample .fallacyExplanation .header {
    font-size: 18px; } }

.fallacyExample .explanation {
  white-space: pre-line; }
  .fallacyExample .explanation p {
    margin: 0; }
