@import '../../../css/colors.scss';

.fallacyExample {
    overflow: hidden;

    .fallacyHeader {
        .editButton {
            color: $blue;
            cursor: pointer;
            display: none !important;
            float: right;
            font-size: 18px;
            margin-left: 2px;

            &.editing {
                color: $lightRed;
            }
        }

        &:hover {
            .editButton {
                display: inline !important;
            }
        }
    }

    .fallacyMaterial {
        margin-top: 15px;
    }

    .fallacyExplanation {
        margin: 0;
        padding: 4px 8px 0 8px;
        width: 100%;
    }

    span.clearfix {
        display: block;
    }

    .commonMarkLink {
        margin: 0.5em 0.3em 0 !important;

        a {
            color: $lightBlack;
            float: right;
            font-size: 12px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media only screen and (max-width: 1025px) {
        .fallacyExplanation {
            .header {
                font-size: 18px;
            }
        }
    }

    .explanation {
        white-space: pre-line;

        p {
            font-size: 15px;
            margin: 0;
        }
    }

    .editTimesForm {
        margin-top: 12px !important;

        .fields {
            margin-bottom: 0;
        }

        .button {
            margin-top: 12px;
        }
    }

    .watermarkLabel {
        float: right;
        margin: 6px;
        padding: 2px 6px 2px 2px;

        img {
            display: inline !important;
            margin-right: 6px;
        }
    }
}
