.fallacyExample .header .editButton {
  color: #2196f3;
  cursor: pointer;
  display: none !important;
  float: right;
  font-size: 18px;
  margin-right: 0 !important; }
  .fallacyExample .header .editButton.editing {
    color: #ff1744; }

.fallacyExample .header:hover .editButton {
  display: inline !important; }

.fallacyExample .fallacyMaterial {
  margin-top: 15px; }

.fallacyExample .fallacyExplanation {
  width: 100%; }

.fallacyExample .commonMarkLink {
  margin: 0.5em 0.3em !important; }
  .fallacyExample .commonMarkLink a {
    color: #333333;
    float: right;
    font-size: 12px; }
    .fallacyExample .commonMarkLink a:hover {
      text-decoration: underline; }

@media only screen and (max-width: 1025px) {
  .fallacyExample .fallacyExplanation .header {
    font-size: 18px; } }

.fallacyExample .explanation {
  white-space: pre-line; }
  .fallacyExample .explanation p {
    font-size: 14px;
    margin: 0; }
