@import '../../../css/colors.scss';

.fallacyExample {
    .header {
        .editButton {
            color: $blue;
            cursor: pointer;
            display: none !important;
            float: right;
            font-size: 18px;
            margin-right: 0 !important;

            &.editing {
                color: $harley-davidson-orange;
            }
        }

        &:hover {
            .editButton {
                display: inline !important;
            }
        }
    }

    .fallacyMaterial {
        margin-top: 15px;
    }

    .fallacyExplanation {
        width: 100%;
    }

    .explanationField {
        margin-bottom: 4px !important;
    }

    .commonMarkLink {
        font-size: 12px;
        margin: 0.5em 0.3em !important;
    }

    @media only screen and (max-width: 1025px) {
        .fallacyExplanation {
            .header {
                font-size: 18px;
            }
        }
    }

    .explanation {
        white-space: pre-line;

        p {
            margin: 0;
        }
    }
}
