/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.fallacyForm .startTime, .fallacyForm .field.contradictionStartTime {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.fallacyForm .selectAssignee {
  margin-bottom: 15px; }

.fallacyForm .contradictionWrapper {
  margin-top: 0.9em; }
  .fallacyForm .contradictionWrapper.active {
    padding: 10px; }

.fallacyForm .segment {
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  margin-left: 0 !important; }
  .fallacyForm .segment .buttons button {
    width: 50%; }

.fallacyForm .commonMarkLink {
  margin: 0.5em 0.3em 0 !important; }
  .fallacyForm .commonMarkLink a {
    color: #545454;
    float: right;
    font-size: 12px; }
    .fallacyForm .commonMarkLink a:hover {
      text-decoration: underline; }
  .fallacyForm .commonMarkLink .clearfix {
    display: block; }

.successModal a {
  cursor: pointer; }

.successModal .modalBtnWrapper {
  margin-top: 1.6em;
  text-align: center; }
