/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.fallacyForm .formHeader {
  font-size: 24px !important; }

.fallacyForm .segment.basic {
  padding: 0; }
  @media only screen and (max-width: 1025px) {
    .fallacyForm .segment.basic .equal.width.fields .field {
      width: 49% !important; } }

.fallacyForm .field.startTime, .fallacyForm .field.contradictionStartTime {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.fallacyForm .selectAssignee {
  margin-bottom: 15px; }

.fallacyForm .contradictionWrapper {
  margin-top: 0.9em; }
  .fallacyForm .contradictionWrapper.active {
    padding: 0; }

.fallacyForm .buttons button {
  width: 50%; }

.fallacyForm .commonMarkLink {
  margin: 0.2em 0.3em 0 !important; }
  .fallacyForm .commonMarkLink a {
    color: #767676;
    font-size: 12px; }
    .fallacyForm .commonMarkLink a:hover {
      text-decoration: underline; }
  .fallacyForm .commonMarkLink .clearfix {
    display: block; }

.successModal a {
  cursor: pointer; }

.successModal .modalBtnWrapper {
  margin-top: 1.6em;
  text-align: center; }
