@import '../../../css/colors.scss';

.fallacyForm {
    .formHeader {
        img {
            background: $offWhite;
            border: solid 1px $darkWhite;
        }
    }

    .startTime, .field.contradictionStartTime {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .selectAssignee {
        margin-bottom: 15px;
    }

    .contradictionWrapper {
        margin-top: 0.9em;

        &.active {
            padding: 10px;
        }
    }

    .zigzag {
        background: linear-gradient(-137deg, $lightYellow 6px, transparent 0) 0 5px, linear-gradient(320deg, $lightYellow 5px, $white 0) 0 5px;
        background-color: $lightYellow;
        background-position: left bottom;
        background-repeat: repeat-y;
        background-size: 10px 10px;
        float: left;
        height: 315px;
        width: 14px;
    }

    .form {
        float: right;
        width: 96%;
    }

    .buttons {
        button {
            width: 50%;
        }
    }

    .commonMarkLink {
        margin: 0.5em 0.3em 0 !important;

        a {
            color: $grey;
            font-size: 12px;

            &:hover {
                text-decoration: underline;
            }
        }

        .clearfix {
            display: block;
        }
    }
}

.successModal {
    a {
        cursor: pointer;
    }

    .modalBtnWrapper {
        margin-top: 1.6em;
        text-align: center;
    }
}