@import '../../../css/colors.scss';

.fallacyForm {
    .startTime, .field.contradictionStartTime {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .selectAssignee {
        margin-bottom: 15px;
    }

    .contradictionWrapper {
        margin-top: 0.9em;

        &.active {
            padding: 10px;
        }
    }

    .segment {
        border-bottom-left-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
        margin-left: 0 !important;

        .buttons {
            button {
                width: 50%;
            }
        }
    }

    .commonMarkLink {
        margin: 0.5em 0.3em 0 !important;

        a {
            color: $lightBlack;
            float: right;
            font-size: 12px;

            &:hover {
                text-decoration: underline;
            }
        }

        .clearfix {
            display: block;
        }
    }
}

.successModal {
    a {
        cursor: pointer;
    }

    .modalBtnWrapper {
        margin-top: 1.6em;
        text-align: center;
    }
}