@import '../../../css/colors.scss';

.fallacyForm {
    .formHeader {
        font-size: 18px !important;
    }

    .field.startTime, .field.contradictionStartTime {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .selectAssignee {
        margin-bottom: 15px;
    }

    .contradictionWrapper {
        margin-top: 0.9em;

        &.active {
            padding: 0;
        }
    }

    .buttons {
        button {
            width: 50%;
        }
    }

    .commonMarkLink {
        margin: 0.2em 0.3em 0 !important;

        a {
            color: $grey;
            font-size: 12px;

            &:hover {
                text-decoration: underline;
            }
        }

        .clearfix {
            display: block;
        }
    }
}

.successModal {
    a {
        cursor: pointer;
    }

    .modalBtnWrapper {
        margin-top: 1.6em;
        text-align: center;
    }
}