@import '../../../css/colors.scss';

.signInLogo {
    display: inline;
    fill: $vanadyl-blue;
    height: 48px;
    width: 48px;
}

.authSegment {
    .error.message {
        margin-bottom: 14px;
    }
}

.registerLink {
    color: $vanadyl-blue;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}