.signInLogo {
  display: inline;
  fill: #0097e6;
  height: 48px;
  width: 48px; }

.authSegment .error.message {
  margin-bottom: 14px; }

.registerLink {
  color: #0097e6;
  cursor: pointer; }
  .registerLink:hover {
    text-decoration: underline; }
