@import '../../../css/colors.scss';

.pageHeader {
    .loadingBar {
        background: $blue;
        height: 5px;
        margin-top: 72px;
        position: fixed;
        z-index: 9999;
    }

    .menu.globalHeader {
        height: 72px;
        z-index: 1001 !important;

        .headerContainer {
            .responsive {
                display: flex;
                width: 100%;
            }

            .headerMenuItem {
                margin-right: 0 !important;
                
                .headerLogo {
                    cursor: pointer;
                    display: inline;
                    fill: $blue;
                    height: 36px;
                    line-height: 4;
                    margin-right: 12px;
                    vertical-align: middle;
                    width: 36px;
                }
            }

            .sidebarItem {
                .icon {
                    cursor: pointer;

                    &:hover {
                        color: $blue;
                    }
                }
            }

            .fallaciesLink a {
                color: $lightBlack;
                font-size: 15px !important;
                font-weight: bold !important;
            }

            .signInLink {
                text-align: right;

                .ui.grid.relaxed {
                    margin-right: -1.5rem;

                    .column:first-of-type {
                        padding-right: 1.5rem;
                    }
                }

                a {
                    color: $lightBlack;
                    font-size: 15px !important;
                    font-weight: bold !important;
                    line-height: 35.5px;
                }
            }

            .dropDownMenu {
                font-size: 15px;

                button {
                    margin-right: 0;
                }

                .menu.visible {
                    margin-top: 17px;
                    width: 100%;
                    z-index: 1001;
                }
            }
        }
    }

    .sidebar {
        top: 72px !important;

        .sidebarSearchBtn {
            margin-top: 8px;
        }
    }
}