/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.pageHeader .loadingBar {
  background: #2185D0;
  height: 5px;
  margin-top: 72px;
  position: fixed;
  z-index: 9999; }

.pageHeader .menu.globalHeader {
  height: 72px;
  z-index: 1001 !important; }
  .pageHeader .menu.globalHeader .headerContainer .responsive {
    display: flex;
    width: 100%; }
  .pageHeader .menu.globalHeader .headerContainer .headerMenuItem {
    margin-right: 0 !important; }
    .pageHeader .menu.globalHeader .headerContainer .headerMenuItem .headerLogo {
      cursor: pointer;
      display: inline;
      fill: #2185D0;
      height: 36px;
      line-height: 4;
      margin-right: 12px;
      vertical-align: middle;
      width: 36px; }
  .pageHeader .menu.globalHeader .headerContainer .sidebarItem .icon {
    cursor: pointer; }
    .pageHeader .menu.globalHeader .headerContainer .sidebarItem .icon:hover {
      color: #2185D0; }
  .pageHeader .menu.globalHeader .headerContainer .fallaciesLink a {
    color: #545454;
    font-size: 15px !important;
    font-weight: bold !important; }
  .pageHeader .menu.globalHeader .headerContainer .signInLink {
    text-align: right; }
    .pageHeader .menu.globalHeader .headerContainer .signInLink .ui.grid.relaxed {
      margin-right: -1.5rem; }
      .pageHeader .menu.globalHeader .headerContainer .signInLink .ui.grid.relaxed .column:first-of-type {
        padding-right: 1.5rem; }
    .pageHeader .menu.globalHeader .headerContainer .signInLink a {
      color: #545454;
      font-size: 15px !important;
      font-weight: bold !important;
      line-height: 35.5px; }
  .pageHeader .menu.globalHeader .headerContainer .dropDownMenu {
    font-size: 15px; }
    .pageHeader .menu.globalHeader .headerContainer .dropDownMenu button {
      margin-right: 0; }
    .pageHeader .menu.globalHeader .headerContainer .dropDownMenu .menu.visible {
      margin-top: 17px;
      width: 100%;
      z-index: 1001; }

.pageHeader .sidebar {
  top: 72px !important; }
  .pageHeader .sidebar .sidebarSearchBtn {
    margin-top: 8px; }
