@import '../../../css/colors.scss';

.pageHeader {
    .menu.globalHeader {
        background: $black !important;
        height: 72px;
        z-index: 1001 !important;

        .headerContainer {
            .responsive {
                display: flex;
                width: 100%;
            }

            .headerMenuItem {
                margin-right: 0 !important;
                
                .headerLogo {
                    cursor: pointer;
                    display: inline;
                    fill: $blue;
                    height: 36px;
                    line-height: 4;
                    margin-right: 12px;
                    vertical-align: middle;
                    width: 36px;

                    &:hover {
                        fill: $lightBlue;
                    }
                }
            }

            .sidebarItem {
                .icon {
                    cursor: pointer;

                    &:hover {
                        color: $blue;
                    }
                }
            }

            .fallaciesLink, .discussionsLink, .signInLink {
                color: $offWhite;
                font-size: 15px !important;
                font-weight: 500 !important;
                padding-left: 10px !important;
                padding-right: 10px !important;

                &:hover {
                    color: $white;
                }
            }

            .dropDownMenu {
                font-size: 15px;
                
                .menu.visible {
                    z-index: 1001;

                    .item {
                        a {
                            color: rgba(0,0,0,0.8) !important;
                        }
                    }
                }
            }
        }
    }

    .sidebar {
        top: 72px !important;
    }
}