/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.pageHeader .loadingBar {
  background: #2185D0;
  height: 5px;
  margin-top: 72px;
  position: fixed;
  z-index: 9999; }
  @media only screen and (max-width: 1025px) {
    .pageHeader .loadingBar {
      margin-top: 135px; } }

.pageHeader .menu.subHeader {
  border: none;
  border-bottom: solid 1px #DCDDDE;
  border-radius: 0;
  box-shadow: none !important;
  margin-top: 71px;
  width: 100%;
  z-index: 999 !important; }
  .pageHeader .menu.subHeader .subHeaderContainer .searchItem {
    width: 100%; }
    @media only screen and (min-width: 450px) {
      .pageHeader .menu.subHeader .subHeaderContainer .searchItem {
        padding-left: 0;
        padding-right: 0; } }

.pageHeader .menu.globalHeader {
  box-shadow: none;
  height: 72px;
  z-index: 1001 !important; }
  .pageHeader .menu.globalHeader .headerContainer .responsive {
    display: flex;
    width: 100%; }
  .pageHeader .menu.globalHeader .headerContainer .headerMenuItem {
    margin-right: 0 !important; }
    .pageHeader .menu.globalHeader .headerContainer .headerMenuItem .headerLogo {
      cursor: pointer;
      display: inline;
      fill: #2185D0;
      height: 36px;
      line-height: 4;
      margin-right: 12px;
      vertical-align: middle;
      width: 36px; }
  .pageHeader .menu.globalHeader .headerContainer .sidebarItem .button {
    margin-right: 18px; }
  .pageHeader .menu.globalHeader .headerContainer .sidebarItem .icon {
    cursor: pointer; }
    .pageHeader .menu.globalHeader .headerContainer .sidebarItem .icon:hover {
      color: #2185D0; }
  .pageHeader .menu.globalHeader .headerContainer .fallaciesLink a {
    color: #545454;
    font-size: 15px !important;
    font-weight: bold !important; }
  .pageHeader .menu.globalHeader .headerContainer .signInLink {
    text-align: right; }
    .pageHeader .menu.globalHeader .headerContainer .signInLink .ui.grid.relaxed {
      margin-right: -1.4rem; }
      .pageHeader .menu.globalHeader .headerContainer .signInLink .ui.grid.relaxed .column:first-of-type {
        padding-right: 1.4rem; }
    .pageHeader .menu.globalHeader .headerContainer .signInLink a {
      color: #545454;
      font-size: 15px !important;
      font-weight: bold !important;
      line-height: 35.5px; }
  .pageHeader .menu.globalHeader .headerContainer .dropDownMenu .menu.visible {
    z-index: 1001; }

.pageHeader .sidebar.menu {
  padding-top: 135px; }
  .pageHeader .sidebar.menu .fallacySidebarItem {
    text-align: left; }
  .pageHeader .sidebar.menu .sidebarSearchBtn {
    margin-top: 8px; }
