@import '../../../css/colors.scss';

.titleHeader {
    .header {
        .editHeaderIcon {
            color: $blue;
            cursor: pointer;
            display: none !important;
            float: right;
            line-height: 47px;

            &.close {
                color: $harley-davidson-orange;
            }
        }

        .titleInput {
            width: 94% !important;
            
            input {
                font-size: 18px;
                line-height: 24px;
                padding: 9px 16px;
            }
        }

        &:hover {
            .editHeaderIcon {
                display: inline !important;
            }
        }

        @media only screen and (max-width: 1025px) {
            .editHeaderIcon {
                line-height: 18px;
            }
        }
    }

    .emptyTitle {
        height: 55px;
    }
}
