/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.breakdown {
  margin-top: 25px !important; }
  .breakdown .message {
    background: #FFFFFF; }
    .breakdown .message .icon {
      color: #DB2828; }
  .breakdown .breakdownSegment {
    background: #F9FAFB; }
    .breakdown .breakdownSegment .percentages {
      background: #F9FAFB;
      padding: 0 !important; }
      .breakdown .breakdownSegment .percentages .ui.header.small {
        margin-bottom: 7px !important; }
      .breakdown .breakdownSegment .percentages .fallacyPercentage {
        cursor: pointer;
        margin-top: 12px; }
        .breakdown .breakdownSegment .percentages .fallacyPercentage:first-of-type {
          margin-top: 0; }
        .breakdown .breakdownSegment .percentages .fallacyPercentage .progress {
          margin-bottom: 0; }
          .breakdown .breakdownSegment .percentages .fallacyPercentage .progress .bar .progress {
            color: #FFFFFF; }
          .breakdown .breakdownSegment .percentages .fallacyPercentage .progress .label {
            background: #F9FAFB;
            color: #545454; }
        .breakdown .breakdownSegment .percentages .fallacyPercentage.twitter .progress .bar {
          background: #0084b4 !important; }
        .breakdown .breakdownSegment .percentages .fallacyPercentage.youtube .progress .bar {
          background: #ff0000 !important; }
  .breakdown .questionnaire .ui.header.small {
    margin-top: 0; }
  @media only screen and (max-width: 1025px) {
    .breakdown .ui.header.small {
      font-size: 14px !important; } }
