/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.breakdown {
  background: #F9FAFB !important; }
  .breakdown .message {
    background: #FFFFFF; }
  .breakdown .percentages {
    background: #FFFFFF; }
    .breakdown .percentages .ui.header.small {
      margin-bottom: 7px !important; }
    .breakdown .percentages .fallacyPercentage {
      cursor: pointer;
      margin-top: 12px; }
      .breakdown .percentages .fallacyPercentage:first-of-type {
        margin-top: 0; }
      .breakdown .percentages .fallacyPercentage:hover {
        background: #F9FAFB; }
      .breakdown .percentages .fallacyPercentage .progress {
        margin-bottom: 0; }
        .breakdown .percentages .fallacyPercentage .progress .bar {
          background: #2185D0 !important; }
          .breakdown .percentages .fallacyPercentage .progress .bar .progress {
            color: #FFFFFF; }
        .breakdown .percentages .fallacyPercentage .progress .label {
          background: #F9FAFB;
          color: #545454; }
  .breakdown .statHeader {
    margin-top: 15px; }
    .breakdown .statHeader.first-of-type {
      margin: 0 !important; }
  @media only screen and (max-width: 1025px) {
    .breakdown .ui.header.medium {
      font-size: 15px !important; }
    .breakdown .fallacyPercentage .ui.header.small {
      font-size: 14px !important; } }
  .breakdown .stats {
    margin: 0 !important;
    padding: 0; }
  .breakdown .createReview {
    margin: 15px 4px !important; }
