.breakdown {
    .ui.header.small {
        margin-bottom: 6px !important;
    }

    .percentages {
        .progress {
            margin-bottom: 12px;
        }
    }

    .statHeader {
        margin: 12px auto;
    }

    @media only screen and (max-width: 1025px) {
        .ui.header.small {
            font-size: 15px !important;
        }

        .fallacyPercentage {
            .ui.header.small {
                font-size: 14px !important;
            }
        }
    }

    .stats {
        margin: 0 !important;
        padding: 0;

        .statistic {
            margin-bottom: 0 !important;

            &.bold {
                .value {
                    font-weight: bold;
                }
            }
        }
    }
}
