@import '../../../css/colors.scss';

.breakdown {
    background: $offWhite !important;

    .message {
        background: $white;
    }

    .percentages {
        background: $white;

        .ui.header.small {
            margin-bottom: 7px !important;
        }

        .fallacyPercentage {
            cursor: pointer;
            margin-top: 12px;

            &:first-of-type {
                margin-top: 0;
            }

            &:hover {
                background: $offWhite;
            }

            .progress {
                margin-bottom: 0;

                .bar {
                    background: $blue !important;

                    .progress {
                        color: $white;
                    }
                }

                .label {
                    background: $offWhite;
                    color: $lightBlack;
                }
            }
        }
    }

    .statHeader {
        margin: 12px 12px;

        &.first {
            margin-top: 10px !important;
        }
    }

    @media only screen and (max-width: 1025px) {
        .ui.header.medium {
            font-size: 15px !important;
        }

        .fallacyPercentage {
            .ui.header.small {
                font-size: 14px !important;
            }
        }
    }

    .stats {
        margin: 0 !important;
        padding: 0;
    }

    .createReview {
        margin: 15px 12px !important;
    }
}
