@import './colors.scss';

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    width: 90%;
    margin: auto;
}

.mainContainer {
    min-height: 100vh;
    margin-top: 6.1em;
    padding-left: 15px;
    padding-right: 15px;

    &.bc {
        margin-top: 2.4em;
    }

    &.forText {
        margin-top: 5.3em;
    }

    .trumpImg404 {
        background-color: $red !important;
        border: solid 5px $blue;
        padding: 20px 20px 0 20px;
    }

    .trumpImg404 + .header.medium {
        margin-top: 7px !important;
    }
}