/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Twitter ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.ui.form .field.field input:-webkit-autofill, .ui.form .field.field input::selection, .ui.form .field.field input:active:-webkit-autofill, .ui.form .field.field input:focus:-webkit-autofill {
  background: #15202b !important;
  background-color: #15202b !important;
  border: solid 1px #ffffff !important;
  box-shadow: none !important;
  outline: none !important;
  -webkit-box-shadow: 0 0 0 50px #15202b inset !important;
  -webkit-text-fill-color: #ffffff !important; }

.input:not(.autocomplete) .dropdown.icon, .input:not(.autocomplete) .search.icon, .dropdown.selection .dropdown.icon, .dropdown.selection .search.icon {
  color: #ffffff !important; }

:not(.autocomplete1) > input, textarea, .dropdown.selection {
  background-color: transparent !important;
  border: solid 1px rgba(255, 255, 255, 0.4) !important;
  caret-color: #ffffff;
  color: #ffffff !important;
  outline: none !important; }

.ui.active.selection.visible.dropdown .text {
  color: #ffffff !important; }

.ui.active.selection.visible.dropdown .menu.visible.transition {
  background: #15202b !important;
  border: solid 1px rgba(255, 255, 255, 0.4) !important;
  max-height: 260px; }
  .ui.active.selection.visible.dropdown .menu.visible.transition .message {
    color: #ffffff !important; }
  .ui.active.selection.visible.dropdown .menu.visible.transition.upward {
    border-bottom: none !important; }
  .ui.active.selection.visible.dropdown .menu.visible.transition .item {
    background: #15202b !important;
    border: none !important;
    color: #ffffff;
    font-size: 18px !important;
    padding: 16px 21px !important; }
    .ui.active.selection.visible.dropdown .menu.visible.transition .item:hover {
      background: #131d28; }

.Toastify__toast-container--bottom-left .Toastify__toast-body {
  color: #ffffff;
  font-size: 16px;
  text-align: center; }

.Toastify__toast--success {
  background: #21ba45;
  border-radius: 4px !important; }

.Toastify__toast--error {
  background: #db2828;
  border-radius: 4px !important; }

body {
  background: #15202b !important;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  width: 100%; }

.app {
  background: #15202b !important; }

.mainContainer {
  min-height: 100vh;
  margin-top: 5em;
  padding: 15px 15px 0 15px; }
  .mainContainer.bc {
    margin-top: 2.4em; }
  .mainContainer.forText {
    margin-top: 5.3em; }
  .mainContainer .trumpImg404 {
    background-color: #db2828 !important;
    border: solid 5px #2185d0;
    padding: 20px 20px 0 20px; }
  .mainContainer .trumpImg404 + .header.large {
    margin-top: 7px !important; }

.segment.inverted {
  background: #15202b !important;
  border: solid 1px rgba(245, 248, 250, 0.2) !important; }

.ui.card {
  background: #15202b !important;
  box-shadow: 0 1px 3px 0 rgba(245, 248, 250, 0.1), 0 0 0 1px rgba(245, 248, 250, 0.1) !important; }
  .ui.card .header {
    color: #ffffff !important; }
  .ui.card.large .header.formHeader, .ui.card.large .retractionHeader {
    font-size: 1.71428571em !important; }
  .ui.card.large .meta {
    font-size: 1.14285714rem !important; }
  .ui.card.large .description {
    font-size: 16px !important; }
  .ui.card .meta {
    color: #ffffff !important; }
  .ui.card .description {
    color: #e1e8ed !important; }

@media only screen and (max-width: 1025px) {
  .mainContainer {
    margin-top: 9.8em;
    padding-left: 0 !important;
    padding-right: 0 !important; } }

.rightSide {
  margin-left: 0;
  padding-left: 0 !important; }

.ui.vertical.menu .item {
  font-weight: normal !important; }
  .ui.vertical.menu .item.active {
    background: #2185d0 !important;
    color: #ffffff !important;
    font-weight: bold !important; }
    .ui.vertical.menu .item.active:hover {
      color: #ffffff; }

.search.selection.dropdown .ui.label {
  background: #2185d0;
  border: none !important;
  box-shadow: none !important;
  color: #ffffff;
  padding: 6px 12px; }

.tagPicModal .content .form {
  text-align: center;
  width: 100% !important; }
  .tagPicModal .content .form img {
    margin-bottom: 25px; }
  .tagPicModal .content .form .container {
    height: 120px;
    padding-top: 38px; }
    .tagPicModal .content .form .container .header {
      cursor: pointer;
      margin: 0; }

.ui.secondary.pointing.menu .item .label {
  background: #f9fafb;
  color: #1b1c1d; }

.search.selection.active.dropdown {
  border-color: #96c8da !important; }

.externalUrl {
  color: #2185d0;
  cursor: pointer; }
  .externalUrl:hover {
    color: #2d92de; }

.profilePicPlaceholder {
  border-radius: 50%;
  display: inline-block;
  max-width: none;
  text-align: center; }
  .profilePicPlaceholder.square {
    border-radius: 0%; }
  .profilePicPlaceholder .square {
    height: 220px;
    width: 220px; }

.pageHeaderPlaceholder {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  width: 360px; }
  .pageHeaderPlaceholder .placeholder {
    text-align: center; }

@media only screen and (max-width: 1025px) {
  .pageHeaderPlaceholder {
    width: 250px; } }

a {
  color: #54c8ff !important; }

.Linkify {
  color: #ffffff !important; }
  .Linkify a {
    color: #54c8ff !important; }

.clearfix {
  clear: both; }

.facebookIcon {
  color: #3b5998; }

.twitterIcon {
  color: #0084b4; }

.youtubeIcon {
  color: #ff0000; }

.patreonIcon {
  color: #f96854; }

.redditIcon {
  color: #ff5700; }

.redditBtn {
  background: #ff5700 !important;
  color: #ffffff !important; }

.sticky.noteIcon {
  color: #fbbd08; }

.warning.sign {
  color: #db2828; }

.modals.dimmer .ui.scrolling.modal {
  margin: 60px 0 70px 0 !important; }

.dimmable.dimmed .page.modals.dimmer.transition.visible.active {
  z-index: 1002 !important; }

.editButton {
  color: #2185d0;
  cursor: pointer;
  display: none !important;
  float: right;
  font-size: 18px;
  margin-right: 0 !important; }
  .editButton.close {
    color: #ff695e; }

.dropzone {
  border: none;
  height: 100%;
  text-align: center;
  width: 100%; }

.postContainer {
  margin-top: 12px; }

@media only screen and (max-width: 1025px) {
  .titleHeader {
    width: 100%; }
  .ui.header {
    font-size: 20px !important; }
  .sub.header {
    font-size: 13px !important; } }

/* About page */
.aboutPage p {
  color: #ffffff !important;
  font-size: 16px; }

.aboutPage .ui.list .item {
  color: #ffffff !important; }

.aboutPage .aboutContainer {
  margin: 0 !important; }

/* Create discussion page */
.createDiscussionPage .contentContainer {
  padding: 0 !important; }
  .createDiscussionPage .contentContainer .segment {
    margin: 0;
    padding: 0; }
    .createDiscussionPage .contentContainer .segment .ui.form .field label {
      font-size: 15px; }
    .createDiscussionPage .contentContainer .segment .ui.form .provenWrongTextArea {
      margin-top: 1em; }
    .createDiscussionPage .contentContainer .segment .ui.form .titleInput input,
    .createDiscussionPage .contentContainer .segment .ui.form textarea {
      padding: 8px; }
    .createDiscussionPage .contentContainer .segment .extraWrapper {
      margin-top: 15px; }
    .createDiscussionPage .contentContainer .segment.dimmed.dimmable {
      padding: 10px; }
      .createDiscussionPage .contentContainer .segment.dimmed.dimmable .dimmer {
        background: rgba(21, 32, 43, 0.96) !important; }
  .createDiscussionPage .contentContainer .btnWrapper {
    margin-top: 15px; }
  .createDiscussionPage .contentContainer .previewSegment .descriptionTitle,
  .createDiscussionPage .contentContainer .previewSegment .extraTitle {
    margin-bottom: 5px; }
  .createDiscussionPage .contentContainer .previewSegment .descriptionPreview,
  .createDiscussionPage .contentContainer .previewSegment .extraPreview {
    min-height: 80px;
    padding: 0; }
  .createDiscussionPage .contentContainer .exitPreviewButton {
    float: right; }

@media only screen and (max-width: 1025px) {
  .createDiscussionPage .contentContainer {
    margin: 0 !important;
    width: 100% !important; }
  .createDiscussionPage .discussionHeader {
    margin-left: -0.5em; } }

.createDiscussionPage .rightSide .discussionTagsHeader {
  font-size: 24px !important; }

/* Discussion page */
.discussionPage .header .editButton {
  font-size: 18px;
  line-height: 30px; }

.discussionPage .header:hover .editButton {
  display: inline !important; }

@media only screen and (max-width: 1025px) {
  .discussionPage .ui.grid {
    margin: 0; } }

.discussionPage .evidenceSection .evidenceSegment,
.discussionPage .evidenceSection .extraSegment {
  font-size: 16px !important; }

.discussionPage .extraLazyLoad {
  margin-top: 20px; }

.discussionPage .ui.grid {
  margin-top: 0 !important; }

/* Discussion page */
.discussionsPage .discussionsContainer {
  padding: 0; }

@media only screen and (max-width: 1025px) {
  .discussionsPage .discussionsContainer {
    margin: 0 !important; } }

.discussionsPage .emptyDiscussionContainer {
  margin-top: 20px; }

/* Fallacies page */
.fallaciesPage .mainContainer {
  padding: 10px 0; }
  .fallaciesPage .mainContainer .fallacySegment {
    border-bottom: none !important; }
    .fallaciesPage .mainContainer .fallacySegment:last-of-type {
      border-bottom: solid 1px rgba(245, 248, 250, 0.1) !important; }

@media only screen and (max-width: 1025px) {
  .fallaciesPage .ui.container.mainContainer {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

/* Fallacy page */
.fallacyPage {
  margin-top: 10px !important; }
  .fallacyPage .mainContainer {
    padding: 0 !important; }
  .fallacyPage .fallacyExample {
    margin-top: 5px; }
  .fallacyPage .materialWrapper {
    width: 100%; }
  .fallacyPage .materialRow {
    padding: 0 !important;
    width: 100%; }
  .fallacyPage .divider.seperator {
    margin: 1rem 0 !important; }
  .fallacyPage .callToSignUp {
    margin-top: 10px; }
  .fallacyPage .shareList {
    margin-top: 0 !important;
    width: 100%; }
    .fallacyPage .shareList .item {
      cursor: pointer; }
      .fallacyPage .shareList .item .icon.linkify {
        margin-right: 3px; }
  .fallacyPage .exportEmbed {
    display: inline;
    text-align: center; }
  .fallacyPage .exportSection {
    margin-top: 16px; }
    .fallacyPage .exportSection .downloadBtn {
      margin-top: 14px; }
    .fallacyPage .exportSection .downloadDimmer {
      cursor: pointer; }
    .fallacyPage .exportSection .screenshotCaption {
      color: #767676;
      font-size: 12px;
      font-style: italic;
      margin-bottom: 14px;
      margin-left: 3px;
      margin-top: 4px; }
  .fallacyPage .exportContainer {
    margin-bottom: 0; }
    .fallacyPage .exportContainer .exportSection {
      margin-top: 0; }
  .fallacyPage .shareContent {
    line-height: 0;
    width: 100%; }
  .fallacyPage .fallacyContent {
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%; }
  .fallacyPage .sourcesContent {
    width: 100%; }
  .fallacyPage .commentsContent {
    overflow-x: hidden;
    width: 100%; }
  .fallacyPage .similarContent {
    margin-top: 25px;
    width: 100%; }
  .fallacyPage .tagsCard {
    margin-top: 20px; }
  .fallacyPage .retractionContent {
    width: 100%; }
    .fallacyPage .retractionContent .card .content .image {
      cursor: pointer; }
  .fallacyPage .ui.container.retractionContainer {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .fallacyPage canvas {
    display: none;
    height: 720px;
    width: 1280px; }
  @media only screen and (max-width: 1025px) {
    .fallacyPage .mainContainer .ui.grid {
      margin: 10px 0 !important; }
    .fallacyPage .statusActionSegment .header {
      font-size: 14px !important; }
    .fallacyPage .statusActionSegment .twitterButton,
    .fallacyPage .statusActionSegment .youtubeButton {
      font-size: 12px; }
    .fallacyPage .row {
      padding-bottom: 0 !important;
      padding-top: 0 !important; }
    .fallacyPage .retractionContainer {
      margin: 0 !important; }
    .fallacyPage .downloadBtn {
      display: none; }
    .fallacyPage .captureScreenshot {
      display: none; }
    .fallacyPage .tagsCard {
      margin: 25px 0; }
    .fallacyPage .commentsContent {
      margin-bottom: 10px; } }

/* Feed page */
.feedPage .activityHeader {
  line-height: 1.2;
  margin-top: 0 !important; }

.feedPage .ui.feed > .event > .content .meta .label {
  cursor: pointer; }

.feedPage .feedWrapper {
  width: 100%; }
  .feedPage .feedWrapper .feed {
    width: 100%; }

.feedPage .mainContainer {
  padding: 18px 0; }

.homePage {
  background: #15202b; }
  .homePage .mainContainer {
    min-height: 100vh;
    padding: 18px 0; }
  .homePage .heroHeader {
    color: #ffffff !important;
    padding-left: 6px !important; }
  .homePage .heroInput .icon.twitter {
    color: #0084b4; }
  .homePage .heroInput .icon.youtube {
    color: #ff0000; }
  .homePage .heroSegment {
    padding: 0 !important; }
  .homePage .translationContainer {
    background: #1e7abe; }
    @media only screen and (max-width: 1025px) {
      .homePage .translationContainer .ui.grid .row .column {
        padding-left: 0 !important;
        padding-right: 0 !important; } }

.competitionContainer {
  background: #ffffff;
  border-top: solid 1px #f3f4f5;
  padding-top: 1.2rem; }
  .competitionContainer .container {
    padding: 10px 15px; }
  .competitionContainer .grid img {
    cursor: pointer; }

/* Pages page */
@media only screen and (max-width: 1025px) {
  .socialMediaPage .grid.column {
    padding: 0; }
  .socialMediaPage .pageContentRow {
    padding-top: 0 !important; }
  .socialMediaPage .titleHeader .ui.header {
    font-size: 24px !important; }
    .socialMediaPage .titleHeader .ui.header .sub.header {
      font-size: 16px !important; } }

.socialMediaPage .imgContainer .segment.circular {
  display: inline-block;
  padding: 0; }
  .socialMediaPage .imgContainer .segment.circular .image.profilePic {
    height: 185px;
    width: 185px; }

.socialMediaPage .pageHeaderInfo {
  margin-top: 0;
  text-align: center; }
  .socialMediaPage .pageHeaderInfo p {
    margin-top: 15px; }
  .socialMediaPage .pageHeaderInfo .twitterIcon,
  .socialMediaPage .pageHeaderInfo .youtubeIcon {
    margin-top: 8px; }

.socialMediaPage .ui.container.profileContentContainer {
  margin-top: 16px !important;
  padding: 0 !important;
  width: 100% !important; }
  .socialMediaPage .ui.container.profileContentContainer .dimmer {
    background: rgba(21, 32, 43, 0.96) !important;
    border: solid 1px rgba(245, 248, 250, 0.1);
    box-shadow: none !important; }
  .socialMediaPage .ui.container.profileContentContainer .signInPlaceholder {
    border: none;
    box-shadow: none !important;
    padding: 0; }
  @media only screen and (max-width: 1025px) {
    .socialMediaPage .ui.container.profileContentContainer .signInPlaceholder {
      height: 250px; } }
  .socialMediaPage .ui.container.profileContentContainer .segment.basic {
    padding: 0 !important; }

/* Post page */
.postPage .ui.container.mainContainer {
  font-size: 13px;
  padding: 18px 0; }
  .postPage .ui.container.mainContainer .fallacyFormWrapper {
    margin: 20px 0; }
  .postPage .ui.container.mainContainer .placeholderContainer {
    text-align: center; }
  .postPage .ui.container.mainContainer .screenshotMsg {
    background: #15202b;
    border: solid 1px rgba(245, 248, 250, 0.1);
    color: #ffffff !important;
    margin-top: 18px; }
    .postPage .ui.container.mainContainer .screenshotMsg .icon.camera {
      font-size: 15px; }
    .postPage .ui.container.mainContainer .screenshotMsg span {
      cursor: pointer;
      font-size: 13px;
      line-height: 15px;
      margin-left: 4px; }
      .postPage .ui.container.mainContainer .screenshotMsg span:hover {
        text-decoration: underline; }
  .postPage .ui.container.mainContainer .relatedSearches .content:first-of-type {
    border-bottom: solid 1px rgba(245, 248, 250, 0.1) !important; }
  .postPage .ui.container.mainContainer .tweetWrapper {
    width: 100%; }
  .postPage .ui.container.mainContainer .fallaciesWrapper {
    width: 100%; }
  .postPage .ui.container.mainContainer .relatedRow {
    padding-top: 0; }
  @media only screen and (max-width: 1025px) {
    .postPage .ui.container.mainContainer .grid {
      margin: 0; } }

.postPage .sticky div {
  z-index: 1000; }

.postPage .sticky .breadcrumbContainer {
  background: #ffffff;
  border-bottom: solid 1px #dcddde;
  margin-top: 72px;
  padding: 8px 30px;
  width: 100%; }
  .postPage .sticky .breadcrumbContainer .breadcrumb {
    line-height: 20px;
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding: 0; }

@media only screen and (max-width: 1025px) {
  .postPage .sticky .breadcrumbContainer {
    padding: 8px 15px; }
    .postPage .sticky .breadcrumbContainer .breadcrumb {
      margin-left: auto !important;
      margin-right: auto !important; }
    .postPage .sticky .breadcrumbContainer .container {
      margin-left: 0 !important;
      margin-right: 0 !important; } }

/* Search page */
@media only screen and (max-width: 1025px) {
  .searchPage .mainContainer {
    padding-top: 0; }
    .searchPage .mainContainer .ui.grid {
      margin: 0 !important; } }

.searchPage .searchMenu .item.searchItem {
  padding: 6px 0 10px 18px; }
  .searchPage .searchMenu .item.searchItem input {
    padding: 0; }

.searchPage .searchMenu .item .ui.icon.input input {
  border: none; }

.searchPage .searchMenu .item .icon {
  font-size: 18px;
  line-height: 14px;
  vertical-align: middle; }

.searchPage .ui.container.searchContentContainer {
  min-height: 300px;
  margin: 0 !important;
  padding: 0 !important; }

.searchPage .searchResults {
  width: 100%; }

/* Settings page */
.settingsPage .settingsMenu {
  margin-bottom: 0; }

.settingsPage .settingsContent {
  width: 100%; }
  .settingsPage .settingsContent .message {
    background: #15202b;
    border: solid 1px rgba(245, 248, 250, 0.2);
    color: #ffffff; }
  .settingsPage .settingsContent .patreonMsg .icon {
    color: #f96854; }

/* Signin page */
.loginContainer {
  background: #15202b !important;
  height: 100vh; }
  .loginContainer .loginForm {
    height: 100%;
    padding-top: 10px; }
    .loginContainer .loginForm .header {
      margin-top: 0; }
    .loginContainer .loginForm .grid .column {
      max-width: 450px; }

/* Tags page */
.tagsPage .tagsWrapper {
  width: 100%; }
  .tagsPage .tagsWrapper .menu.tagMenu {
    margin-top: 12px !important; }
    .tagsPage .tagsWrapper .menu.tagMenu .list .item {
      cursor: pointer; }
      .tagsPage .tagsWrapper .menu.tagMenu .list .item.selected {
        background: #ffffff; }
  .tagsPage .tagsWrapper .editButtonWrapper .editButton {
    display: inline !important;
    font-size: 16px !important; }
  .tagsPage .tagsWrapper .commentsContent .segment {
    padding-top: 5px; }
  .tagsPage .tagsWrapper .galleryContent .galleryWrapper {
    width: 100%; }
    .tagsPage .tagsWrapper .galleryContent .galleryWrapper img {
      cursor: pointer; }
  .tagsPage .tagsWrapper .segment.placeholder .icon {
    height: auto !important; }
  .tagsPage .tagsWrapper .tagsList,
  .tagsPage .tagsWrapper .usersList {
    margin-top: 12px !important; }
  .tagsPage .tagsWrapper .divider .cameraIcon,
  .tagsPage .tagsWrapper .divider .photoIcon {
    background: #2185d0;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    margin-top: 0 !important; }
  .tagsPage .tagsWrapper .divider .photoIcon {
    background: #ffffff;
    color: #2185d0; }

@media only screen and (max-width: 1025px) {
  .tagsPage .tagsWrapper .segment.stacked img {
    width: 300px; }
  .tagsPage .ui.image.userPic {
    width: 50px; } }

/* Targets page */
.targetsPage .ui.container .summaryHeader .icon {
  color: #2185d0;
  cursor: pointer;
  float: right;
  font-size: 19.5px;
  line-height: 19.5px; }

.targetsPage .ui.container .imgContainer {
  height: 220px; }
  .targetsPage .ui.container .imgContainer .targetImgDiv {
    left: 0;
    margin: auto;
    padding-right: 50px;
    position: absolute;
    right: 0; }
    .targetsPage .ui.container .imgContainer .targetImgDiv .targetImg {
      cursor: pointer;
      margin-top: 15px;
      position: absolute;
      width: 200px; }
      .targetsPage .ui.container .imgContainer .targetImgDiv .targetImg + .header.large {
        margin-top: 8px; }
      .targetsPage .ui.container .imgContainer .targetImgDiv .targetImg.user {
        left: 0;
        right: 160px; }

.targetsPage .ui.container .answers,
.targetsPage .ui.container .questionnaire {
  margin-bottom: 16px; }

.targetsPage .ui.container .questionnaire {
  white-space: pre-line; }

.targetsPage .ui.container .answers .answerField {
  font-size: 14px; }

.targetsPage .ui.container .answers .header.sub {
  margin-top: 5px; }

@media only screen and (max-width: 1025px) {
  .targetsPage .ui.container .answers .header {
    font-size: 16px !important; } }

/* Users page */
.usersPage .userHeaderSection p {
  margin-top: 15px; }

@media only screen and (max-width: 1025px) {
  .usersPage .userContentRow {
    padding-top: 0 !important; } }

.usersPage .profileMenu {
  margin-top: 20px !important; }

.usersPage .profilePic {
  height: 185px;
  width: auto !important; }
  .usersPage .profilePic img {
    height: 185px;
    text-align: center;
    width: 185px; }
  .usersPage .profilePic.default {
    background: #ffffff;
    height: 185px !important;
    overflow: hidden;
    padding: 7px;
    width: 185px !important; }

.usersPage .profileContentContainer {
  margin: 0 !important;
  padding: 0 !important; }
  .usersPage .profileContentContainer .profileContentSegment {
    height: 100%;
    padding: 0; }

.usersPage .userStat {
  cursor: pointer; }
  .usersPage .userStat:hover .value,
  .usersPage .userStat:hover .label {
    color: #2185d0 !important; }

@media only screen and (max-width: 1025px) {
  .usersPage .titleHeader .ui.header {
    font-size: 24px !important; }
    .usersPage .titleHeader .ui.header .sub.header {
      font-size: 16px !important; } }

.signInPageHeader {
  background: #15202b;
  margin: 0 !important;
  padding: 10px;
  width: 100%; }
  .signInPageHeader .svgMainLogo,
  .signInPageHeader .mainLogo {
    cursor: pointer;
    display: inline;
    fill: #2185d0;
    height: 48px;
    line-height: 4;
    vertical-align: middle;
    width: 48px; }
