/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
body {
  height: 100%;
  margin: 0;
  padding: 0; }

.App {
  width: 90%;
  margin: auto; }

.mainContainer {
  min-height: 100vh;
  margin-top: 6.4em;
  padding-left: 15px;
  padding-right: 15px; }
  .mainContainer.bc {
    margin-top: 2.4em; }
  .mainContainer.forText {
    margin-top: 5.3em; }
  .mainContainer .trumpImg404 {
    background-color: #DB2828 !important;
    border: solid 5px #2185D0;
    padding: 20px 20px 0 20px; }
  .mainContainer .trumpImg404 + .header.medium {
    margin-top: 7px !important; }
