/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Twitter ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.ui.form .field.field input:-webkit-autofill, .ui.form .field.field input::selection, .ui.form .field.field input:active:-webkit-autofill, .ui.form .field.field input:focus:-webkit-autofill {
  background: #15202b !important;
  background-color: #15202b !important;
  border: solid 1px #ffffff !important;
  box-shadow: none !important;
  outline: none !important;
  -webkit-box-shadow: 0 0 0 50px #15202b inset !important;
  -webkit-text-fill-color: #ffffff !important; }

.input:not(.autocomplete) .dropdown.icon, .input:not(.autocomplete) .search.icon, .dropdown.selection .dropdown.icon, .dropdown.selection .search.icon {
  color: #ffffff !important; }

:not(.autocomplete1) > input, textarea, .dropdown.selection {
  background-color: transparent !important;
  border: solid 1px rgba(255, 255, 255, 0.4) !important;
  caret-color: #ffffff;
  color: #ffffff !important;
  outline: none !important; }

.ui.active.selection.visible.dropdown .text {
  color: #ffffff !important; }

.ui.active.selection.visible.dropdown .menu.visible.transition {
  background: #15202b !important;
  border: solid 1px rgba(255, 255, 255, 0.4) !important;
  max-height: 260px; }
  .ui.active.selection.visible.dropdown .menu.visible.transition .message {
    color: #ffffff !important; }
  .ui.active.selection.visible.dropdown .menu.visible.transition.upward {
    border-bottom: none !important; }
  .ui.active.selection.visible.dropdown .menu.visible.transition .item {
    background: #15202b !important;
    border: none !important;
    color: #ffffff;
    font-size: 15px !important;
    padding: 13px 18px !important; }
    .ui.active.selection.visible.dropdown .menu.visible.transition .item:hover {
      background: #131d28; }

.Toastify__toast-container--bottom-left .Toastify__toast-body {
  color: #ffffff;
  font-size: 16px;
  text-align: center; }

.Toastify__toast--success {
  background: #21ba45;
  border-radius: 4px !important; }

.Toastify__toast--error {
  background: #db2828;
  border-radius: 4px !important; }

.ui.message.warning, .ui.message.error {
  background: #db2828 !important;
  box-shadow: none !important;
  color: #ffffff !important; }
  .ui.message.warning .header, .ui.message.error .header {
    color: #ffffff !important; }

body {
  background: #15202b !important;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  width: 100%; }

.app {
  background: #15202b !important; }

.mainContainer {
  min-height: 100vh;
  margin-top: 4em;
  padding: 15px 15px 0 15px; }
  .mainContainer.bc {
    margin-top: 2.4em; }
  .mainContainer .trumpImg404 {
    background-color: #db2828 !important;
    border: solid 5px #2185d0;
    padding: 20px 20px 0 20px; }
  .mainContainer .trumpImg404 + .header.large {
    margin-top: 7px !important; }
  .mainContainer .grid.mainGrid .column.four.leftColumn {
    padding-left: 0; }
    @media only screen and (max-width: 1025px) {
      .mainContainer .grid.mainGrid .column.four.leftColumn {
        display: none; } }
  @media only screen and (max-width: 1025px) {
    .mainContainer .grid.mainGrid .column.twelve.rightColumn {
      width: 100% !important; }
      .mainContainer .grid.mainGrid .column.twelve.rightColumn .ui.grid.stackable {
        margin-right: 0 !important; } }

.segment.inverted {
  background: #15202b !important;
  border: solid 1px rgba(245, 248, 250, 0.2) !important; }
  .segment.inverted.placeholder {
    background: #1a2835 !important; }

.ui.card {
  background: #15202b !important;
  box-shadow: 0 1px 3px 0 rgba(245, 248, 250, 0.1), 0 0 0 1px rgba(245, 248, 250, 0.1) !important; }
  .ui.card .header {
    color: #ffffff !important; }
  .ui.card.large .header.formHeader, .ui.card.large .retractionHeader, .ui.card.big .header.formHeader, .ui.card.big .retractionHeader {
    font-size: 1.71428571em !important; }
  .ui.card.large .meta, .ui.card.big .meta {
    font-size: 1.14285714rem !important; }
  .ui.card.large .description, .ui.card.big .description {
    font-size: 16px !important; }
  .ui.card .meta {
    color: #ffffff !important; }
  .ui.card .description {
    color: #e1e8ed !important; }

@media only screen and (max-width: 1025px) {
  .mainContainer {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

.rightSide {
  margin-left: 0;
  padding-left: 0 !important; }

.ui.vertical.menu .item {
  background: #15202b !important;
  font-weight: normal !important; }
  .ui.vertical.menu .item.active {
    background: #1c2a39 !important;
    color: #ffffff !important;
    font-weight: bold !important; }
    .ui.vertical.menu .item.active:hover {
      color: #ffffff; }

.search.selection.dropdown .ui.label {
  background: #db2828;
  border: none !important;
  box-shadow: none !important;
  color: #ffffff !important;
  padding: 6px 12px; }

.tagPicModal .content .form {
  text-align: center;
  width: 100% !important; }
  .tagPicModal .content .form img {
    margin-bottom: 25px; }
  .tagPicModal .content .form .container {
    height: 120px;
    padding-top: 38px; }
    .tagPicModal .content .form .container .header {
      cursor: pointer;
      margin: 0; }

.ui.secondary.pointing.menu .item .label {
  background: #f9fafb;
  color: #1b1c1d; }

.search.selection.active.dropdown {
  border-color: #96c8da !important; }

.externalUrl {
  color: #54c8ff;
  cursor: pointer; }
  .externalUrl:hover {
    color: #6ed0ff; }

.profilePicPlaceholder {
  border-radius: 50%;
  display: inline-block;
  max-width: none;
  text-align: center; }
  .profilePicPlaceholder .square {
    border-radius: 0;
    height: 220px;
    width: 220px; }

.pageHeaderPlaceholder {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  width: 360px; }
  .pageHeaderPlaceholder .placeholder {
    text-align: center; }

@media only screen and (max-width: 1025px) {
  .pageHeaderPlaceholder {
    width: 250px; } }

a {
  color: #54c8ff !important; }

.Linkify {
  color: #ffffff !important; }
  .Linkify a {
    color: #54c8ff !important; }

.clearfix {
  clear: both; }

.facebookIcon {
  color: #3b5998; }

.twitterIcon {
  color: #0084b4; }

.youtubeIcon {
  color: #ff0000; }

.patreonIcon {
  color: #f96854; }

.redditIcon {
  color: #ff5700; }

.redditBtn {
  background: #ff5700 !important;
  color: #ffffff !important; }

.sticky.noteIcon {
  color: #fbbd08; }

.warning.sign {
  color: #db2828; }

.modals.dimmer .ui.scrolling.modal {
  margin: 60px 0 70px 0 !important; }

.dimmable.dimmed .page.modals.dimmer.transition.visible.active {
  z-index: 1002 !important; }

.editButton {
  color: #2185d0;
  cursor: pointer;
  display: none !important;
  float: right;
  font-size: 18px;
  margin-right: 0 !important; }
  .editButton.close {
    color: #ff695e; }

.dropzone {
  border: none;
  height: 100%;
  text-align: center;
  width: 100%; }

.postContainer {
  margin-top: 12px; }

@media only screen and (max-width: 1025px) {
  .titleHeader {
    width: 100%; }
  .ui.header {
    font-size: 20px !important; }
  .sub.header {
    font-size: 13px !important; } }

/* About page */
.aboutPage {
  padding: 18px 0 0 0; }
  .aboutPage p {
    color: #ffffff !important;
    font-size: 16px; }
  .aboutPage .ui.list .item {
    color: #ffffff !important; }
  .aboutPage .aboutContainer {
    margin: 0 !important; }

/* Create discussion page */
.createDiscussionPage {
  padding: 18px 0 0 0; }
  .createDiscussionPage .contentContainer {
    padding: 0 !important; }
    .createDiscussionPage .contentContainer .segment {
      margin: 0;
      padding: 0; }
      .createDiscussionPage .contentContainer .segment .ui.form .field label {
        font-size: 15px; }
      .createDiscussionPage .contentContainer .segment .ui.form .provenWrongTextArea {
        margin-top: 1em; }
      .createDiscussionPage .contentContainer .segment .ui.form .titleInput input,
      .createDiscussionPage .contentContainer .segment .ui.form textarea {
        padding: 8px; }
      .createDiscussionPage .contentContainer .segment .extraWrapper {
        margin-top: 15px; }
      .createDiscussionPage .contentContainer .segment.dimmed.dimmable {
        padding: 10px; }
        .createDiscussionPage .contentContainer .segment.dimmed.dimmable .dimmer {
          background: rgba(21, 32, 43, 0.6) !important; }
    .createDiscussionPage .contentContainer .btnWrapper {
      margin-top: 15px; }
    .createDiscussionPage .contentContainer .previewSegment .descriptionTitle,
    .createDiscussionPage .contentContainer .previewSegment .extraTitle {
      margin-bottom: 5px; }
    .createDiscussionPage .contentContainer .previewSegment .descriptionPreview,
    .createDiscussionPage .contentContainer .previewSegment .extraPreview {
      min-height: 80px;
      padding: 0; }
    .createDiscussionPage .contentContainer .exitPreviewButton {
      float: right; }
  @media only screen and (max-width: 1025px) {
    .createDiscussionPage .contentContainer {
      margin: 0 !important;
      width: 100% !important; }
    .createDiscussionPage .discussionHeader {
      margin-left: -0.5em; } }
  .createDiscussionPage .rightSide .discussionTagsHeader {
    font-size: 24px !important; }

/* Discussion page */
.discussionPage {
  padding: 18px 0 0 0; }
  .discussionPage .header .editButton {
    font-size: 18px;
    line-height: 30px; }
  .discussionPage .header:hover .editButton {
    display: inline !important; }
  @media only screen and (max-width: 1025px) {
    .discussionPage .ui.grid {
      margin: 0; } }
  .discussionPage .evidenceSection .evidenceSegment,
  .discussionPage .evidenceSection .extraSegment {
    font-size: 16px !important; }
  .discussionPage .extraLazyLoad {
    margin-top: 20px; }
  .discussionPage .ui.grid {
    margin-top: 0 !important; }

/* Discussion page */
.discussionsPage {
  padding: 18px 0 0 0; }
  .discussionsPage .discussionsContainer {
    padding: 0; }
  @media only screen and (max-width: 1025px) {
    .discussionsPage .discussionsContainer {
      margin: 0 !important; } }
  .discussionsPage .emptyDiscussionContainer {
    margin-top: 20px; }

/* Fallacies page */
.fallaciesPage {
  padding: 18px 0 0 0; }
  @media only screen and (max-width: 1025px) {
    .fallaciesPage .ui.container.fallaciesContainer {
      margin-left: 0 !important;
      margin-right: 0 !important; } }
  .fallaciesPage .segments .fallacySegment {
    border-bottom: none !important; }
    .fallaciesPage .segments .fallacySegment:last-of-type {
      border-bottom: solid 1px rgba(245, 248, 250, 0.1) !important; }

/* Fallacy page */
.fallacyPage {
  padding: 18px 0 0 0; }
  .fallacyPage .fallacyExample {
    margin-top: 5px; }
  .fallacyPage .materialWrapper {
    margin-top: 15px;
    width: 100%; }
  .fallacyPage .materialRow {
    padding: 0 !important;
    width: 100%; }
  .fallacyPage .divider.seperator {
    margin: 1rem 0 !important; }
  .fallacyPage .shareList {
    margin-top: 0 !important;
    width: 100%; }
    .fallacyPage .shareList .item {
      cursor: pointer; }
      .fallacyPage .shareList .item .icon.linkify {
        margin-right: 3px; }
  .fallacyPage .exportEmbed {
    display: inline;
    text-align: center; }
  .fallacyPage .exportSection {
    margin-top: 16px; }
    .fallacyPage .exportSection .downloadBtn {
      margin-top: 14px; }
    .fallacyPage .exportSection .downloadDimmer {
      cursor: pointer; }
    .fallacyPage .exportSection .screenshotCaption {
      color: #767676;
      font-size: 12px;
      font-style: italic;
      margin-bottom: 14px;
      margin-left: 3px;
      margin-top: 4px; }
  .fallacyPage .exportContainer {
    margin-bottom: 0; }
    .fallacyPage .exportContainer .exportSection {
      margin-top: 0; }
  .fallacyPage .shareContent {
    width: 100%; }
    .fallacyPage .shareContent .screenshotButton {
      vertical-align: baseline !important; }
      @media only screen and (max-width: 1025px) {
        .fallacyPage .shareContent .screenshotButton {
          display: none !important; } }
  .fallacyPage .fallacyContent {
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100%; }
  .fallacyPage .sourcesContent {
    width: 100%; }
  .fallacyPage .commentsContent {
    overflow-x: hidden;
    width: 100%; }
  .fallacyPage .similarContent {
    margin-top: 25px;
    width: 100%; }
  .fallacyPage .tagsCard {
    margin: 20px 0; }
  .fallacyPage .retractionContent {
    width: 100%; }
    .fallacyPage .retractionContent .card .content.extra {
      border-top: solid 1px rgba(245, 248, 250, 0.1) !important; }
    .fallacyPage .retractionContent .card .content .image {
      cursor: pointer; }
  .fallacyPage .ui.container.retractionContainer {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .fallacyPage canvas {
    display: none;
    height: 720px;
    width: 1280px; }
  @media only screen and (max-width: 1025px) {
    .fallacyPage .statusActionSegment .header {
      font-size: 14px !important; }
    .fallacyPage .statusActionSegment .twitterButton,
    .fallacyPage .statusActionSegment .youtubeButton {
      font-size: 12px; }
    .fallacyPage .row {
      padding-bottom: 0 !important;
      padding-top: 0 !important; }
    .fallacyPage .retractionContainer {
      margin: 0 !important; }
    .fallacyPage .downloadBtn {
      display: none; }
    .fallacyPage .captureScreenshot {
      display: none; }
    .fallacyPage .tagsCard {
      margin: 25px 0; }
    .fallacyPage .commentsContent {
      margin-bottom: 10px; } }

/* Feed page */
.feedPage {
  padding: 18px 0 0 0; }
  .feedPage .ui.feed > .event > .content .meta .label {
    cursor: pointer; }

/* Grifters page */
.griftersPage {
  padding: 18px 0 0 0; }
  .griftersPage .ui.message {
    background: #1d2d3c !important;
    border: solid 1px rgba(245, 248, 250, 0.1) !important;
    color: #ffffff !important; }

/* Home page */
.homePage {
  background: #15202b;
  min-height: 100vh;
  padding: 18px 0 0 0; }
  .homePage .heroHeader {
    color: #ffffff !important;
    padding-left: 6px !important; }
  .homePage .heroInput .icon.twitter {
    color: #0084b4; }
  .homePage .heroInput .icon.youtube {
    color: #ff0000; }
  .homePage .heroSegment {
    padding: 0 !important; }
  .homePage .translationContainer {
    background: #1e7abe; }
    @media only screen and (max-width: 1025px) {
      .homePage .translationContainer .ui.grid .row .column {
        padding-left: 0 !important;
        padding-right: 0 !important; } }

/* 404 page */
.notFoundPage {
  padding: 18px 0 0 0; }

/* Notifications page */
.notificationsPage {
  padding: 18px 0 0 0; }

/* Pages page */
.socialMediaPage {
  padding: 18px 0 0 0; }
  @media only screen and (max-width: 1025px) {
    .socialMediaPage .grid.column {
      padding: 0; }
    .socialMediaPage .pageContentRow {
      padding-top: 0 !important; }
    .socialMediaPage .titleHeader .ui.header {
      font-size: 24px !important; }
      .socialMediaPage .titleHeader .ui.header .sub.header {
        font-size: 16px !important; } }
  .socialMediaPage .imgContainer .image.profilePic {
    height: 185px;
    margin-bottom: 18px;
    width: 185px; }
  .socialMediaPage .pageHeaderInfo {
    margin-top: 0;
    text-align: center; }
    .socialMediaPage .pageHeaderInfo p {
      margin-top: 15px; }
    .socialMediaPage .pageHeaderInfo .twitterIcon,
    .socialMediaPage .pageHeaderInfo .youtubeIcon {
      margin-top: 8px; }
  .socialMediaPage .ui.container.profileContentContainer {
    margin-top: 16px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important; }
    .socialMediaPage .ui.container.profileContentContainer .dimmer {
      background: rgba(21, 32, 43, 0.6) !important;
      border: none;
      box-shadow: none !important; }
    .socialMediaPage .ui.container.profileContentContainer .signInPlaceholder {
      border: none;
      box-shadow: none !important;
      padding: 16px; }
    @media only screen and (max-width: 1025px) {
      .socialMediaPage .ui.container.profileContentContainer {
        padding: 8px 10px !important; }
        .socialMediaPage .ui.container.profileContentContainer .signInPlaceholder {
          height: 250px; } }
    .socialMediaPage .ui.container.profileContentContainer .segment.basic {
      padding: 0 !important; }

/* Post page */
.postPage {
  padding: 18px 0 0 0; }
  .postPage .fallacyFormWrapper {
    margin: 20px 0; }
  .postPage .screenshotMsg {
    background: #182532 !important;
    border: solid 1px rgba(245, 248, 250, 0.1) !important;
    color: #ffffff !important;
    margin-top: 18px; }
    .postPage .screenshotMsg .icon.camera {
      font-size: 15px; }
    .postPage .screenshotMsg span {
      cursor: pointer;
      font-size: 13px;
      line-height: 15px;
      margin-left: 4px; }
      .postPage .screenshotMsg span:hover {
        text-decoration: underline; }
  .postPage .relatedSearches .content:first-of-type {
    border-bottom: solid 1px rgba(245, 248, 250, 0.1) !important; }
  .postPage .captureTweet {
    background: #15202b; }
  .postPage .fallaciesWrapper {
    width: 100% !important; }
    .postPage .fallaciesWrapper .ui.stackable.one.cards .card {
      width: 100% !important; }
  .postPage .tweetWrapper {
    width: 100% !important; }

/* Search page */
.searchPage {
  padding: 18px 0 0 0; }
  .searchPage .searchSegment {
    padding: 0 !important; }
    .searchPage .searchSegment .searchMenu {
      background: #15202b !important; }
      .searchPage .searchSegment .searchMenu .item {
        color: #ffffff !important; }
        .searchPage .searchSegment .searchMenu .item.searchItem {
          padding: 6px 0 10px 18px; }
          .searchPage .searchSegment .searchMenu .item.searchItem input {
            padding: 0; }
        .searchPage .searchSegment .searchMenu .item .ui.icon.input input {
          border: none; }
        .searchPage .searchSegment .searchMenu .item .icon {
          font-size: 18px;
          line-height: 14px;
          vertical-align: middle; }
  .searchPage .ui.container.searchContentContainer {
    min-height: 300px;
    margin: 0 !important; }
    .searchPage .ui.container.searchContentContainer .resultsSegment {
      padding: 8px 0 0 12px !important; }
  .searchPage .searchResults {
    width: 100%; }

/* Settings page */
.settingsPage {
  padding: 18px 0 0 0; }
  .settingsPage .settingsMenu {
    margin-bottom: 0; }
  .settingsPage .settingsContent {
    width: 100%; }
    .settingsPage .settingsContent .message {
      background: #15202b;
      border: solid 1px rgba(245, 248, 250, 0.2);
      color: #ffffff; }
    .settingsPage .settingsContent .patreonMsg .icon {
      color: #f96854; }
  .settingsPage .ui.form .field.field input:-webkit-autofill, .settingsPage .ui.form .field.field input::selection, .settingsPage .ui.form .field.field input:active:-webkit-autofill, .settingsPage .ui.form .field.field input:focus:-webkit-autofill {
    background: #15202b !important;
    background-color: #15202b !important;
    border: solid 1px rgba(245, 248, 250, 0.2) !important;
    box-shadow: none !important;
    outline: none !important;
    -webkit-box-shadow: 0 0 0 50px #15202b inset !important;
    -webkit-text-fill-color: #ffffff !important; }

/* Signin page */
.loginContainer {
  background: #15202b !important;
  height: 100vh; }
  .loginContainer .loginForm {
    height: 100%;
    padding-top: 10px; }
    .loginContainer .loginForm .header {
      margin-top: 0; }
    .loginContainer .loginForm .grid .column {
      max-width: 450px; }

/* Tag page */
.tagPage {
  padding: 18px 0 0 0; }
  .tagPage .tagsWrapper {
    width: 100%; }
    .tagPage .tagsWrapper .menu.tagMenu {
      background: #15202b !important;
      border: solid 1px rgba(245, 248, 250, 0.2) !important;
      border-bottom: none !important;
      margin-top: 12px !important; }
      .tagPage .tagsWrapper .menu.tagMenu .list .item {
        cursor: pointer; }
        .tagPage .tagsWrapper .menu.tagMenu .list .item.selected {
          background: #ffffff; }
    .tagPage .tagsWrapper .editButtonWrapper .editButton {
      display: inline !important;
      font-size: 16px !important; }
    .tagPage .tagsWrapper .commentsContent .segment {
      padding-top: 5px; }
    .tagPage .tagsWrapper .galleryContent .galleryWrapper {
      width: 100%; }
      .tagPage .tagsWrapper .galleryContent .galleryWrapper img {
        cursor: pointer; }
    .tagPage .tagsWrapper .segment.placeholder .icon {
      height: auto !important; }
    .tagPage .tagsWrapper .tagsList,
    .tagPage .tagsWrapper .usersList {
      margin-top: 12px !important; }
    .tagPage .tagsWrapper .divider .cameraIcon,
    .tagPage .tagsWrapper .divider .photoIcon {
      background: #2185d0;
      color: #ffffff;
      cursor: pointer;
      font-size: 20px;
      margin-top: 0 !important; }
    .tagPage .tagsWrapper .divider .photoIcon {
      background: #ffffff;
      color: #2185d0; }
  @media only screen and (max-width: 1025px) {
    .tagPage .tagsWrapper .segment.stacked img {
      width: 300px; }
    .tagPage .ui.image.userPic {
      width: 50px; } }

/* Tags page */
.tagsPage {
  padding: 18px 0 0 0; }

/* Targets page */
.targetsPage {
  padding: 18px 0 0 0; }
  .targetsPage .ui.container .summaryHeader .icon {
    color: #2185d0;
    cursor: pointer;
    float: right;
    font-size: 19.5px;
    line-height: 19.5px; }
  .targetsPage .ui.container .imgContainer {
    height: 220px; }
    .targetsPage .ui.container .imgContainer .targetImgDiv {
      left: 0;
      margin: auto;
      padding-right: 50px;
      position: absolute;
      right: 0; }
      .targetsPage .ui.container .imgContainer .targetImgDiv .targetImg {
        cursor: pointer;
        margin-top: 15px;
        position: absolute;
        width: 200px; }
        .targetsPage .ui.container .imgContainer .targetImgDiv .targetImg + .header.large {
          margin-top: 8px; }
        .targetsPage .ui.container .imgContainer .targetImgDiv .targetImg.user {
          left: 0;
          right: 160px; }
  .targetsPage .ui.container .answers,
  .targetsPage .ui.container .questionnaire {
    margin-bottom: 16px; }
  .targetsPage .ui.container .questionnaire {
    white-space: pre-line; }
  .targetsPage .ui.container .answers .answerField {
    color: #ffffff;
    font-size: 15px; }
  .targetsPage .ui.container .answers .header.sub {
    margin-top: 5px; }
  @media only screen and (max-width: 1025px) {
    .targetsPage .ui.container .answers .header {
      font-size: 16px !important; } }

/* Users page */
.usersPage {
  padding: 18px 0 0 0; }
  .usersPage .userHeaderSection p {
    margin-top: 15px; }
  .usersPage .userHeaderSection .header.settingsHeader {
    color: #dcddde;
    margin-top: 15px !important;
    vertical-align: middle; }
  @media only screen and (max-width: 1025px) {
    .usersPage .userContentRow {
      padding-top: 0 !important; } }
  .usersPage .profileMenu {
    margin-top: 20px !important; }
  .usersPage .profilePic img {
    text-align: center; }
  .usersPage .profilePic.default {
    background: #aab8c2;
    overflow: hidden;
    padding: 7px; }
  .usersPage .profileContentContainer {
    margin: 0 !important;
    padding: 0 !important; }
    .usersPage .profileContentContainer .profileContentSegment {
      height: 100%;
      padding: 0; }
  @media only screen and (max-width: 1025px) {
    .usersPage .profilePicPlaceholder {
      height: 70px;
      width: 70px; } }
  .usersPage .userStat {
    cursor: pointer; }
    .usersPage .userStat:hover .value,
    .usersPage .userStat:hover .label {
      color: #2185d0 !important; }
  @media only screen and (max-width: 1025px) {
    .usersPage .titleHeader .ui.header {
      font-size: 24px !important; }
      .usersPage .titleHeader .ui.header .sub.header {
        font-size: 16px !important; } }

.signInPageHeader {
  background: #15202b;
  margin: 0 !important;
  padding: 10px;
  width: 100%; }
  .signInPageHeader .headerLogo {
    cursor: pointer;
    height: 48px;
    width: 48px; }
