$facebook: #3b5998;
$twitter: #0084b4;
$youtube: #ff0000;

/*---  Basic Colors  ---*/
$black            : #1B1C1D;
$blue             : #2196F3;
$green            : #4CAF50;
$grey             : #9E9E9E;
$orange           : #FF9800;
$pink             : #E91E63;
$purple           : #9C27B0;
$red              : #F44336;
$teal             : #1de9b6;
$yellow           : #FFEB3B;

/*---  Light Colors  ---*/
$lightBlack       : #333333;
$lightBlue        : #2979FF;
$lightGreen       : #00E676;
$lightOrange      : #FF9100;
$lightPink        : #F50057;
$lightPurple      : #D500F9;
$lightRed         : #FF1744;
$lightTeal        : #1DE9B6;
$lightYellow      : #FFEA00;

/*---   Neutrals  ---*/
$fullBlack        : #000000;
$darkGrey         : #AAAAAA;
$lightGrey        : #DCDDDE;
$offWhite         : #FAFAFA;
$darkWhite        : #F0F0F0;
$white            : #FFFFFF;

$menu-border-bottom-color: rgba(34,36,38,.15);

$container-content-background: rgba(245, 246, 250,0.3);
$container-border-color: rgba(220, 221, 225,.6);
$container-darker-border-color: rgba(220, 221, 225,.8);

$dimmer-background: rgba(255, 255, 255,0.8);
$dimmer-border: rgba(245, 246, 250,0.5);

$button-border: rgba(34,36,38,.15);
$subheader-grey: rgba(0,0,0,.6);
$tweet-border-color: rgba(0,0,0,.10);
$info-msg-border: rgba(169,213,222,0.4);
$error-msg-border: rgba(224,180,180,0.4);
$regular-msg-border: rgba(34,36,38,0.1);
$positive-green-border: rgba(163,194,147,0.4);
$warning-yellow-border: rgba(201,186,155,0.4);
$card-box-shadow: rgba(212, 212, 213, 0.4);
$dropdown-border-color: rgba(34, 36, 38, 0.15);