/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Twitter ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.searchResults .resultsCount .ui.statistic {
  display: inline-block;
  float: right;
  margin-right: 3px; }

.searchResults .ui.active.transition.visible.dimmer {
  background: rgba(21, 32, 43, 0.96) !important; }

.searchResults .resultsSegment,
.searchResults .linkAccountMsg,
.searchResults .emptyMsg {
  margin-top: 14px !important; }

.searchResults .resultsSegment {
  background: #15202b !important;
  padding: 0 !important;
  margin-top: 0 !important; }
