@import "../../../../css/colors.scss";

.titleHeader {
	&.editing {
    	margin: 0 -0.4rem;

    	@media only screen and (max-width: 1025px) {
      		margin: 0 !important;
    	}

    	.editHeaderIcon {
      		line-height: 47px !important;
    	}
  	}

  	.header {
    	.editHeaderIcon {
      		color: $blue;
      		cursor: pointer;
      		display: none !important;
      		float: right;
      		line-height: 47px;

      		&.close {
        		color: $lightRed;
      		}
    	}

    	.titleInput {
      		width: 92%;

      		input {
        		font-size: 18px;
      		}
    	}

    	&:hover {
      		.editHeaderIcon {
        		display: inline !important;
      		}
    	}

    	@media only screen and (max-width: 1025px) {
      		.titleInput {
        		width: 88% !important;
      		}

      		.editHeaderIcon {
        		line-height: 30px;
      		}
    	}
  	}

  	.emptyTitle {
    	height: 55px;
  	}
}
