@import '../../../css/colors.scss';

.fallacyExample {
    .fallacyMaterial {
        margin-top: 15px;
    }

    .header {
        color: $blue-nights;

        .editButton {
            color: $vanadyl-blue;
            cursor: pointer;
            display: none !important;
            float: right;
            font-size: 18px;
            margin-right: 0 !important;

            &.editing {
                color: $harley-davidson-orange;
            }
        }

        &:hover {
            .editButton {
                display: inline !important;
            }
        }
    }

    .ui.selection.dropdown {
        border-radius: 0 !important;
    }

    .fallacyExplanation {
        .updateBtn {
            background: $vanadyl-blue !important;

            &:hover {
                background: darken($vanadyl-blue, 5%) !important;
            }
        }

        .evidenceTextArea {
            &.error {
                background: #fff6f6;
                border-color: #e0b4b4;
                color: #9f3a38;
            }
        }

        .evidenceEditor {
            color: rgba(0,0,0,.87);
            font-size: 14px !important;
            height: 300px !important;
            padding-left: 3px;
        }
    }
}
