@import '../../../css/colors.scss';

.fallacyExample {
    .fallacyMaterial {
        margin-top: 15px;
    }

    .header {
        .editButton {
            cursor: pointer;
            display: none !important;
            float: right;
            font-size: 18px;
            margin-right: 0 !important;

            &.editing {
                color: $harley-davidson-orange;
            }
        }

        &:hover {
            .editButton {
                display: inline !important;
            }
        }
    }
}
