.fallacyExample .segment {
  border-radius: 0 !important; }

.fallacyExample .fallacyMaterial {
  margin-top: 15px; }

.fallacyExample .header {
  color: #353b48; }
  .fallacyExample .header .editButton {
    color: #0097e6;
    cursor: pointer;
    display: none !important;
    float: right;
    font-size: 18px;
    margin-right: 0 !important; }
    .fallacyExample .header .editButton.editing {
      color: #e84118; }
  .fallacyExample .header:hover .editButton {
    display: inline !important; }

.fallacyExample .ui.selection.dropdown {
  border-radius: 0 !important; }

.fallacyExample .fallacyExplanation .updateBtn {
  background: #0097e6 !important; }
  .fallacyExample .fallacyExplanation .updateBtn:hover {
    background: #0086cd !important; }

.fallacyExample .fallacyExplanation .evidenceTextArea.error {
  background: #fff6f6;
  border-color: #e0b4b4;
  color: #9f3a38; }

.fallacyExample .fallacyExplanation .evidenceEditor {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px !important;
  height: 300px !important;
  padding-left: 3px; }

.fallacyExample .fallacyExplanation .evidenceEditorToolbar button {
  border: solid 1px rgba(0, 0, 0, 0.1) !important; }

.fallacyExample .fallacyExplanation .evidenceEditorToolbar .InputPopover__root___3Hpj9 {
  border: solid 1px rgba(0, 0, 0, 0.1) !important; }
