.aboutCard {
  margin-top: 15px !important; }
  .aboutCard .editAboutIcon {
    cursor: pointer;
    float: right; }
  .aboutCard .editAboutIcon {
    color: #2196f3 !important;
    cursor: pointer;
    display: none;
    float: right; }
    .aboutCard .editAboutIcon.close {
      color: #ff1744 !important; }
  .aboutCard:hover .editAboutIcon {
    display: inline; }
  .aboutCard .description {
    word-wrap: break-word; }
  .aboutCard textarea {
    border: solid 1px #fff !important;
    margin-bottom: 8px;
    width: 100%; }
