@import '../../../css/colors.scss';

.aboutCard {
    border: none !important;
    box-shadow: none !important;
    margin-top: 5px !important;

    .editAboutIcon {
        cursor: pointer;
        float: right;
    }

    .content {
        border: none !important;
        padding-left: 0 !important;
        padding-right: 3px !important;
    }

    .editAboutIcon {
        display: none;
        color: $vanadyl-blue !important;

        &.close {
            color: $harley-davidson-orange !important;
        }
    }

    &:hover {
        .editAboutIcon {
            display: inline;
        }
    }

    .description {
        color: $electromagnetic !important;
        word-wrap: break-word;
    }

    .updateAboutButton {
        background: $vanadyl-blue !important;
        margin-top: 5px;

        &:hover {
            background: darken($vanadyl-blue, 5%) !important;
        }
    }
}
