@import '../../../css/colors.scss';

.titleHeader {
    .header {
        .editHeaderIcon {
            cursor: pointer;
            display: none !important;
            float: right;
            line-height: 42px;
        }

        .titleInput {
            width: 94% !important;
            
            input {
                font-size: 18px;
                line-height: 24px;
                padding: 4px 6px;
            }
        }

        &:hover {
            .editHeaderIcon {
                display: inline !important;
            }
        }
    }
}
