.titleHeader .header .editHeaderIcon {
  cursor: pointer;
  display: none !important;
  float: right;
  line-height: 42px; }

.titleHeader .header .titleInput {
  width: 94% !important; }
  .titleHeader .header .titleInput input {
    font-size: 18px;
    line-height: 24px;
    padding: 4px 6px; }

.titleHeader .header:hover .editHeaderIcon {
  display: inline !important; }
