.commentsSection {
  width: 100%; }
  .commentsSection .comment .avatar img {
    height: 36px !important;
    width: 36px !important; }
  .commentsSection .replyBtn {
    float: right;
    margin-right: 0; }
  .commentsSection .emptyMsg {
    text-align: center; }
