@import '../../../css/colors.scss';

.commentsSection {
    width: 100%;

    .comment {
        .avatar {
            img {
                height: 36px !important;
                width: 36px !important;
            }
        }
    }

    .replyBtn {
        float: right;
        margin-right: 0;
    }

    .emptyMsg {
        text-align: center;
    }
}
