/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
.commentsSection {
  width: 100%; }
  .commentsSection .replyBtn {
    float: right;
    margin-right: 0; }
  .commentsSection .ui.comments {
    max-width: none; }
    .commentsSection .ui.comments .comment .avatar img {
      height: 36px !important;
      width: 36px !important; }
