@import "../../../../css/colors.scss";

.ui.inverted.placeholder.fluid {
	background-color: $invertedBackgroundColor !important;
	
	.image.header:after, .line, .line:after, >:before {
		background-color: $invertedBackgroundColor !important;
	}

	.placeholderHeader {
		width: 100px;
	}
}