@import "../../../../css/colors.scss";

.breakdown {
	.credMessage {
		background: lighten($invertedBackgroundColor, 3%) !important;
		border: solid 1px $twitterExtraExtraLightGrey2;
		color: $white !important;
	}

	.credibilityLevel {
		margin-top: 20px;
	}

	.breakdownSegment {
		margin-bottom: 0 !important;

		.percentages {
			padding: 0 !important;

			.ui.header.small {
				margin-bottom: 8px !important;

				.ui.label.fallacyCount {
					background: $invertedBackgroundColor !important;
					border: solid 2px $grey !important;
					color: $lightGrey !important;
				}
			}

			.fallacyPercentage {
				cursor: pointer;
				margin-top: 15px;

				&:first-of-type {
					margin-top: 0;
				}

				.progress {
					margin-bottom: 0;

					.bar {
						background: $blue !important;
						min-width: 50px;
					}
				}
			}
		}
	}
	.questionnaire {
		margin-top: 0;
		padding: 0 !important;

		.ui.header.medium {
			margin-top: 0;
		}
	}

	.placeholderDiv {
		color: $white;
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 12px;
	}

	.icon.question {
		color: $red !important;
	}

	@media only screen and (max-width: 1025px) {
		.ui.header.medium {
			font-size: 18px !important;
		}

		.ui.header.small {
			font-size: 14px !important;
		}
		
		.reviewAvatar {
			display: none !important;
		}
	}
}