/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Twitter ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.breakdown .credMessage {
  background: #1a2835 !important;
  border: solid 1px rgba(245, 248, 250, 0.2);
  color: #ffffff !important; }

.breakdown .credibilityLevel {
  margin-top: 20px; }

.breakdown .breakdownSegment {
  margin-bottom: 0 !important; }
  .breakdown .breakdownSegment .percentages {
    padding: 0 !important; }
    .breakdown .breakdownSegment .percentages .ui.header.small {
      margin-bottom: 8px !important; }
    .breakdown .breakdownSegment .percentages .fallacyPercentage {
      cursor: pointer;
      margin-top: 15px; }
      .breakdown .breakdownSegment .percentages .fallacyPercentage:first-of-type {
        margin-top: 0; }
      .breakdown .breakdownSegment .percentages .fallacyPercentage .progress {
        margin-bottom: 0; }
        .breakdown .breakdownSegment .percentages .fallacyPercentage .progress .bar {
          min-width: 50px; }

.breakdown .questionnaire {
  margin-top: 0;
  padding: 0 !important; }
  .breakdown .questionnaire .ui.header.medium {
    margin-top: 0; }

.breakdown .placeholderDiv {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px; }

.breakdown .icon.question {
  color: #db2828; }

@media only screen and (max-width: 1025px) {
  .breakdown .ui.header.medium {
    font-size: 18px !important; }
  .breakdown .ui.header.small {
    font-size: 14px !important; }
  .breakdown .reviewAvatar {
    display: none !important; } }
