.footerSegment {
  background: #2f3640 !important;
  border: none !important;
  box-shadow: none !important;
  margin-top: 5.5em !important;
  padding: 1em 0em !important;
  text-align: center; }
  .footerSegment .ui.inverted.list .item a:not(.ui) {
    color: #f5f6fa !important; }
    .footerSegment .ui.inverted.list .item a:not(.ui):hover {
      color: #e4e7f2 !important; }
  .footerSegment p {
    color: #f5f6fa !important;
    font-size: 12px; }
