@import '../../css/colors.scss';

.rightSide {
    margin-left: 0;
    padding-left: 0 !important;
}

.search.selection.dropdown {
    .ui.label {
        background: $seabrook;
        border: none !important;
        box-shadow: none !important;
        color: $white;
        padding: 6px 12px;
    }
}

.ui.vertical.menu {
    .item {
        font-weight: normal !important;

        &.active {
            background: $protoss-pylos !important;
            color: $white;
            font-weight: bold !important;

            &:hover {
                color: $white;
            }
        }
    }
}

.ui.secondary.pointing.menu {
    .item {
        height: 50px;

        .label {
            background: $linx-white;
            color: $electromagnetic;
        }
    }
}

.search.selection.active.dropdown {
    border-color: #96c8da !important;
}

.externalUrl {
    color: $blue;
    cursor: pointer;

    &:hover {
        color: lighten($blue, 5%);
    }
}

a {
    color: $blue;
}

.Linkify {
    color: $black !important;
    
    a {
        color: $blue !important;
    }
}

.clearfix {
    clear: both;
}

.facebookIcon {
    color: $facebook;
}

.twitterIcon {
    color: $twitter;
}

.youtubeIcon {
    color: $youtube;
}

.modals.dimmer .ui.scrolling.modal {
    margin: 60px 0 70px 0 !important;
}

.editButton {
    color: $vanadyl-blue;
    cursor: pointer;
    display: none !important;
    float: right;
    font-size: 18px;
    margin-right: 0 !important;

    &.close {
        color: $harley-davidson-orange;
    }
}

.dropzone {
    border: none;
    height: 100%;
    width: 100%;
}


/* About page */
.aboutPage {
    .logoContainer {
        background: $white;
        padding: 16px 0;

        .header.aboutHeader {
            line-height: 1;

            .sub.header {
                margin-top: 6px;
            }

            .blatherLogo {
                margin-bottom: 8px;
                
                .blatherLogoSvg {
                    fill: $blue;
                    height: 84px;
                    line-height: 96px;
                    vertical-align: middle;
                    width: 84px;
                }
            }

            span {
                line-height: 96px;
            }
        }
    }

    .contactForm {
        p {
            margin-bottom: 5px !important;
        }

        button {
            float: right;
        }
    }
}


/* Create discussion page */
.createDiscussionPage {
    .contentContainer {
        padding: 0 !important;

        .segment {
            margin: 0;
            padding: 0;

            .ui.form {
                .field label {
                    font-size: 15px;
                }

                .provenWrongTextArea {
                    margin-top: 1em;
                }

                .titleInput input, textarea {
                    padding: 8px;
                }

                .extraWrapper {
                    margin-top: 15px;
                }
            }
        }

        .btnWrapper {
            margin-top: 15px;
        }

        .previewSegment {
            .descriptionTitle, .extraTitle {
                margin-bottom: 5px;
            }

            .descriptionPreview, .extraPreview {
                min-height: 80px;
                padding: 0;
            }
        }
    }

    .rightSide {
        .discussionTagsHeader {
            font-size: 24px !important;
        }
    }
}


/* Discussion page */
.discussionPage {
    .header {
        .editButton {
            font-size: 18px;
            line-height: 30px;
        }

        &:hover {
            .editButton {
                display: inline !important;
            }
        }
    }

    .evidenceSection {
        .evidenceSegment,
        .extraSegment {
            font-size: 16px !important;
        }
    }

    .extraLazyLoad {
        margin-top: 20px;
    }

    .ui.grid {
        margin-top: 0 !important;
    }
}


/* Discussion page */
.discussionsPage {
    .discussionsContainer {
        padding: 0;
    }

    .emptyDiscussionContainer {
        margin-top: 20px;
    }
}


/* Fallacies page */
.fallaciesPage {
    .mainFallacy {
        display: none;

        .editButton {
            font-size: 14px;
        }

        .segment {
            .comments {
                margin-top: 15px !important;
            }
        }

        &.active {
            display: block;
        }
    }
}


/* Fallacy page */
.fallacyPage {
    .ui.grid {
        margin-top: 0 !important;

        .statusActionSegment {
            height: 116px;

            .youtubeButton {
                background: $youtube !important;
                color: $white;
                margin-top: 0 !important;

                &:hover {
                    background: darken($youtube, 5%) !important;
                }
            }

            .twitterButton {
                background: $twitter;
                color: $white;

                &:hover {
                    background: darken($twitter, 5%);
                }
            }
        }
    }

    .fallacyMainMenu {
        margin-top: 10px;
    }
}


/* Pages page */
.socialMediaPage {
    .menu.socialMediaPageMenu {
        margin-top: 40px !important;
    }

    .profileContentContainer {
        min-height: 450px;
        padding: 0 !important;

        .dimmer {
            background: $dimmer-background !important;
        }
    }
}


/* Post page */
.postPage {
    .mainContainer {
        padding: 0 !important;

        .fallaciesWrapper {
            margin-top: 1.2em;
        }

        .fallacyFormWrapper {
            margin-top: 16px;
        }
    }

    .sticky {
        div {
            z-index: 1000;
        }

        .breadcrumbContainer {
            background: $linx-white;
            border-bottom: solid 1px $container-border-color;
            margin-top: 60px;
            padding: 8px 30px;
            width: 100%;

            .breadcrumb {
                line-height: 20px;
                margin-left: auto !important;
                margin-right: auto !important;
                padding: 0 30px;
            }
        }
    }
}


/* Search page */
.searchPage {
    .searchMenu {
        .item {
            &.searchItem {
                padding: 17.5px 16px 17.5px 28px;
                
                input {
                    padding: 0;
                }
            }

            .ui.icon.input {
                input {
                    border: none;
                }
            }

            .icon {
                font-size: 18px;
                line-height: 14px;
                vertical-align: middle;
            }
        }
    }

    .searchContentContainer {
        min-height: 300px;
        padding: 0 !important;
    }
}


/* Settings page */
.settingsPage {
    .settingsContent {
        .segment {
            min-height: 400px;

            .contentWrapper {
                text-align: center;
            }
        }

        .firstParagraph {
            text-align: center;
        }
    }
}


/* Signin page */
.loginContainer {
    height: 100vh;
    padding-top: 60px;

    .loginForm {
        height: 100%;

        .header {
            margin-top: 0;
        }

        .grid {
            .column {
                max-width: 450px;
            }
        }
    } 
}


/* Tags page */
.tagsPage {
    .segment {
        &.basic {
            padding: 0;
        }

        img {
            margin-bottom: 1.2em;
        }
    }

    .list {
        .item {
            cursor: pointer;

            &.selected {
                background: $linx-white;
            }
        }
    }

    .tagsWrapper {
        margin-top: 20px;

        .menu.tagMenu {
            margin-top: 40px !important;

            &:hover {
                .editButton {
                    display: inline !important;
                }
            }
        }
    }
}


/* Users page */
.usersPage {
    .menu.profileMenu {
        margin-top: 40px !important;
    }

    .profileContentContainer {
        padding: 0 !important;
    }
}