@import '../../css/colors.scss';

.rightSide {
    margin-left: 0;
    padding-left: 0 !important;
}

.search.selection.dropdown {
    .ui.label {
        background: $lightBlue;
        border: none !important;
        box-shadow: none !important;
        color: $white;
        padding: 6px 12px;
    }
}

.ui.vertical.menu {
    .item {
        font-weight: normal !important;

        &.active {
            background: $lightBlue !important;
            color: $white;
            font-weight: bold !important;

            &:hover {
                color: $white;
            }
        }
    }
}

.ui.secondary.pointing.menu {
    .item {
        .label {
            background: $offWhite;
            color: $black;
        }
    }
}

.search.selection.active.dropdown {
    border-color: #96c8da !important;
}

.externalUrl {
    color: $blue;
    cursor: pointer;

    &:hover {
        color: lighten($blue, 5%);
    }
}

a {
    color: $blue;
}

.Linkify {
    color: $black !important;
    
    a {
        color: $blue !important;
    }
}

.clearfix {
    clear: both;
}

.facebookIcon {
    color: $facebook;
}

.twitterIcon {
    color: $twitter;
}

.youtubeIcon {
    color: $youtube;
}

.modals.dimmer .ui.scrolling.modal {
    margin: 60px 0 70px 0 !important;
}

.dimmable.dimmed {
    .page.modals.dimmer.transition.visible.active {
        z-index: 1002 !important;
    }
}

.editButton {
    color: $blue;
    cursor: pointer;
    display: none !important;
    float: right;
    font-size: 18px;
    margin-right: 0 !important;

    &.close {
        color: $lightRed;
    }
}

.dropzone {
    border: none;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1025px) {
    .titleHeader {
        width: 100%;
    }

    .ui.header {
        font-size: 20px !important;
    }

    .sub.header {
        font-size: 13px !important;
    }
}


/* About page */
.aboutPage {
    .logoContainer {
        background: $white;
        padding: 16px 0;

        .header.aboutHeader {
            line-height: 1;

            .sub.header {
                margin-top: 6px;
            }

            .blatherLogo {
                margin-bottom: 8px;
                
                .blatherLogoSvg {
                    fill: $blue;
                    height: 84px;
                    line-height: 96px;
                    vertical-align: middle;
                    width: 84px;
                }
            }

            span {
                line-height: 96px;
            }
        }
    }

    .contactForm {
        button {
            float: right;
        }
    }
}


.botPage {
    .singleButtons {
        margin-top: 18px;
    }

    .tweetContainer {
        margin-top: 20px;
        padding: 0 40px;

        .card {
            .content {
                font-size: 16px;
                min-height: 150px;
            }
        }

        .button {
            margin-bottom: 7px;
        }
    }

    .pickOneContainer {
        margin-top: 5px;

        .buttons {
            .button {
                width: 50%;
            }
        }
    }

    .ui.grid {
        margin-top: 5px;

        .row {
            padding: 4px 0;

            .column {
                .button {
                    height: 100%;
                    margin-bottom: 0;
                }
            }
        }
    }
}


/* Create discussion page */
.createDiscussionPage {
    .contentContainer {
        padding: 0 !important;

        .segment {
            margin: 0;
            padding: 0;

            .ui.form {
                .field label {
                    font-size: 15px;
                }

                .provenWrongTextArea {
                    margin-top: 1em;
                }

                .titleInput input, textarea {
                    padding: 8px;
                }
            }

            .extraWrapper {
                margin-top: 15px;
            }

            &.dimmed.dimmable {
                padding: 10px;

                .dimmer {
                    background: $dimmer-background !important;
                }
            }
        }

        .btnWrapper {
            margin-top: 15px;
        }

        .previewSegment {
            .descriptionTitle, .extraTitle {
                margin-bottom: 5px;
            }

            .descriptionPreview, .extraPreview {
                min-height: 80px;
                padding: 0;
            }
        }

        .exitPreviewButton {
            float: right;
        }
    }

    @media only screen and (max-width: 1025px) {
        .contentContainer {
            margin: 0 !important;
            width: 100% !important;
        }

        .discussionHeader {
            margin-left: -0.5em;
        }
    }

    .rightSide {
        .discussionTagsHeader {
            font-size: 24px !important;
        }
    }
}


/* Discussion page */
.discussionPage {
    .header {
        .editButton {
            font-size: 18px;
            line-height: 30px;
        }

        &:hover {
            .editButton {
                display: inline !important;
            }
        }
    }

    @media only screen and (max-width: 1025px) {
        .ui.grid {
            margin: 0;
        }
    }

    .evidenceSection {
        .evidenceSegment,
        .extraSegment {
            font-size: 16px !important;
        }
    }

    .extraLazyLoad {
        margin-top: 20px;
    }

    .ui.grid {
        margin-top: 0 !important;
    }
}


/* Discussion page */
.discussionsPage {
    .discussionsContainer {
        padding: 0;
    }

    @media only screen and (max-width: 1025px) {
        .discussionsContainer {
            margin: 0 !important;
        }
    }

    .emptyDiscussionContainer {
        margin-top: 20px;
    }
}


/* Fallacies page */
.fallaciesPage {
    .sub.header {
        .icon.sidebar {
            cursor: pointer;
            float: left;
        }
    }

    .mainFallacy {
        display: none;

        .segment {
            p:not(.header) {
                margin-bottom: 12px !important;
            }

            .header {
                margin-bottom: 5px;
            }

            @media only screen and (max-width: 1025px) {
                .header {
                    font-size: 16px !important;
                }

                .comment {
                    font-size: 12px;
                }
            }
        }

        &.active {
            display: block;
        }
    }
}


/* Fallacy page */
.fallacyPage {
    .ui.grid {
        margin-top: 0 !important;

        .leftSide, .rightSide {
            padding: 0 14px;
        }

        .materialWrapper {
            width: 100%;
        }

        .row {
            padding: 0.5em;

            &:first-of-type {
                padding-top: 0;
            }
        }

        .statusActionSegment {
            margin-top: 15px;
            text-align: center;

            .youtubeButton {
                background: $youtube !important;
                color: $white;
                margin-top: 0 !important;
                text-shadow: none;

                &:hover {
                    background: darken($youtube, 5%) !important;
                }
            }

            .twitterButton {
                background: $twitter;
                color: $white;
                text-shadow: none;

                &:hover {
                    background: darken($twitter, 5%);
                }
            }
        }

        .callToSignUp {
            margin-top: 10px;
        }
    }

    .fallacyMainMenu {
        margin-top: 10px;
    }

    .commentsContent {
        width: 100%;
    }

    .shareContainer {
         margin-top: 15px;

        .shareList {
            .item {
                cursor: pointer;
            }
        }
    }

    @media only screen and (max-width: 1025px) {
        .ui.header {
            font-size: 16px;
        }

        .statusActionSegment {
            .header {
                font-size: 14px !important;
            }

            .twitterButton, .youtubeButton {
                font-size: 12px;
            }
        }
    }
}


.feedPage {
    @media only screen and (max-width: 1025px) {
        .grid {
            margin-left: 0 !important;
            margin-right: 0 !important;

            .feedRow {
                overflow-x: hidden;
                word-break: break-word;
            }
        }
    }

    .mostFallacious {
        .feedEvent .meta {
            margin-top: 0 !important;
        }
    }

    .feed {
        width: 100%;
    }
}


/* Pages page */
.socialMediaPage {
    .menu.socialMediaPageMenu {
        margin-top: 40px !important;
    }

    @media only screen and (max-width: 1025px) {
        .menu.socialMediaPageMenu {
            margin-top: 0px !important;
        }

        .image.profilePic {
            height: 225px;
        }

        .pageContentRow {
            padding-top: 0 !important;
        }
    }

    .profileContentContainer {
        margin: 0 !important;
        min-height: 450px;
        padding: 0 !important;
        width: 100% !important;

        .dimmer {
            background: $dimmer-background !important;
        }

        .signInPlaceholder {
            border: none;
            
            padding: 0;
        }
    }
}


/* Post page */
.postPage {
    .ui.text.container.mainContainer {
        font-size: 13px;
        padding: 0 !important;

        .fallaciesWrapper {
            margin-top: 1.2em;
        }

        .fallacyFormWrapper {
            margin-top: 16px;
        }

        .placeholderContainer {
            text-align: center;
        }
    }

    .sticky {
        div {
            z-index: 1000;
        }

        .breadcrumbContainer {
            background: $white;
            border-bottom: solid 1px $lightGrey;
            margin-top: 72px;
            padding: 8px 30px;
            width: 100%;

            .breadcrumb {
                line-height: 20px;
                margin-left: auto !important;
                margin-right: auto !important;
                padding: 0 30px;
            }
        }
    }
}


/* Search page */
.searchPage {
    .searchMenu {
        .item {
            &.searchItem {
                padding: 17.5px 16px 17.5px 28px;
                
                input {
                    padding: 0;
                }
            }

            .ui.icon.input {
                input {
                    border: none;
                }
            }

            .icon {
                font-size: 18px;
                line-height: 14px;
                vertical-align: middle;
            }
        }
    }

    .searchContentContainer {
        min-height: 300px;
        margin: 0 !important;
        padding: 0 !important;
    }

    .searchResults {
        width: 100%;
    }
}


/* Settings page */
.settingsPage {
    .settingsContent {
        width: 100%;

        .segment {
            min-height: 400px;

            .contentWrapper {
                text-align: center;
            }

            .changePasswordBox {
                .button {
                    float: right;
                }
            }
        }

        .firstParagraph {
            text-align: center;
        }
    }
}


/* Signin page */
.loginContainer {
    height: 100vh;

    .signInPageHeader {
        background: $white;
        border-bottom: solid 1px $lightGrey;
        padding: 10px;
        width: 100%;

        .svgMainLogo, .mainLogo {
            cursor: pointer;
            display: inline;
            fill: $blue;
            height: 36px;
            line-height: 4;
            vertical-align: middle;
            width: 36px;

            &:hover {
                fill: $lightBlue;
            }
        }
    }

    .loginForm {
        height: 100%;
        padding-top: 10px;

        .header {
            margin-top: 0;
        }

        .grid {
            .column {
                max-width: 450px;
            }
        }
    } 
}


/* Tags page */
.tagsPage {
    .segment {
        &.basic {
            padding: 0;
        }

        img {
            margin-bottom: 1.2em;
        }
    }

    .list {
        .item {
            cursor: pointer;

            &.selected {
                background: $white;
            }
        }
    }

    .tagsWrapper {
        margin-top: 20px;
        width: 100%;

        .menu.tagMenu {
            margin-top: 40px !important;

            &:hover {
                .editButton {
                    display: inline !important;
                }
            }
        }
    }

    @media only screen and (max-width: 1025px) {
        .tagsWrapper {
            margin-top: 0;
        }
    }
}

/* Targets page */
.targetsPage {
    .ui.text.container {
        font-size: 13px;

        .summaryHeader {
            .icon {
                color: $blue;
                cursor: pointer;
                float: right;
                font-size: 19.5px;
                line-height: 19.5px;
            }
        }

        .targetImg {
            cursor: pointer;
            margin-top: 20px;
        }

        .answers, .questionnaire {
            margin-bottom: 16px;
        }

        .questionnaire {
            white-space: pre-line;
        }

        .answers {
            .answerField {
                font-size: 14px;
            }

            .header.sub {
                margin-top: 5px;
            }
        }
    }
}


/* Users page */
.usersPage {
    .menu.profileMenu {
        margin-top: 40px !important;
    }

    @media only screen and (max-width: 1025px) {
        .menu.profileMenu {
            margin-top: 0px !important;
        }

        .userContentRow {
            padding-top: 0 !important;
        }
    }

    .profileContentContainer {
        padding: 0 !important;
    }

    .profilePic {
        &.default {
            background: $white;
            padding: 7px;
        }
    }

    @media only screen and (max-width: 1025px) {
        .profilePic {
            height: 200px;
        }
    }
}