/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.rightSide {
  margin-left: 0;
  padding-left: 0 !important; }

.ui.vertical.menu .item {
  font-weight: normal !important; }
  .ui.vertical.menu .item.active {
    background: #2185D0 !important;
    color: #FFFFFF !important;
    font-weight: bold !important; }
    .ui.vertical.menu .item.active:hover {
      color: #FFFFFF; }

.search.selection.dropdown .ui.label {
  background: #F2711C;
  border: none !important;
  box-shadow: none !important;
  color: #FFFFFF;
  padding: 6px 12px; }

.tagPicModal .content .form {
  text-align: center;
  width: 100% !important; }
  .tagPicModal .content .form img {
    margin-bottom: 25px; }
  .tagPicModal .content .form .container {
    height: 120px;
    padding-top: 38px; }
    .tagPicModal .content .form .container .header {
      cursor: pointer;
      margin: 0; }

.ui.secondary.pointing.menu .item .label {
  background: #F9FAFB;
  color: #1B1C1D; }

.search.selection.active.dropdown {
  border-color: #96c8da !important; }

.externalUrl {
  color: #2185D0;
  cursor: pointer; }
  .externalUrl:hover {
    color: #2d92de; }

.profilePicPlaceholder {
  border-radius: 50%;
  display: inline-block;
  max-width: none;
  text-align: center; }
  .profilePicPlaceholder .square {
    height: 220px;
    width: 220px; }

.pageHeaderPlaceholder {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  width: 360px; }
  .pageHeaderPlaceholder .placeholder {
    text-align: center; }

@media only screen and (max-width: 1025px) {
  .pageHeaderPlaceholder {
    width: 250px; } }

a {
  color: #2185D0; }

.Linkify {
  color: #1B1C1D !important; }
  .Linkify a {
    color: #2185D0 !important; }

.clearfix {
  clear: both; }

.facebookIcon {
  color: #3b5998; }

.twitterIcon {
  color: #0084b4; }

.youtubeIcon {
  color: #ff0000; }

.sticky.noteIcon {
  color: #FBBD08; }

.warning.sign {
  color: #DB2828; }

.modals.dimmer .ui.scrolling.modal {
  margin: 60px 0 70px 0 !important; }

.dimmable.dimmed .page.modals.dimmer.transition.visible.active {
  z-index: 1002 !important; }

.editButton {
  color: #2185D0;
  cursor: pointer;
  display: none !important;
  float: right;
  font-size: 18px;
  margin-right: 0 !important; }
  .editButton.close {
    color: #FF695E; }

.dropzone {
  border: none;
  height: 100%;
  text-align: center;
  width: 100%; }

.postContainer {
  margin-top: 12px; }

@media only screen and (max-width: 1025px) {
  .titleHeader {
    width: 100%; }
  .ui.header {
    font-size: 20px !important; }
  .sub.header {
    font-size: 13px !important; } }

.heroLogo {
  display: inline;
  fill: #2185D0;
  height: 140px;
  line-height: 4;
  margin-top: 15px;
  opacity: 0.75;
  text-align: center;
  vertical-align: middle; }

.heroHeader {
  margin-top: 5px !important; }

.heroInput .icon.twitter {
  color: #0084b4; }

.heroInput .icon.youtube {
  color: #ff0000; }

/* About page */
.aboutPage .logoContainer {
  background: #FFFFFF;
  padding: 16px 0; }
  .aboutPage .logoContainer .header.aboutHeader {
    line-height: 1; }
    .aboutPage .logoContainer .header.aboutHeader .sub.header {
      margin-top: 6px; }
    .aboutPage .logoContainer .header.aboutHeader .blatherLogo {
      margin-bottom: 8px; }
      .aboutPage .logoContainer .header.aboutHeader .blatherLogo .blatherLogoSvg {
        fill: #2185D0;
        height: 84px;
        line-height: 96px;
        vertical-align: middle;
        width: 84px; }
    .aboutPage .logoContainer .header.aboutHeader span {
      line-height: 96px; }

.aboutPage .contactForm button {
  float: right; }

.aboutPage .aboutContainer {
  margin: 0 !important; }

.botPage .singleButtons {
  margin-top: 18px; }

.botPage .tweetContainer {
  margin-top: 20px;
  padding: 0 40px; }
  .botPage .tweetContainer .card .content {
    font-size: 16px;
    min-height: 150px; }
  .botPage .tweetContainer .button {
    margin-bottom: 7px; }

.botPage .pickOneContainer {
  margin-top: 5px; }
  .botPage .pickOneContainer .buttons .button {
    width: 50%; }

.botPage .ui.grid {
  margin-top: 5px; }
  .botPage .ui.grid .row {
    padding: 4px 0; }
    .botPage .ui.grid .row .column .button {
      height: 100%;
      margin-bottom: 0; }

/* Create discussion page */
.createDiscussionPage .contentContainer {
  padding: 0 !important; }
  .createDiscussionPage .contentContainer .segment {
    margin: 0;
    padding: 0; }
    .createDiscussionPage .contentContainer .segment .ui.form .field label {
      font-size: 15px; }
    .createDiscussionPage .contentContainer .segment .ui.form .provenWrongTextArea {
      margin-top: 1em; }
    .createDiscussionPage .contentContainer .segment .ui.form .titleInput input, .createDiscussionPage .contentContainer .segment .ui.form textarea {
      padding: 8px; }
    .createDiscussionPage .contentContainer .segment .extraWrapper {
      margin-top: 15px; }
    .createDiscussionPage .contentContainer .segment.dimmed.dimmable {
      padding: 10px; }
      .createDiscussionPage .contentContainer .segment.dimmed.dimmable .dimmer {
        background: rgba(255, 255, 255, 0.8) !important; }
  .createDiscussionPage .contentContainer .btnWrapper {
    margin-top: 15px; }
  .createDiscussionPage .contentContainer .previewSegment .descriptionTitle, .createDiscussionPage .contentContainer .previewSegment .extraTitle {
    margin-bottom: 5px; }
  .createDiscussionPage .contentContainer .previewSegment .descriptionPreview, .createDiscussionPage .contentContainer .previewSegment .extraPreview {
    min-height: 80px;
    padding: 0; }
  .createDiscussionPage .contentContainer .exitPreviewButton {
    float: right; }

@media only screen and (max-width: 1025px) {
  .createDiscussionPage .contentContainer {
    margin: 0 !important;
    width: 100% !important; }
  .createDiscussionPage .discussionHeader {
    margin-left: -0.5em; } }

.createDiscussionPage .rightSide .discussionTagsHeader {
  font-size: 24px !important; }

/* Discussion page */
.discussionPage .header .editButton {
  font-size: 18px;
  line-height: 30px; }

.discussionPage .header:hover .editButton {
  display: inline !important; }

@media only screen and (max-width: 1025px) {
  .discussionPage .ui.grid {
    margin: 0; } }

.discussionPage .evidenceSection .evidenceSegment,
.discussionPage .evidenceSection .extraSegment {
  font-size: 16px !important; }

.discussionPage .extraLazyLoad {
  margin-top: 20px; }

.discussionPage .ui.grid {
  margin-top: 0 !important; }

/* Discussion page */
.discussionsPage .discussionsContainer {
  padding: 0; }

@media only screen and (max-width: 1025px) {
  .discussionsPage .discussionsContainer {
    margin: 0 !important; } }

.discussionsPage .emptyDiscussionContainer {
  margin-top: 20px; }

/* Fallacies page */
@media only screen and (max-width: 1025px) {
  .fallaciesPage .ui.container.mainContainer {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

.fallaciesPage .sub.header .icon.sidebar {
  cursor: pointer;
  float: left; }

.fallaciesPage .mainFallacy {
  display: none; }
  .fallaciesPage .mainFallacy .segment p:not(.header) {
    margin-bottom: 12px !important; }
  .fallaciesPage .mainFallacy .segment .header {
    margin-bottom: 5px; }
  .fallaciesPage .mainFallacy .segment .captureScreenshot {
    cursor: pointer;
    float: left; }
    .fallaciesPage .mainFallacy .segment .captureScreenshot + a {
      float: right; }
  @media only screen and (max-width: 1025px) {
    .fallaciesPage .mainFallacy .segment .header {
      font-size: 16px !important; }
    .fallaciesPage .mainFallacy .segment .comment {
      font-size: 12px; }
    .fallaciesPage .mainFallacy .segment .captureScreenshot {
      display: none; } }
  .fallaciesPage .mainFallacy.active {
    display: block; }

/* Fallacy page */
.fallacyPage .fallacyGrid {
  margin-top: 10px !important; }
  .fallacyPage .fallacyGrid .leftSide, .fallacyPage .fallacyGrid .rightSide {
    padding: 0 8px !important; }
  .fallacyPage .fallacyGrid .materialWrapper {
    width: 100%; }
  .fallacyPage .fallacyGrid .row:first-of-type {
    padding-top: 0; }
  .fallacyPage .fallacyGrid .materialRow {
    padding: 0 !important;
    width: 100%; }
  .fallacyPage .fallacyGrid .divider.seperator {
    margin: 1rem 0 !important; }
  .fallacyPage .fallacyGrid .callToSignUp {
    margin-top: 10px; }
  .fallacyPage .fallacyGrid .shareList {
    height: 41px;
    margin-top: 0 !important;
    width: 100%; }
    .fallacyPage .fallacyGrid .shareList .item {
      cursor: pointer;
      height: 41px !important;
      padding: 0 !important;
      vertical-align: text-top; }
    .fallacyPage .fallacyGrid .shareList .reddit {
      background: #FF5700;
      color: #FFFFFF;
      border-radius: 50%;
      display: inline-block;
      font-size: 20px;
      height: 35px !important;
      line-height: 35px;
      width: 35px !important; }

.fallacyPage .exportEmbed {
  display: inline;
  text-align: center; }

.fallacyPage .exportSection {
  margin-top: 16px; }
  .fallacyPage .exportSection .downloadBtn {
    margin-top: 14px; }
  .fallacyPage .exportSection .downloadDimmer {
    cursor: pointer; }
  .fallacyPage .exportSection .screenshotCaption {
    color: #767676;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 14px;
    margin-left: 3px;
    margin-top: 4px; }

.fallacyPage .exportContainer {
  margin-bottom: 0; }
  .fallacyPage .exportContainer .exportSection {
    margin-top: 0; }

.fallacyPage .shareContent {
  line-height: 0;
  width: 100%; }

.fallacyPage .fallacyContent {
  margin-bottom: 25px;
  width: 100%; }

.fallacyPage .sourcesContent {
  margin-bottom: 25px;
  width: 100%; }

.fallacyPage .commentsContent {
  margin-bottom: 25px;
  overflow-x: hidden;
  width: 100%; }

.fallacyPage .similarContent {
  margin-bottom: 25px;
  width: 100%; }

.fallacyPage .tagsCard {
  margin-top: 25px; }

.fallacyPage .retractionContent {
  margin-bottom: 25px;
  width: 100%; }

.fallacyPage canvas {
  display: none;
  height: 720px;
  width: 1280px; }

@media only screen and (max-width: 1025px) {
  .fallacyPage .mainContainer .ui.grid {
    margin: 10px 0 !important; }
  .fallacyPage .statusActionSegment .header {
    font-size: 14px !important; }
  .fallacyPage .statusActionSegment .twitterButton, .fallacyPage .statusActionSegment .youtubeButton {
    font-size: 12px; }
  .fallacyPage .row {
    padding-bottom: 0 !important;
    padding-top: 0 !important; }
  .fallacyPage .retractionContainer {
    margin: 0 !important; }
  .fallacyPage .downloadBtn {
    display: none; }
  .fallacyPage .captureScreenshot {
    display: none; }
  .fallacyPage .tagsCard {
    margin: 25px 0; } }

/* Feed page */
@media only screen and (max-width: 1025px) {
  .feedPage .grid {
    margin-left: 0 !important;
    margin-right: 0 !important; }
    .feedPage .grid .segment {
      width: 100% !important; }
      .feedPage .grid .segment .feedRow {
        word-break: break-word; }
        .feedPage .grid .segment .feedRow .tweet {
          max-width: 300px !important; } }

.feedPage .ui.feed > .event > .content .meta .label {
  cursor: pointer; }

.feedPage .mostFallacious .feedEvent .meta {
  margin-top: 0 !important; }

.feedPage .feedWrapper {
  width: 100%; }
  .feedPage .feedWrapper .feed {
    width: 100%; }

.feedPage .feedGrid {
  margin-top: 0; }

/* Pages page */
@media only screen and (max-width: 1025px) {
  .socialMediaPage .grid.column {
    padding: 0; }
  .socialMediaPage .pageContentRow {
    padding-top: 0 !important; }
  .socialMediaPage .titleHeader .ui.header {
    font-size: 24px !important; }
    .socialMediaPage .titleHeader .ui.header .sub.header {
      font-size: 16px !important; } }

.socialMediaPage .segments {
  background: #FFFFFF; }
  .socialMediaPage .segments .segment.coverPic {
    background-attachment: fixed;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='98' height='49' viewBox='0 0 98 49'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.14' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23ffffff' stroke-width='0.14'%3E%3Crect fill='%23fafafa' width='1' height='1'/%3E%3Crect fill='%23ffffff' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23f5f5f5' width='1' height='1' y='1'/%3E%3Crect fill='%23f0f0f0' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ebebeb'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ffffff'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%232185d0'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%232185d0'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='98' height='49'/%3E%3Crect fill='url(%23b)' width='98' height='49'/%3E%3Crect fill='url(%23c)' width='98' height='49'/%3E%3Crect fill='url(%23d)' width='98' height='49'/%3E%3Crect fill='url(%23e)' width='98' height='49'/%3E%3Crect fill='url(%23f)' width='98' height='49'/%3E%3C/svg%3E");
    background-size: cover;
    height: 230px;
    z-index: 999; }
    @media only screen and (max-width: 1025px) {
      .socialMediaPage .segments .segment.coverPic {
        background-size: contain; } }
  .socialMediaPage .segments .imgContainer {
    background: #FFFFFF;
    margin-bottom: 18px;
    margin-top: -195px; }
    .socialMediaPage .segments .imgContainer .segment.circular {
      display: inline-block;
      padding: 5px;
      z-index: 1000; }
      .socialMediaPage .segments .imgContainer .segment.circular .image.profilePic {
        height: 220px;
        width: 220px;
        z-index: 1000; }

.socialMediaPage .pageHeaderInfo {
  margin-top: 0;
  text-align: center; }
  .socialMediaPage .pageHeaderInfo p {
    margin-top: 15px; }
  .socialMediaPage .pageHeaderInfo .twitterIcon, .socialMediaPage .pageHeaderInfo .youtubeIcon {
    margin-top: 8px; }

.socialMediaPage .profileContentContainer {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important; }
  .socialMediaPage .profileContentContainer .dimmer {
    background: rgba(255, 255, 255, 0.8) !important; }
  .socialMediaPage .profileContentContainer .signInPlaceholder {
    border: none;
    box-shadow: none !important;
    padding: 0; }
  @media only screen and (max-width: 1025px) {
    .socialMediaPage .profileContentContainer .signInPlaceholder {
      height: 250px; } }
  .socialMediaPage .profileContentContainer .segment.basic {
    padding: 0 !important; }

/* Post page */
.postPage .ui.text.container.mainContainer {
  font-size: 13px;
  margin-top: 70px;
  padding: 25px 0 0 0 !important; }
  .postPage .ui.text.container.mainContainer .fallacyFormWrapper {
    margin: 20px 0; }
  .postPage .ui.text.container.mainContainer .placeholderContainer {
    text-align: center; }
  .postPage .ui.text.container.mainContainer .screenshotMsg {
    margin-top: 10px; }
    .postPage .ui.text.container.mainContainer .screenshotMsg .icon.camera {
      font-size: 15px; }
    .postPage .ui.text.container.mainContainer .screenshotMsg span {
      cursor: pointer;
      font-size: 13px;
      line-height: 15px;
      margin-left: 4px; }
      .postPage .ui.text.container.mainContainer .screenshotMsg span:hover {
        text-decoration: underline; }

.postPage .sticky div {
  z-index: 1000; }

.postPage .sticky .breadcrumbContainer {
  background: #FFFFFF;
  border-bottom: solid 1px #DCDDDE;
  margin-top: 72px;
  padding: 8px 30px;
  width: 100%; }
  .postPage .sticky .breadcrumbContainer .breadcrumb {
    line-height: 20px;
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding: 0; }

@media only screen and (max-width: 1025px) {
  .postPage .sticky .breadcrumbContainer {
    padding: 8px 15px; }
    .postPage .sticky .breadcrumbContainer .breadcrumb {
      margin-left: auto !important;
      margin-right: auto !important; }
    .postPage .sticky .breadcrumbContainer .container {
      margin-left: 0 !important;
      margin-right: 0 !important; } }

/* Search page */
@media only screen and (max-width: 1025px) {
  .searchPage .mainContainer {
    padding-top: 0; }
    .searchPage .mainContainer .ui.grid {
      margin: 0 !important; } }

.searchPage .searchMenu .item.searchItem {
  padding: 17.5px 0 17.5px 18px; }
  .searchPage .searchMenu .item.searchItem input {
    padding: 0; }

.searchPage .searchMenu .item .ui.icon.input input {
  border: none; }

.searchPage .searchMenu .item .icon {
  font-size: 18px;
  line-height: 14px;
  vertical-align: middle; }

.searchPage .searchContentContainer {
  min-height: 300px;
  margin: 0 !important;
  padding: 0 !important; }

.searchPage .searchResults {
  width: 100%; }

/* Settings page */
.settingsPage .settingsMenu {
  margin-bottom: 0; }

.settingsPage .settingsContent {
  width: 100%; }
  .settingsPage .settingsContent .segment.basic {
    margin-top: 0;
    min-height: 400px;
    padding-left: 0;
    padding-right: 0; }
    .settingsPage .settingsContent .segment.basic .contentWrapper {
      text-align: center; }
    .settingsPage .settingsContent .segment.basic .changePasswordBox .button {
      float: right; }
  .settingsPage .settingsContent .firstParagraph {
    text-align: center; }

/* Signin page */
.loginContainer {
  background: #F9FAFB;
  height: 100vh; }
  .loginContainer .signInPageHeader {
    background: #FFFFFF;
    border-bottom: solid 1px #DCDDDE;
    margin: 0 !important;
    padding: 10px;
    width: 100%; }
    .loginContainer .signInPageHeader .svgMainLogo, .loginContainer .signInPageHeader .mainLogo {
      cursor: pointer;
      display: inline;
      fill: #2185D0;
      height: 36px;
      line-height: 4;
      vertical-align: middle;
      width: 36px; }
  .loginContainer .loginForm {
    height: 100%;
    padding-top: 10px; }
    .loginContainer .loginForm .header {
      margin-top: 0; }
    .loginContainer .loginForm .grid .column {
      max-width: 450px; }

/* Tags page */
.tagsPage .tagsWrapper {
  width: 100%; }
  .tagsPage .tagsWrapper .menu.tagMenu {
    margin-top: 8px !important; }
    .tagsPage .tagsWrapper .menu.tagMenu .list .item {
      cursor: pointer; }
      .tagsPage .tagsWrapper .menu.tagMenu .list .item.selected {
        background: #FFFFFF; }
    .tagsPage .tagsWrapper .menu.tagMenu .right.menu .item {
      padding-right: 4px !important; }
  .tagsPage .tagsWrapper .editButtonWrapper .editButton {
    display: inline !important;
    font-size: 16px !important; }
  .tagsPage .tagsWrapper .commentsContent .segment {
    padding-top: 5px; }
  .tagsPage .tagsWrapper .galleryContent .header {
    line-height: 36px; }
  .tagsPage .tagsWrapper .galleryContent .galleryWrapper {
    width: 100%; }
    .tagsPage .tagsWrapper .galleryContent .galleryWrapper img {
      cursor: pointer; }
  .tagsPage .tagsWrapper .tagDescription {
    font-size: 16px; }
  .tagsPage .tagsWrapper .tagsList, .tagsPage .tagsWrapper .usersList {
    margin-top: 12px !important; }

@media only screen and (max-width: 1025px) {
  .tagsPage .tagsWrapper .segment.stacked img {
    width: 300px; }
  .tagsPage .ui.image.userPic {
    width: 50px; } }

/* Targets page */
.targetsPage .ui.text.container {
  font-size: 13px; }
  .targetsPage .ui.text.container .summaryHeader .icon {
    color: #2185D0;
    cursor: pointer;
    float: right;
    font-size: 19.5px;
    line-height: 19.5px; }
  .targetsPage .ui.text.container .targetImg {
    cursor: pointer;
    margin-top: 15px;
    width: 250px; }
    .targetsPage .ui.text.container .targetImg + .header.medium {
      margin-top: 8px; }
  .targetsPage .ui.text.container .answers, .targetsPage .ui.text.container .questionnaire {
    margin-bottom: 16px; }
  .targetsPage .ui.text.container .questionnaire {
    white-space: pre-line; }
  .targetsPage .ui.text.container .answers .answerField {
    font-size: 14px; }
  .targetsPage .ui.text.container .answers .header.sub {
    margin-top: 5px; }
  @media only screen and (max-width: 1025px) {
    .targetsPage .ui.text.container .answers .header {
      font-size: 16px !important; } }

/* Users page */
.usersPage .userHeaderSection {
  text-align: center; }
  .usersPage .userHeaderSection p {
    margin-top: 15px; }

@media only screen and (max-width: 1025px) {
  .usersPage .userContentRow {
    padding-top: 0 !important; } }

.usersPage .segments {
  background: #FFFFFF; }
  .usersPage .segments .segment.coverPic {
    background-attachment: fixed;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='98' height='49' viewBox='0 0 98 49'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.14' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23ffffff' stroke-width='0.14'%3E%3Crect fill='%23fafafa' width='1' height='1'/%3E%3Crect fill='%23ffffff' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23f5f5f5' width='1' height='1' y='1'/%3E%3Crect fill='%23f0f0f0' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ebebeb'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ffffff'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23db2828'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23db2828'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='98' height='49'/%3E%3Crect fill='url(%23b)' width='98' height='49'/%3E%3Crect fill='url(%23c)' width='98' height='49'/%3E%3Crect fill='url(%23d)' width='98' height='49'/%3E%3Crect fill='url(%23e)' width='98' height='49'/%3E%3Crect fill='url(%23f)' width='98' height='49'/%3E%3C/svg%3E");
    background-size: cover;
    height: 230px;
    z-index: 999; }
    @media only screen and (max-width: 1025px) {
      .usersPage .segments .segment.coverPic {
        background-size: contain; } }
  .usersPage .segments .imgContainer {
    background: #FFFFFF;
    margin-top: -195px; }
    .usersPage .segments .imgContainer .segment.circular {
      display: inline-block;
      padding: 5px;
      z-index: 1000; }
      .usersPage .segments .imgContainer .segment.circular .profilePic {
        height: 220px;
        width: auto !important; }
        .usersPage .segments .imgContainer .segment.circular .profilePic img {
          height: 220px;
          text-align: center;
          width: 220px; }
        .usersPage .segments .imgContainer .segment.circular .profilePic.default {
          background: #FFFFFF;
          height: 220px !important;
          overflow: hidden;
          padding: 7px;
          width: 220px !important; }

.usersPage .profileContentContainer {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important; }
  .usersPage .profileContentContainer .profileContentSegment {
    height: 100%;
    padding: 0; }

.usersPage .profilePicContainer {
  text-align: center; }

@media only screen and (max-width: 1025px) {
  .usersPage .titleHeader .ui.header {
    font-size: 24px !important; }
    .usersPage .titleHeader .ui.header .sub.header {
      font-size: 16px !important; } }
