/*---  Basic Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
.tagsCard .header .editTagsIcon {
  color: #2196F3;
  cursor: pointer;
  display: none !important;
  float: right;
  font-size: 18px;
  margin-right: 0 !important; }
  .tagsCard .header .editTagsIcon.editing {
    color: #FF1744; }

.tagsCard .header:hover .editTagsIcon {
  display: inline !important; }

@media only screen and (max-width: 1025px) {
  .tagsCard .header {
    font-size: 20px !important; } }

.tagsCard .tagsList .item .label {
  background: #2979FF;
  color: #FFFFFF;
  cursor: pointer; }
  .tagsCard .tagsList .item .label:hover {
    background: #1069ff; }

.tagsCard .tagsList .item .icon {
  color: #FF1744 !important;
  display: none; }

.tagsCard .tagsList .item:hover .icon {
  cursor: pointer;
  display: inline; }

.ui.small.modal.tagsModal {
  margin-top: 100px !important; }
  .ui.small.modal.tagsModal .header {
    padding: 10px 13px 0 13px; }
  .ui.small.modal.tagsModal .content {
    padding: 0.8em; }
  .ui.small.modal.tagsModal .tagModalBtn {
    float: right;
    margin: 15px 0 0; }
