@import '../../../css/colors.scss';

.fallacyRef {
    .segment {
        p:not(.header) {
            margin-bottom: 12px !important;
        }

        .header {
            margin-bottom: 5px;
        }

        @media only screen and (max-width: 1025px) {
            .header {
                font-size: 18px !important;
            }
        }
    }
}
