/*---  Basic Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
.fallacyRef .segment p:not(.header) {
  margin-bottom: 12px !important; }

.fallacyRef .segment .header {
  margin-bottom: 5px; }

@media only screen and (max-width: 1025px) {
  .fallacyRef .segment .header {
    font-size: 18px; } }
