@import '../../../css/colors.scss';

.tweet {
    width: 100%;

    &.clickable {
        cursor: pointer;
    }

    &:first-of-type {
        margin-top: 0;
    }

    .archivePopup {
        border-radius: 0;
        box-shadow: none;
        padding: 0.8em;
    }

    .archiveMsg {
        margin-bottom: 0 !important;
    }

    .retweetedText {
        color: $lightBlack;
        font-size: 13px;
        padding: 6px 10px;
    }

    .card {
        .content {
            white-space: pre-line;

            .description {
                font-size: 16px !important;

                span {
                    color: $black;

                    b {
                        background: $higlighterYellow;
                    }
                }

                &.downloading {
                    span {
                        b {
                            display: inline-block;
                        }
                    }
                }
            }

            &.extra {
                cursor: default;
                padding: 1px 3px !important;

                .list {
                    .item {
                        display: inline-block;

                        &.favoriteItem {
                            margin-left: 0;
                        }

                        .label {
                            border: none;
                        }

                        .icon {
                            cursor: default;
                            display: inline-block;
                            margin-right: 5px;
                        }

                        .icon.like {
                            color: $lightPink;

                            &:hover {
                                opacity: 0.75;
                            }
                        }

                        .icon.retweet {
                            color: $lightBlue;
                        }

                        .icon.twitter {
                            color: $twitter;
                            cursor: pointer;
                            margin-right: 0;
                        }

                        .icon.sticky.note {
                            cursor: pointer;
                        }

                        &.archiveListItem {
                            .content {
                                padding-right: 0 !important;
                            }
                        }

                        .content {
                            padding: 7px;
                        }
                    }
                }
            }
        }
    }

    .quotedTweet {
        margin-bottom: 5px !important;

        .quotedTweetContent {
            .quotedScreenName {
                font-weight: normal;
                margin-left: 4px;
            }

            .quotedTextTweet {
                font-size: 14px;
            }

            .quotedHeader {
                font-size: 14px !important;
            }
        }
    }

    .mediaPic {
        margin-top: 8px;
    }

    .tweetUserImg {
        margin-right: 9px !important;
        width: 48px;
    }

    .tweetUserName {
        font-size: 18px !important;
        height: auto !important;
    }

    .tweetUserScreenName {
        font-size: 14px !important;
        margin-top: 0px;
    }

    .tweetTime {
        margin-left: 4px;
    }

    .mediaImg {
        margin-top: 10px;
    }

    .mediaVideo {
        margin-top: 10px;
    }

    @media only screen and (max-width: 1025px) {
        .tweetUserName {
            font-size: 16px !important;
        }

        .tweetUserScreenName {
            font-size: 13px !important;
        }

        .tweetUserImg {
            width: 36px;
        }

        .card {
            .content {
                .description {
                    font-size: 14px !important;
                }

                .list {
                    .item {
                        .icon {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}