/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.tweet {
  line-height: 1.4;
  width: 100%; }
  .tweet.clickable {
    cursor: pointer; }
  .tweet:first-of-type {
    margin-top: 0; }
  .tweet .archivePopup {
    border-radius: 0;
    box-shadow: none;
    padding: 0.8em; }
  .tweet .archiveMsg {
    margin-bottom: 0 !important; }
  .tweet .retweetedText {
    color: #545454;
    font-size: 13px;
    padding: 6px 10px; }
  .tweet .card .content {
    white-space: pre-line; }
    .tweet .card .content .description {
      font-size: 16px !important;
      line-height: 1.6; }
      .tweet .card .content .description span {
        color: #1B1C1D; }
        .tweet .card .content .description span b {
          border-bottom: solid 2px #DB2828; }
    .tweet .card .content.extra {
      cursor: default;
      padding: 1px 3px !important; }
      .tweet .card .content.extra .list .item {
        display: inline-block; }
        .tweet .card .content.extra .list .item.favoriteItem {
          margin-left: 0; }
        .tweet .card .content.extra .list .item .label {
          border: none; }
        .tweet .card .content.extra .list .item .icon {
          cursor: default;
          display: inline-block;
          margin-right: 5px; }
        .tweet .card .content.extra .list .item .icon.like {
          color: #FF8EDF; }
          .tweet .card .content.extra .list .item .icon.like:hover {
            opacity: 0.75; }
        .tweet .card .content.extra .list .item .icon.retweet {
          color: #54C8FF; }
        .tweet .card .content.extra .list .item .icon.twitter {
          color: #0084b4;
          cursor: pointer;
          margin-right: 0; }
        .tweet .card .content.extra .list .item .icon.sticky.note {
          cursor: pointer; }
        .tweet .card .content.extra .list .item.archiveListItem .content {
          padding-right: 0 !important; }
        .tweet .card .content.extra .list .item .content {
          padding: 7px; }
  .tweet .quotedTweet {
    margin-bottom: 5px !important; }
    .tweet .quotedTweet .quotedTweetContent .quotedScreenName {
      font-weight: normal;
      margin-left: 4px; }
    .tweet .quotedTweet .quotedTweetContent .quotedTextTweet {
      font-size: 14px; }
    .tweet .quotedTweet .quotedTweetContent .quotedHeader {
      font-size: 14px !important; }
  .tweet .mediaPic {
    margin-top: 8px; }
  .tweet .tweetUserImg {
    margin-right: 9px !important;
    width: 48px; }
  .tweet .tweetUserName {
    font-size: 18px !important;
    height: auto !important; }
    .tweet .tweetUserName a {
      color: rgba(0, 0, 0, 0.85) !important; }
      .tweet .tweetUserName a:hover {
        text-decoration: underline !important; }
  .tweet .tweetUserScreenName {
    font-size: 14px !important;
    line-height: 14px;
    margin-top: 0px; }
  .tweet .tweetTime {
    margin-left: 4px; }
  .tweet .mediaImg {
    margin-top: 10px; }
  .tweet .mediaVideo {
    margin-top: 10px; }
  @media only screen and (max-width: 1025px) {
    .tweet .tweetUserName {
      font-size: 16px !important; }
    .tweet .tweetUserScreenName {
      font-size: 13px !important; }
    .tweet .tweetUserImg {
      width: 36px; }
    .tweet .card .content .description {
      font-size: 14px !important; }
    .tweet .card .content .list .item .icon {
      font-size: 16px; }
    .tweet .card .mediaImg {
      width: 250px; } }
