@import '../../../css/colors.scss';

.aboutPage {
    .logoContainer {
        background: $white;
        padding: 16px 0;

        .header.aboutHeader {
            line-height: 1;

            .sub.header {
                margin-top: 6px;
            }

            .blatherLogo {
                margin-bottom: 8px;
                
                .blatherLogoSvg {
                    fill: $vanadyl-blue;
                    height: 84px;
                    line-height: 96px;
                    vertical-align: middle;
                    width: 84px;
                }
            }

            span {
                line-height: 96px;
            }
        }
    }

    .contactForm {
        button {
            float: right;
        }
    }
}