.aboutPage .logoContainer {
  background: #ffffff;
  padding: 16px 0; }
  .aboutPage .logoContainer .header.aboutHeader {
    line-height: 1; }
    .aboutPage .logoContainer .header.aboutHeader .sub.header {
      margin-top: 6px; }
    .aboutPage .logoContainer .header.aboutHeader .blatherLogo {
      margin-bottom: 8px; }
      .aboutPage .logoContainer .header.aboutHeader .blatherLogo .blatherLogoSvg {
        fill: #0097e6;
        height: 84px;
        line-height: 96px;
        vertical-align: middle;
        width: 84px; }
    .aboutPage .logoContainer .header.aboutHeader span {
      line-height: 96px; }

.aboutPage .contactForm button {
  float: right; }
