@import '../../../css/colors.scss';

.aboutPage {
    .logoContainer {
        background: $linx-white;
        padding: 12px 0;

        .header.aboutHeader {
            line-height: 1;

            .sub.header {
                margin-top: 6px;
            }

            .blatherLogo {
                margin-bottom: 8px;
                
                .blatherLogoSvg {
                    fill: $vanadyl-blue;
                    height: 84px;
                    line-height: 96px;
                    vertical-align: middle;
                    width: 84px;
                }
            }

            span {
                line-height: 96px;
            }
        }
    }

    .contactForm {
        button {
            background: $vanadyl-blue !important;
            float: right;
            margin-right: 0;

            &:hover {
                background: darken($vanadyl-blue, 5%) !important;
            }
        }

        .message {
            box-shadow: 0 0 0 1px $positive-green-border inset, 0 0 0 0 transparent !important;
        }
    }
}