@import '../../../css/colors.scss';

.createDiscussionPage {
    .contentContainer {
        background: $white;
        border: none !important;
        padding: 0 !important;

        .segment {
            background: $white !important;
            border: none !important;
            margin: 0;
            padding: 0;

            .ui.form {
                .field label {
                    font-size: 15px;
                }

                .provenWrongTextArea {
                    margin-top: 1em;
                }

                .submitDiscussionButton {
                    background: $vanadyl-blue;
                    margin-top: 1em;

                    &:hover {
                        background: darken($vanadyl-blue, 5%) !important;
                    }
                }

                .previewDiscussionButton {
                    background: $skirret-green;
                    color: $white;
                    margin-top: 1em;

                    &:hover {
                        background: darken($skirret-green, 5%) !important;
                    }
                }

                .titleInput input, textarea {
                    padding: 8px;
                }
            }
        }

        .previewSegment {
            .descriptionTitle, .extraTitle {
                background: $white;
                margin-bottom: 5px;
            }

            .descriptionPreview, .extraPreview {
                min-height: 80px;
                padding: 0;
            }
        }

        .exitPreviewButton {
            background: $harley-davidson-orange;
            margin-top: 1em;

            &:hover {
                background: darken($harley-davidson-orange, 5%) !important;
            }
        }
    }

    .rightSide {
        .discussionTagsHeader {
            font-size: 24px !important;
        }
    }
}