@import '../../../css/colors.scss';

.createDiscussionPage {
    .contentContainer {
        padding: 0 !important;

        .segment {
            margin: 0;
            padding: 0;

            .ui.form {
                .field label {
                    font-size: 15px;
                }

                .provenWrongTextArea {
                    margin-top: 1em;
                }

                .titleInput input, textarea {
                    padding: 8px;
                }
            }
        }

        .previewSegment {
            .descriptionTitle, .extraTitle {
                margin-bottom: 5px;
            }

            .descriptionPreview, .extraPreview {
                min-height: 80px;
                padding: 0;
            }
        }
    }

    .rightSide {
        .discussionTagsHeader {
            font-size: 24px !important;
        }
    }
}