.createDiscussionPage .contentContainer {
  padding: 0 !important; }
  .createDiscussionPage .contentContainer .segment {
    margin: 0;
    padding: 0; }
    .createDiscussionPage .contentContainer .segment .ui.form .field label {
      font-size: 15px; }
    .createDiscussionPage .contentContainer .segment .ui.form .provenWrongTextArea {
      margin-top: 1em; }
    .createDiscussionPage .contentContainer .segment .ui.form .titleInput input, .createDiscussionPage .contentContainer .segment .ui.form textarea {
      padding: 8px; }
  .createDiscussionPage .contentContainer .previewSegment .descriptionTitle, .createDiscussionPage .contentContainer .previewSegment .extraTitle {
    margin-bottom: 5px; }
  .createDiscussionPage .contentContainer .previewSegment .descriptionPreview, .createDiscussionPage .contentContainer .previewSegment .extraPreview {
    min-height: 80px;
    padding: 0; }

.createDiscussionPage .rightSide .discussionTagsHeader {
  font-size: 24px !important; }
