@import '../../../css/colors.scss';

.discussionPage {
    .header {
        .editButton {
            cursor: pointer;
            display: none !important;
            float: right;
            font-size: 18px;
            margin-right: 0 !important;
        }

        &:hover {
            .editButton {
                display: inline !important;
            }
        }
    }

    .evidenceSection {
        .evidenceSegment, 
        .extraSegment {
            font-size: 16px !important;
        }
    }

    .ui.grid {
        margin-top: 0 !important;
    }
}