@import '../../../css/colors.scss';

.discussionPage {
    .evidenceSection {
        .evidenceSegment, .extraSegment {
            font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
            font-size: 16px !important;
        }
    }

    .ui.grid {
        margin-top: 0 !important;
    }

    .steps {
        .headerLogo {
            height: 35px;
            margin-right: 12px;
            width: 35px;

            .svgHeaderLogo {
                fill: $vanadyl-blue;
                height: 35px;
                width: 35px;
            }
        }
    }
}