.fallacyPage .menuContainer .statistic .label, .fallacyPage .menuContainer .statistic .value {
  color: #353b48; }

.fallacyPage .ui.grid {
  margin-top: 0 !important; }

.fallacyPage .commentsContent {
  margin-top: 12px; }

.fallacyPage .fallacyMainMenu {
  margin-top: 10px; }
  .fallacyPage .fallacyMainMenu .ui.tabular.menu .active.item {
    border-radius: 0 !important; }
  .fallacyPage .fallacyMainMenu .ui.secondary.pointing.menu {
    border-bottom: solid 2px #dcdde1; }
  .fallacyPage .fallacyMainMenu .ui.secondary.pointing.menu .active.item {
    border-color: #2f3640;
    color: #353b48; }
