.socialMediaPage .menu.socialMediaPageMenu {
  margin-top: 40px !important; }

.socialMediaPage .profileContentContainer {
  min-height: 450px;
  padding: 0 !important; }
  .socialMediaPage .profileContentContainer .dimmer {
    background: rgba(255, 255, 255, 0.8) !important; }
