.socialMediaPage .menu.socialMediaPageMenu {
  margin-top: 40px !important; }
  .socialMediaPage .menu.socialMediaPageMenu .item {
    height: 50px; }
    .socialMediaPage .menu.socialMediaPageMenu .item .label {
      background: #f5f6fa;
      color: #2f3640; }

.socialMediaPage .profilePic img {
  border: none !important; }

.socialMediaPage .profileContentContainer {
  border: none !important;
  min-height: 450px;
  padding: 0 !important; }

.socialMediaPage .ui.active.transition.visible.dimmer {
  background: rgba(255, 255, 255, 0.8) !important; }
