@import '../../../css/colors.scss';

.socialMediaPage {
    .menu.socialMediaPageMenu {
        margin-top: 40px !important;
    }

    .profileContentContainer {
        min-height: 450px;
        padding: 0 !important;

        .dimmer {
            background: $dimmer-background !important;
        }
    }
}