@import '../../../css/colors.scss';

.postPage {
    .mainContainer {
        padding: 0 !important;
    }

    .sticky {
        div {
            z-index: 1000;
        }

        .breadcrumbContainer {
            background: $linx-white;
            border-bottom: solid 1px $container-border-color;
            margin-top: 60px;
            padding: 8px 30px;
            width: 100%;

            .breadcrumb {
                line-height: 20px;
                margin-left: auto !important;
                margin-right: auto !important;
                padding: 0 30px;
            }
        }
    }
}