@import '../../../css/colors.scss';

.searchPage {
    .searchMenu {
        .item {
            &.searchItem {
                padding: 17.5px 16px 17.5px 28px;
                
                input {
                    padding: 0;
                }
            }

            .ui.icon.input {
                input {
                    border: none;
                }
            }

            .icon {
                font-size: 18px;
                line-height: 14px;
                vertical-align: middle;
            }
        }
    }

    .searchContentContainer {
        min-height: 300px;
        padding: 0 !important;
    }
}