.searchPage .searchMenu .item.searchItem {
  padding: 17.5px 16px 17.5px 28px; }
  .searchPage .searchMenu .item.searchItem input {
    padding: 0; }

.searchPage .searchMenu .item .ui.icon.input input {
  border: none; }

.searchPage .searchMenu .item .icon {
  font-size: 18px;
  line-height: 14px;
  vertical-align: middle; }

.searchPage .searchContentContainer {
  min-height: 300px;
  padding: 0 !important; }
