.settingsPage .settingsMenu {
  border: solid 1px rgba(220, 221, 225, 0.6) !important;
  box-shadow: none !important; }
  .settingsPage .settingsMenu .item:first-child {
    border-radius: 0 !important; }

.settingsPage .ui.vertical.menu .active.item {
  background: #00a8ff !important;
  color: #ffffff; }
  .settingsPage .ui.vertical.menu .active.item:hover {
    color: #ffffff; }

.settingsPage .ui.vertical.menu > .active.item {
  border-radius: 0px !important; }

.settingsPage .settingsContent .segment {
  background: #ffffff !important;
  border: solid 1px rgba(220, 221, 225, 0.6) !important;
  min-height: 400px; }

.settingsPage .settingsContent .firstParagraph {
  text-align: center; }

.settingsPage .settingsContent .changePasswordBox .passwordSubmit {
  background: #487eb0; }
