@import '../../../css/colors.scss';

.loginContainer {
    height: 100vh;
    padding-top: 60px;

    .loginForm {
        height: 100%;

        .header {
            margin-top: 0;
        }
    } 
}