.tagsPage .segment.basic {
  padding: 0; }

.tagsPage .segment img {
  margin-bottom: 1.2em; }

.tagsPage .list .item {
  cursor: pointer; }
  .tagsPage .list .item.selected {
    background: #f5f6fa; }

.tagsPage .menu.tagMenu {
  margin-top: 40px !important; }
