@import '../../../css/colors.scss';

.tagsPage {
    .segment {
        &.basic {
            padding: 0;
        }

        img {
            margin-bottom: 1.2em;
        }
    }

    .list {
        .item {
            cursor: pointer;

            &.selected {
                background: $linx-white;
            }
        }
    }

    .menu.tagMenu {
        margin-top: 40px !important;
    }
}