@import '../../../css/colors.scss';

.tagsPage {
    .segment {
        img {
            margin-bottom: 1.2em;
        }
    }

    .menu.tagMenu {
        margin-top: 40px !important;

        .item {
            height: 50px;

            .label {
                background: $linx-white;
                color: $electromagnetic;
            }

            .editButton {
                color: $vanadyl-blue;
                cursor: pointer;
                float: right;
                font-size: 18px;
                margin-right: 0 !important;

                &.editing {
                    color: $harley-davidson-orange;
                }
            }
        }
    }

    .segment.basic {
        padding: 0;
    }

    .changePicBtn {
        background: $vanadyl-blue !important;

        &:hover {
            background: $protoss-pylos !important;
        }

        .icon {
            color: $white !important;
        }
    }

    .updateBtn {
        background: $vanadyl-blue !important;

        &:hover {
            background: darken($vanadyl-blue, 5%) !important;
        }
    }
}