@import '../../../css/colors.scss';

.discussionsList {
    .discussionsWrapper {
        margin-top: 14px;
    }

    .discussionsFilter {
        .fields {
            &:last-of-type {
                margin-bottom: 0 !important;
            }
        }

        .createDiscussionBtn {
            float: right;
            height: 100%;
            margin-right: 0 !important;
            width: 100%;

            a {
                .icon {
                    margin-right: 0 !important;
                }
            }
        }

        .advancedOptions {
            margin-top: 12px;
        }
    }

    .advancedOptions {
        button {
            height: 100%;
        }
    }

    .emptyDiscussionContainer {
        height: 200px;
        padding: 5px;
        text-align: center;

        .header {
            font-size: 20px;
        }

        .message {
            background: $white;
        }
    }
}
