.discussionsList .discussionsFilter .fields:last-of-type {
  margin-bottom: 0 !important; }

.discussionsList .discussionsFilter .createDiscussionBtn {
  float: right;
  height: 100%;
  margin-right: 0 !important;
  width: 100%; }
  .discussionsList .discussionsFilter .createDiscussionBtn a .icon {
    margin-right: 0 !important; }

.discussionsList .discussionsFilter .advancedOptions {
  margin-top: 12px; }

.discussionsList .emptyDiscussionContainer {
  height: 200px;
  padding: 5px;
  text-align: center; }
  .discussionsList .emptyDiscussionContainer .header {
    font-size: 20px; }
  .discussionsList .emptyDiscussionContainer .message {
    background: #ffffff; }
