@import "../../../../css/colors.scss";

.tweet {
	line-height: 1.4;
  	width: 100%;

  	&.clickable {
		cursor: pointer;
  	}

  	&:first-of-type {
		margin-top: 0;
  	}

  	.archivePopup {
		border-radius: 0;
		box-shadow: none;
		padding: 0.8em;
  	}

  	.archiveMsg {
		background: lighten($invertedBackgroundColor, 2%) !important;
		border: solid 1px $twitterExtraExtraLightGrey1 !important;
		color: $white;
		margin-bottom: 0 !important;
  	}

  	.retweetedText {
		background: darken($invertedBackgroundColor, 2%) !important;
		color: $lightGrey;
		font-size: 13px;
		padding: 6px 10px;

		.icon {
	  		margin-right: 5px;
		}
  	}

  	.card {
		.content {
	  		white-space: pre-line;

	  		.description {
				color: $white !important;
				font-size: 16px !important;
				line-height: 1.4;

				span {
		  			color: $twitterExtraLightGrey !important;

		  			b {
						border-bottom: solid 2px $red;
		  			}
				}
	  		}

	  		&.extra {
				border-top: solid 1px $twitterExtraExtraLightGrey1 !important;
				cursor: default;
				padding: 1px 3px !important;

				.list {
		  			.item {
						display: inline-block;

						&.favoriteItem {
			  				margin-left: 0;
						}

						.label {
			  				background: transparent;
			  				border: none;
			  				color: $white;
						}

						.icon {
			  				cursor: default;
			  				display: inline-block;
			  				margin-right: 5px;
						}

						.icon.twitter {
			  				color: $twitter;
			  				cursor: pointer;
			  				margin-right: 0;
						}

						.icon.sticky.note {
			  				cursor: pointer;
						}

						&.archiveListItem {
			  				.content {
								padding-right: 0 !important;
			  				}
						}

						.content {
			  				padding: 7px;
						}
		  			}
				}
	  		}
		}
  	}

  	.quotedTweet {
		margin-bottom: 5px !important;

		&.clickable {
	  		cursor: pointer;
		}

		.quotedTweetContent {
	  		.quotedScreenName {
				font-weight: normal;
				margin-left: 4px;
	  		}

	  		.quotedTextTweet {
				font-size: 14px;
	  		}

	  		.quotedHeader {
				font-size: 14px !important;
	  		}
		}
  	}

  	.mediaPic {
		display: inline-block;
		margin-top: 8px;
  	}

  	.tweetUserImg {
		margin-right: 9px !important;
		width: 48px;
  	}

  	.tweetUserName {
		display: inline;
		font-size: 18px !important;
		height: auto !important;

		&.link {
	  		cursor: pointer;
		}
  	}

  	.tweetUserScreenName {
		font-size: 14px !important;
		line-height: 14px;
		margin-top: 0px;
 	}

  	.tweetTime {
		margin-left: 4px;
  	}

  	.mediaImg {
		margin-top: 10px;
  	}

  	.mediaVideo {
		margin-top: 10px;
  	}

  	@media only screen and (max-width: 1025px) {
		.tweetUserName {
	  		font-size: 16px !important;
		}

		.tweetUserScreenName {
	  		font-size: 13px !important;
		}

		.tweetUserImg {
	  		width: 36px;
		}

		.card {
	  		.content {
				.description {
		  			font-size: 14px !important;
				}

				.list {
		  			.item {
						.icon {
			  				font-size: 16px;
						}
		  			}
				}
	  		}

	  		.mediaImg {
				width: 250px;
	  		}
		}
  	}
}
