@import './colors.scss';

body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    width: 90%;
    margin: auto;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.mainContainer {
    margin-top: 5.5em;
    padding-left: 30px;
    padding-right: 30px;

    &.bc {
        margin-top: 1.6em;
    }

    &.forText {
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        font-size: 16px !important;
        margin-top: 4.6em;
    }
}

.menuContainer {
    margin-top: 12px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}