@import './colors.scss';

body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    width: 90%;
    margin: auto;
}

.mainContainer {
    min-height: 100vh;
    margin-top: 5.8em;
    padding-left: 15px;
    padding-right: 15px;

    &.bc {
        margin-top: 1.6em;
    }

    &.forText {
        margin-top: 4.6em;
    }
}