$protoss-pylos: rgba(0, 168, 255,1.0);
$vanadyl-blue: rgba(0, 151, 230,1.0);

$periwinkle: rgba(156, 136, 255,1.0);
$matt-purple: rgba(140, 122, 230,1.0);

$rise-n-shine: rgba(251, 197, 49,1.0);
$nanohanacha-gold: rgba(225, 177, 44,1.0);

$download-progress: rgba(76, 209, 55,1.0);
$skirret-green: rgba(68, 189, 50,1.0);
$skirret-green-light: rgba(68, 189, 50,0.3);

$seabrook: rgba(72, 126, 176,1.0);
$naval: rgba(64, 115, 158,1.0);

$nasturcian-flower: rgba(232, 65, 24,1.0);
$harley-davidson-orange: rgba(232, 65, 24,1.0);
$harley-davidson-orange-light: rgba(232, 65, 24,0.3);

$linx-white: rgba(245, 246, 250,1.0);
$hint-of-pensive: rgba(220, 221, 225,1.0);

$blueberry-soda: rgba(127, 143, 166,1.0);
$chain-gang-grey: rgba(113, 128, 147,1.0);

$mazarine-blue: rgba(39, 60, 117,1.0);
$pico-void: rgba(25, 42, 86,1.0);

$blue-nights: rgba(53, 59, 72,1.0);
$electromagnetic: rgba(47, 54, 64,1.0);

$facebook: #3b5998;
$twitter: #0084b4;
$youtube: #ff0000;
$white: #ffffff;
$blue: #2196f3;
$black: #1b1c1d;
$red: #f44336;
$green: #4Caf50;

$menu-border-bottom-color: rgba(34,36,38,.15);

$container-content-background: rgba(245, 246, 250,0.3);
$container-border-color: rgba(220, 221, 225,.6);
$container-darker-border-color: rgba(220, 221, 225,.8);

$dimmer-background: rgba(255, 255, 255,0.8);
$dimmer-border: rgba(245, 246, 250,0.5);

$button-border: rgba(34,36,38,.15);
$subheader-grey: rgba(0,0,0,.6);
$tweet-border-color: rgba(0,0,0,.10);
$info-msg-border: rgba(169,213,222,0.4);
$error-msg-border: rgba(224,180,180,0.4);
$regular-msg-border: rgba(34,36,38,0.1);
$positive-green-border: rgba(163,194,147,0.4);
$warning-yellow-border: rgba(201,186,155,0.4);
$card-box-shadow: rgba(212, 212, 213, 0.4);
$dropdown-border-color: rgba(34, 36, 38, 0.15);