.resultItem {
  background: #fff;
  cursor: pointer; }
  .resultItem .meta {
    margin-top: 3px !important; }
    .resultItem .meta .label {
      background: #2979ff !important;
      color: #fff; }
  .resultItem .content .description {
    white-space: pre-line; }
  .resultItem .extra .extraList {
    margin-bottom: 0;
    margin-top: 0; }
    .resultItem .extra .extraList .item {
      margin-bottom: 0 !important; }
      .resultItem .extra .extraList .item:nth-of-type(2) {
        margin-left: 8px !important; }
  .resultItem .extra .label {
    background: #2979ff !important;
    color: #fff;
    font-weight: normal; }
  .resultItem .image .label.check {
    border-color: #4caf50; }
  .resultItem .image .label.close {
    border-color: #ff1744; }
  .resultItem .image .label .icon {
    color: #fff;
    opacity: 0.8; }
