/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.resultItem {
  background: #FFFFFF;
  cursor: pointer;
  width: 100%; }
  .resultItem .placeholderSegment {
    width: 100% !important; }
  .resultItem .meta {
    margin-top: 3px !important; }
    .resultItem .meta .label {
      background: #54C8FF !important;
      color: #FFFFFF; }
    .resultItem .meta p {
      font-size: 13px;
      line-height: 13px; }
      .resultItem .meta p .icon {
        font-size: 13px !important; }
        .resultItem .meta p .icon.arrow {
          color: #21BA45;
          margin-right: .3em !important; }
        .resultItem .meta p .icon.clock {
          color: #767676; }
  .resultItem .content .header {
    width: 100%; }
    .resultItem .content .header .archiveItemMenu {
      float: right; }
      .resultItem .content .header .archiveItemMenu .icon.ellipsis.vertical {
        color: #DCDDDE; }
      .resultItem .content .header .archiveItemMenu .icon.twitter {
        color: #0084b4; }
      .resultItem .content .header .archiveItemMenu .icon.youtube {
        color: #ff0000; }
      .resultItem .content .header .archiveItemMenu .icon.sticky.note {
        color: #FBBD08; }
  .resultItem .content .description {
    white-space: pre-line;
    word-break: break-word; }
    .resultItem .content .description span {
      color: #1B1C1D; }
      .resultItem .content .description span b {
        background: #ffff00; }
  @media only screen and (max-width: 1025px) {
    .resultItem .content {
      padding: 0 !important; } }
  .resultItem .extra .extraList {
    margin-bottom: 0;
    margin-top: 0; }
    .resultItem .extra .extraList .item {
      margin-bottom: 0 !important; }
      .resultItem .extra .extraList .item:nth-of-type(2) {
        margin-left: 8px !important; }
  .resultItem .image .label.check {
    border-color: #21BA45; }
  .resultItem .image .label.close {
    border-color: #FF695E; }
  .resultItem .image .label .icon {
    color: #FFFFFF;
    opacity: 0.8; }
  @media only screen and (max-width: 1025px) {
    .resultItem .image {
      display: none !important; } }
