@import '../../../css/colors.scss';

.ui.bottom.attached.segment.footerSegment {
    background: $darkWhite !important;
    border-bottom: none;
    border-top: solid 1px $lightGrey;
    box-shadow: none !important;
    margin-top: 5.5em !important;
    padding: 1em 0em !important;
    text-align: center;

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .ui.inverted.list .item a:not(.ui) {
        color: $grey !important;

        &:hover {
            color: $grey;
        }
    }

    p {
        color: $grey !important;
        font-size: 12px;
        margin-bottom: 7px;
    }
}
