/*---  Basic Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
.ui.bottom.attached.segment.footerSegment {
  background: #1B1C1D !important;
  border: none !important;
  box-shadow: none !important;
  margin-top: 5.5em !important;
  padding: 1em 0em !important;
  text-align: center; }
  .ui.bottom.attached.segment.footerSegment .container {
    padding-left: 30px;
    padding-right: 30px; }
  .ui.bottom.attached.segment.footerSegment .ui.inverted.list .item a:not(.ui) {
    color: #FFFFFF !important; }
    .ui.bottom.attached.segment.footerSegment .ui.inverted.list .item a:not(.ui):hover {
      color: #f2f2f2 !important; }
  .ui.bottom.attached.segment.footerSegment p {
    color: #FFFFFF !important;
    font-size: 12px; }
