/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Twitter ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.fallacyExample {
  overflow: hidden;
  padding: 1px !important; }
  .fallacyExample .fallacyHeader {
    margin-top: 10px !important; }
    .fallacyExample .fallacyHeader .editButton {
      color: #2185d0;
      cursor: pointer;
      display: inline-block !important;
      float: right;
      font-size: 20px;
      margin-right: 10px !important; }
      .fallacyExample .fallacyHeader .editButton.editing {
        color: #ff695e; }
  .fallacyExample .fallacyMaterial.downloading {
    background: #1a2835 !important;
    border: solid 1px #1b1c1d !important;
    padding: 8px; }
    .fallacyExample .fallacyMaterial.downloading .tweet .card {
      border: solid 1px rgba(245, 248, 250, 0.1); }
      .fallacyExample .fallacyMaterial.downloading .tweet .card .content .description span b {
        border-bottom: rgba(245, 248, 250, 0.1);
        white-space: pre !important; }
  .fallacyExample .fallacyMaterial #fallacyDateDiff {
    display: flex;
    justify-content: center; }
  .fallacyExample .fallacyMaterial .sourceList .item {
    margin-bottom: 8px; }
  .fallacyExample .fallacyExplanationSegment {
    background: #1c2a39 !important;
    border: none !important; }
  .fallacyExample .aboutAttachedHeader {
    background: #1c2a39 !important;
    border-top: solid 1px rgba(245, 248, 250, 0.1) !important;
    margin-bottom: 25px !important; }
    .fallacyExample .aboutAttachedHeader a {
      cursor: pointer !important;
      padding-bottom: 0 !important; }
    .fallacyExample .aboutAttachedHeader .image {
      cursor: pointer !important; }
  .fallacyExample .fallacyExplanation {
    padding: 0;
    width: 100%; }
    .fallacyExample .fallacyExplanation.downloading {
      padding: 5px; }
  .fallacyExample span.clearfix {
    display: block; }
  .fallacyExample .commonMarkLink {
    margin: 0.5em 0.3em 0 !important; }
    .fallacyExample .commonMarkLink a {
      color: #ffffff !important;
      float: right;
      font-size: 12px; }
      .fallacyExample .commonMarkLink a:hover {
        text-decoration: underline; }
  .fallacyExample .explanation {
    white-space: pre-line; }
    .fallacyExample .explanation p {
      color: #ffffff !important;
      font-size: 16px;
      margin: 0; }
  .fallacyExample .editTimesForm {
    margin-top: 12px !important; }
    .fallacyExample .editTimesForm .fields {
      margin-bottom: 0; }
      .fallacyExample .editTimesForm .fields .icon {
        color: #ffffff !important; }
    .fallacyExample .editTimesForm .button {
      margin-top: 12px; }

@media only screen and (max-width: 1025px) {
  .fallacyExample .fallacyExplanation .header {
    font-size: 18px; } }
