@import "../../../../css/colors.scss";

.fallacyExample {
	overflow: hidden;
	padding: 1px !important;

  	.fallacyHeader {
		margin-top: 10px !important;

		.editButton {
	  		color: $blue;
	  		cursor: pointer;
	  		display: none !important;
	  		float: right;
	  		font-size: 18px;
	  		margin-left: 2px;

	  		&.editing {
				color: $lightRed;
	  		}
		}

		&:hover {
	  		.editButton {
				display: inline !important;
	  		}
		}
  	}

	.fallacyMaterial {
		&.downloading {
			background: lighten($invertedBackgroundColor, 3%) !important;

			.tweet {
				.card {
					border: solid 1px $twitterExtraExtraLightGrey1;
		
					.content .description span b {
						border-bottom: solid 2px $red;
						white-space: pre !important;
					}
				}
			}
		}

		#fallacyDateDiff {
			display: flex;
			justify-content: center;
		}
	}

  	.fallacyMaterial {
		.sourceList {
	  		.item {
				margin-bottom: 8px;
	  		}
		}
  	}

	.fallacyExplanationSegment {
		background: lighten($invertedBackgroundColor, 4%) !important;
		border: none !important;
	}

	.aboutAttachedHeader {
		background: lighten($invertedBackgroundColor, 4%) !important;
		border-top: solid 1px $twitterExtraExtraLightGrey1 !important;
		margin-bottom: 25px !important;
	
		a {
			cursor: pointer !important;
			padding-bottom: 0 !important;
		}
	
		.image {
			cursor: pointer !important;
		}
	}

	.fallacyExplanation {
		padding: 0;
		width: 100%;

		&.downloading {
			padding: 5px;
		}
	}

	span.clearfix {
		display: block;
	}

  	.commonMarkLink {
		margin: 0.5em 0.3em 0 !important;

		a {
	  		color: $lightBlack;
	  		float: right;
	  		font-size: 12px;

	  		&:hover {
				text-decoration: underline;
	  		}
		}
  	}

  	@media only screen and (max-width: 1025px) {
		.fallacyExplanation {
	  		.header {
				font-size: 18px;
	  		}
		}
  	}

  	.explanation {
		white-space: pre-line;

		p {
	  		color: $white !important;
	  		font-size: 16px;
	  		margin: 0;
		}
  	}

  	.editTimesForm {
		margin-top: 12px !important;

		.fields {
	  		margin-bottom: 0;
		}

		.button {
	  		margin-top: 12px;
		}
  	}
}
