@import '../../../css/colors.scss';

.searchResults {
    .resultsCount {
        .ui.statistic {
            display: inline-block;
            float: right;
            margin-right: 3px;
        }
    }

    .ui.active.transition.visible.dimmer {
        background: $dimmer-background !important;
    }

    .resultsSegment, .linkAccountMsg, .emptyMsg  {
        margin-top: 14px !important;
    }
}
