/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.searchResults .resultsCount .ui.statistic {
  display: inline-block;
  float: right;
  margin-right: 3px; }

.searchResults .ui.active.transition.visible.dimmer {
  background: rgba(255, 255, 255, 0.8) !important; }

.searchResults .resultsSegment, .searchResults .linkAccountMsg, .searchResults .emptyMsg {
  margin-top: 14px !important; }
