.searchResults .resultsCount .ui.statistic {
  display: inline-block;
  float: right;
  margin-right: 3px; }

.searchResults .emptyMsg {
  background: #fff;
  margin-top: 8px !important;
  text-align: center; }

.searchResults .ui.active.transition.visible.dimmer {
  background: rgba(255, 255, 255, 0.8) !important; }

.searchResults .ui.items {
  margin-top: 15px !important; }
