@import '../../../css/colors.scss';

.searchResults {
    .resultsCount {
        .ui.statistic {
            display: inline-block;
            float: right;
            margin-right: 3px;
        }
    }

    .emptyMsg {
        background: $white;
        margin-top: 8px !important;
        text-align: center;
    }

    .ui.active.transition.visible.dimmer {
        background: $dimmer-background !important;
    }

    .ui.items {
        margin-top: 15px !important;
    }
}
