@import "../../../../css/colors.scss";

.ui.inverted.fallacySegment {
	background: lighten($invertedBackgroundColor, 3%) !important;

  	.header {
		color: $lightGrey;
   		margin-bottom: 5px;
  	}

  	p:not(.header) {
		&:not(:last-of-type) {
			margin-bottom: 12px !important;
		}
  	}

  	.captureScreenshot {
    	cursor: pointer;
  	}

  	&.click {
    	cursor: pointer;
  	}

  	.comments {
    	.comment {
      		.content {
        		.author, .text {
          			color: $white !important;
        		}
      		}
    	}
  	}

  	@media only screen and (max-width: 1025px) {
    	.header {
      		font-size: 18px !important;
    	}

    	.captureScreenshot {
      		display: none !important;
    	}
  	}
}
