/*---  Colors  ---*/
/*---  Light Colors  ---*/
/*---   Neutrals  ---*/
/*--- Twitter ---*/
/*---   Misc  ---*/
/*---   Social colors  ---*/
.ui.inverted.fallacySegment {
  background: #1a2835 !important;
  border-width: 2px !important; }
  .ui.inverted.fallacySegment .header {
    margin-bottom: 5px; }
  .ui.inverted.fallacySegment p:not(.header).description {
    font-weight: bold; }
  .ui.inverted.fallacySegment p:not(.header):not(:last-of-type) {
    margin-bottom: 12px !important; }
  .ui.inverted.fallacySegment.includeHeader p.description {
    color: #ffffff !important; }
  .ui.inverted.fallacySegment .captureScreenshot {
    cursor: pointer; }
  .ui.inverted.fallacySegment.click {
    cursor: pointer; }
  .ui.inverted.fallacySegment .comments .comment .content .author, .ui.inverted.fallacySegment .comments .comment .content .text {
    color: #ffffff !important; }
  @media only screen and (max-width: 1025px) {
    .ui.inverted.fallacySegment .header {
      font-size: 18px !important; }
    .ui.inverted.fallacySegment .captureScreenshot {
      display: none !important; } }
