@import '../../../css/colors.scss';

.aboutCard {
    margin-top: 15px !important;

    .editAboutIcon {
        cursor: pointer;
        float: right;
    }

    .editAboutIcon {
        color: $blue !important;
        cursor: pointer;
        display: none;
        float: right;

        &.close {
            color: $lightRed !important;
        }
    }

    &:hover {
        .editAboutIcon {
            display: inline;
        }
    }

    .description {
        word-wrap: break-word;
    }

    textarea {
        border: solid 1px $white !important;
        margin-bottom: 8px;
        width: 100%;
    }
}
