.youTubeVideo .youTubeTitle {
  background: transparent;
  margin-top: 7px; }

.youTubeVideo .channelCard {
  margin-bottom: 14px !important; }
  .youTubeVideo .channelCard.hasComment {
    margin-bottom: 0 !important; }
  .youTubeVideo .channelCard .content .header {
    font-size: 16px !important;
    font-weight: 400 !important; }
  .youTubeVideo .channelCard .content .meta {
    font-size: 12px !important; }
  .youTubeVideo .channelCard .content.extra {
    line-height: 1.5em;
    margin-top: 5px;
    padding-top: 10px !important; }
    .youTubeVideo .channelCard .content.extra .icon.archive {
      cursor: pointer;
      float: right;
      vertical-align: middle; }
    .youTubeVideo .channelCard .content.extra .archiveMsg {
      margin-bottom: 0 !important; }
      .youTubeVideo .channelCard .content.extra .archiveMsg a {
        color: #0097e6; }
        .youTubeVideo .channelCard .content.extra .archiveMsg a:hover {
          color: #0086cd; }

.youTubeVideo .videoPlayer {
  width: 100% !important; }

.youTubeVideo .stats .viewCount {
  float: left; }

.youTubeVideo .stats .likeCount {
  float: right; }

.youTubeVideo .toggleComments {
  float: right;
  fontSize: 18px;
  margin-right: 0; }

.youTubeVideo .emptyCommentMsg {
  text-align: center; }

.youTubeVideo .commentsSection {
  margin-top: 10px; }
  .youTubeVideo .commentsSection .comments {
    max-width: none !important; }
    .youTubeVideo .commentsSection .comments .comment {
      cursor: pointer;
      margin: 0; }
      .youTubeVideo .commentsSection .comments .comment .actions a {
        color: #2f3640; }
        .youTubeVideo .commentsSection .comments .comment .actions a .icon {
          color: #2196f3; }
        .youTubeVideo .commentsSection .comments .comment .actions a.youtubeLink:hover {
          text-decoration: underline; }
      .youTubeVideo .commentsSection .comments .comment .actions .likeComment {
        cursor: default !important; }

.youtubeCommentModal .comments .comment {
  cursor: pointer;
  margin: 0; }
  .youtubeCommentModal .comments .comment .actions a {
    color: #2f3640; }
    .youtubeCommentModal .comments .comment .actions a .icon {
      color: #2196f3; }
    .youtubeCommentModal .comments .comment .actions a.youtubeLink:hover {
      text-decoration: underline; }
  .youtubeCommentModal .comments .comment .actions .likeComment {
    cursor: default !important; }
