@import '../../../css/colors.scss';

.youTubeVideo {
    .youTubeTitle {
        background: transparent;
        margin-top: 7px;

        a {
            color: $blue;
        }
    }

    .channelCard {
        margin-bottom: 14px !important;

        &.hasComment {
            margin-bottom: 0 !important;
        }

        .content {
            .header {
                color: $blue;
                cursor: pointer;
                font-size: 16px !important;
                font-weight: 400 !important;

                &:hover {
                    text-decoration: underline;
                }
            }

            .meta {
                font-size: 12px !important;
            }

            &.extra {
                line-height: 1.5em;
                margin-top: 5px;
                padding-top: 10px !important;

                .icon.archive {
                    cursor: pointer;
                    float: right;
                    vertical-align: middle;
                }

                .archiveMsg {
                    margin-bottom: 0 !important;

                    a {
                        color: $vanadyl-blue;

                        &:hover {
                            color: darken($vanadyl-blue, 5%);
                        }
                    }
                }
            }
        }
    }

    .videoPlayer {
        width: 100% !important;
    }

    .stats {
        .viewCount {
            float: left;
        }

        .likeCount {
            float: right;
        }
    }

    .toggleComments {
        float: right;
        fontSize: 18px; 
        margin-right: 0;
    }

    .emptyCommentMsg {
        text-align: center;
    }

    .commentsSection {
        margin-top: 10px;

        .comments {
            max-width: none !important;

            .comment {
                cursor: pointer;
                margin: 0;

                .actions {
                    a {
                        color: $electromagnetic;

                        .icon {
                            color: $blue;
                        }

                        &.youtubeLink {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .likeComment {
                        cursor: default !important;
                    }
                }
            }
        }
    }
}

.youtubeCommentModal {
    .comments {
        .comment {
            cursor: pointer;
            margin: 0;

            .actions {
                a {
                    color: $electromagnetic;

                    .icon {
                        color: $blue;
                    }

                    &.youtubeLink {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .likeComment {
                    cursor: default !important;
                }
            }
        }
    }
}
