.resultItem {
  background: #ffffff;
  cursor: pointer; }
  .resultItem .meta {
    margin-top: 3px !important; }
    .resultItem .meta .label {
      background: #40739e !important;
      color: #ffffff; }
  .resultItem .content .description {
    white-space: pre-line; }
  .resultItem .extra .extraList {
    margin-bottom: 0;
    margin-top: 0; }
    .resultItem .extra .extraList .item {
      color: #2f3640;
      margin-bottom: 0 !important; }
      .resultItem .extra .extraList .item:nth-of-type(2) {
        margin-left: 8px !important; }
  .resultItem .extra .label {
    background: #487eb0 !important;
    color: #ffffff;
    font-weight: normal; }
  .resultItem .image img {
    border: none !important; }
  .resultItem .image .label.check {
    border-color: #44bd32; }
  .resultItem .image .label.close {
    border-color: #e84118; }
  .resultItem .image .label .icon {
    color: #ffffff;
    opacity: 0.8; }
