.resultItem {
  background: #ffffff;
  cursor: pointer; }
  .resultItem:hover {
    background: #f5f6fa !important; }
    .resultItem:hover .extraList .item {
      background: #f5f6fa; }
  .resultItem .meta {
    margin-top: 3px !important; }
    .resultItem .meta .label {
      background: #40739e !important;
      color: #ffffff; }
  .resultItem .content .description {
    white-space: pre-line; }
  .resultItem .extra .extraList {
    margin-bottom: 0;
    margin-top: 0; }
    .resultItem .extra .extraList .item {
      border: none !important;
      color: #2f3640;
      margin-bottom: 0 !important; }
      .resultItem .extra .extraList .item:nth-of-type(2) {
        margin-left: 8px !important; }
  .resultItem .image img {
    border-radius: 0 !important; }
