@import "../../../../../css/colors.scss";

.fallaciesList {
	width: 100%;

  	.emptyFallaciesContainer {
		text-align: center;
  	}

  	.targetMsg {
		background: lighten($invertedBackgroundColor, 5%);
		border: solid 1px $twitterExtraExtraLightGrey2;
		color: $white;

		.icon.crosshairs {
	  		color: $red;
		}

		.viewAllTargets {
	  		color: $lightBlue;
	  		cursor: pointer;

	  		&:hover {
				text-decoration: underline;
	  		}
		}
  	}

  	.cards {
		@media only screen and (max-width: 1025px) {
	  		margin-top: 10px;
		}

		&.one {
			margin: 0 !important;

			.card {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}

		.card {
	  		color: $white !important;

	  		.content {
				background: $invertedBackgroundColor;
				color: $white !important;
				word-break: break-word;

				.description {
		  			color: $lightGrey;
		  			max-height: 240px;
		  			overflow: hidden;
		  			white-space: pre-line;
				}
	  		}

	  		.extra {
		  		border-top: solid 1px $twitterExtraExtraLightGrey1 !important;
	  		}

	  		.image.parent {
				background: $blue !important;
				height: 300px !important;
				overflow-y: hidden;
				position: relative;
				width: 100%;
	  		}

	  		.one,
	  		.two {
				background-size: 300px;
				height: 300px;
				position: absolute;
				width: 65%;
	  		}

	  		.one {
				clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
				left: 0;
				top: 0;
				-webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
	  		}

		  	.two {
				clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
				right: 0;
				top: 0;
				-webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
	  		}
		}
  	}
}
